{% extends 'main/home.html' %}

{% block title %}Мои планы{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="col-md-12">
  <ul class="nav nav-tabs">
    <li{% if mode = 'mine' %} class="active"{% endif %}><a href="{% url 'plan_list' %}">Мои <span class="badge">{{ mine_count }}</span></a></li>
    <li{% if mode = 'created' %} class="active"{% endif %}><a href="{% url 'plan_list' %}?created">Созданные <span class="badge">{{ created_count }}</span></a></li>
    <li{% if mode = 'public' %} class="active"{% endif %}><a href="{% url 'plan_list' %}?public">Публичные <span class="badge">{{ public_count }}</span></a></li>
  </ul>

  {% if list %}
    {% include 'main/plan/list_table.html' %}
  {% else %}
  <div class="alert alert-info">
    <i>пусто</i>
  </div>
  {% endif %}
  <a class="btn btn-success pull-right" href="{% url 'plan_create' %}">
    <i class="fa fa-plus"></i> Создать план
  </a>
</div>
{% endblock %}