{% load staticfiles %}
<link href="{% static 'css/chat.css' %}?11" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/dateformat.js' %}"></script>
<script type="text/javascript">
var CHAT_SERVER_PORT = 5000;
</script>
<script type="text/javascript" src="{% static 'js/chat.js' %}?18"></script>

<div id="chatbox" class="well {% if request.COOKIES.chat_collapsed = '1' %}collapsed{% else %}mini{% endif %} hidden-xs">
  <audio id="audio" src="{% static 'audio/message.mp3' %}" ></audio>
  <div class="header">
    <span class="online-line"><i class="fa fa-comments"></i> Чат (<span class="online-count">0</span>)</span>
    <span class="connect-line"><i class="fa fa-spinner fa-pulse"></i> установка соединения</span>
    <span class="pull-right">
      <button class="btn btn-default btn-xs expand-button" onclick="chat.expand();" {% if request.COOKIES.chat_collapsed = '1' %}style="display:none"{% endif %}><i class="fa fa-expand"></i></button>
      <button class="btn btn-default btn-xs collapse-button" onclick="chat.collapse();"><i class="fa {% if request.COOKIES.chat_collapsed = '1' %}fa-caret-up{% else %}fa-caret-down{% endif %}"></i> свернуть</button>
    </span>
  </div>
  <div class="clearfix"></div>
  <div class="collapse-block" {% if request.COOKIES.chat_collapsed = '1' %}style="display:none"{% endif %}>
    <div>
      <div class="messages scroll">
        <table class="table table-striped">
        </table>
      </div>
      <div class="users scroll">
        <table class="table table-striped">
        </table>
      </div>
    </div>
    <form autocomplete="off">
      <div class="input-group">
        <input type="text" class="form-control input-sm" name="msg" placeholder="Сообщение..." disabled="disabled" data-emojiable="true">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-sm" disabled="disabled">Отправить</button>
        </span>
      </div>
    </form>
  </div>
</div>