{% load staticfiles %}
<a name="chatbox"></a>
<div id="fullsize_chatbox" class="well">
  <audio id="audio" src="{% static 'audio/message.mp3' %}" ></audio>
  <div class="header">
    <span class="online-line"><i class="fa fa-comments"></i> Чат (<span class="online-count">0</span>)</span>
    <span class="connect-line"><i class="fa fa-spinner fa-pulse"></i> установка соединения</span>
  </div>
  <div class="clearfix"></div>
  <div class="collapse-block">
    <div>
      <div class="messages col-md-8 scroll">
        <table class="table table-striped">
        </table>
      </div>
      <div class="users col-md-4 scroll">
        <table class="table table-striped">
        </table>
      </div>
    </div>
    <form autocomplete="off">
      <div class="input-group">
        <input type="text" class="form-control input-sm" name="msg" placeholder="Сообщение...">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default btn-sm">Отправить</button>
        </span>
      </div>
    </form>
  </div>
</div>