<script>
var settings_{{ id }} = {{ settings|safe }};
</script>
<iframe id="{{ id }}_iframe" test="test" src="{{ src }}" frameborder="0" {{ attrs }} width="{{ width }}" height="{{ height }}" style="height: {{ height }}px;"></iframe>
