{% load subdomain_urls %}

<li class="favorite">
  {% if f.type == 'plan' %}
    <a href="{% url 'plan' 'ws' f.obj.id %}" style="padding-right:40px"
       class="favorite-{{ f.type }}-{{ f.id }}" target="_blank">
      <i class="fa fa-table"></i> {{ f.obj.name }}
      <i class="fa fa-trash" style="position:absolute;right:10px;padding-top:3px;"
         onclick="del_favorite('{{ f.type }}', '{{ f.id }}');event.preventDefault();"></i>
    </a>
  {% elif f.type == 'spm' %}
    <a href="{% url 'spm_show' 'ws' f.obj.id %}" style="padding-right:40px"
       class="favorite-{{ f.type }}-{{ f.id }}" target="_blank">
      <i class="fa fa-medkit"></i> {{ f.obj.name }}
      <i class="fa fa-trash" style="position:absolute;right:10px;padding-top:3px;"
         onclick="del_favorite('{{ f.type }}', '{{ f.id }}');event.preventDefault();"></i>
    </a>
  {% endif %}
</li>
