{% load subdomain_urls %}
{% load thumbnail %}

<span class="like_{{ id }} like-widget">
  <i class="like-icon fa {% if is_active %}fa-heart{% else %}fa-heart-o{% endif %}" onclick="likeToggle('{{ id }}');" style="cursor: pointer;"></i>
  {{ count }}
  <div class="head hide"><a href="javascript:showLikes('{{ id }}')">Понравилось {{ count }} людям</a></div>
  <div class="content hide">
    {% for u in users %}
      {% thumbnail u.avatar "50x50" crop="center" as im %}
      {% spaceless %}
      <a href="{% url 'profile_show' 'ws' u.username %}" title="{{ u.fullname }}">
        <img class="img-circle" src="http://ws.last-man.org{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      </a>
      {% endspaceless %}
      {% endthumbnail %}
    {% endfor %}
  </div>
</span>