<div class="modal fade" id="modal_like_list" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Список пользователей, кому это понравилось</h4>
      </div>
      <div class="modal-body" style="overflow-y:auto;max-height:400px;padding:0px;">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" class="close" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->