{% load my_filters %}
{% load thumbnail %}
{% load subdomain_urls %}

{% for like in likes %}
<div class="col-md-4" style="text-align: center">
  {% thumbnail like.user.get_avatar "100x100" crop="center" as im %}
  <img class="img-circle" src="http://ws.last-man.org{{ im.url }}" width="100" height="100"><br>
  {% endthumbnail %}
  <a style="white-space:nowrap;display:block;text-overflow:ellipsis;overflow:hidden;" href="{% url 'profile_show' 'ws' like.user.username %}">{{ like.user.fullname }}</a>
  {{ like.created_at|my_naturaltime }}
</div>
{% endfor %}