{% extends 'main/home.html' %}
{% load my_filters %}
{% load subdomain_urls %}

{% block title %}Уведомления{% endblock %}

{% block scripts %}
  <style>
   .cmeta {
     opacity: 0.6;
   }
  </style>
{% endblock %}

{% block content %}
  {% for n in notifications %}
    <div class="col-md-12 well">
      {% if n.verb == 'forum_thread_answer' %}
        {% include 'profile/notification_avatar.html' with user=n.target.user %}
        <div style="word-wrap: break-word;">
          <div style="padding-left:110px">
            <b><a href="{% url 'profile_show' 'ws' n.target.user.username %}">{{ n.target.user.fullname }}</a></b>
            написал ответ в вашу ветку
            <div onclick="window.location.href='{% url 'forum_thread' 'forum' n.target.thread.id n.target.thread.slug %}'" style="cursor: pointer">
              {{ n.target.content|striptags|truncatechars:200 }}
            </div>
            <div class="cmeta">{{ n.created_at|my_naturaltime }}</div>
          </div>
        </div>
      {% elif n.verb == 'forum_answer' %}
        {% include 'profile/notification_avatar.html' with user=n.target.user %}
        <div style="word-wrap: break-word;">
          <div style="padding-left:110px">
            <b><a href="{% url 'profile_show' 'ws' n.target.user.username %}">{{ n.target.user.fullname }}</a></b> ответил на ваше сообщение
            <div onclick="window.location.href='{% url 'forum_thread' 'forum' n.target.thread.id n.target.thread.slug %}'" style="cursor: pointer">
              {{ n.target.content|striptags|truncatechars:200 }}
            </div>
            <div class="cmeta">{{ n.created_at|my_naturaltime }}</div>
          </div>
        </div>
      {% elif n.verb == 'open_trains' %}
        <div style="word-wrap: break-word;">
          Открыто {{ n.get_data.count }} тренировок для плана <b><a href="{% url 'plan' 'ws' n.target.id %}">{{ n.target.name }}</a></b>
          <div class="cmeta">{{ n.created_at|my_naturaltime }}</div>
        </div>
      {% elif n.verb == 'forum_message_like' %}
        {% include 'profile/notification_avatar.html' with user=n.target.user %}
        <div style="word-wrap: break-word;">
          <div style="padding-left:110px">
            <b><a href="{% url 'profile_show' 'ws' n.target.user.username %}">{{ n.target.user.fullname }}</a></b>
            понравилось ваше сообщение
            <div onclick="window.location.href='{% url 'forum_thread' 'forum' n.target.target.thread.id n.target.target.thread.slug %}'" style="cursor: pointer">
              {{ n.target.target.content|striptags|truncatechars:200 }}
            </div>
            <div class="cmeta">{{ n.created_at|my_naturaltime }}</div>
          </div>
        </div>
      {% else %}
      {% endif %}
    </div>
  {% empty %}
    <div class="col-md-12 well">
      У вас нет уведомлений.
    </div>
  {% endfor %}
{% endblock %}