{% extends 'main/home.html' %}
{% load bootstrap3 %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#id_timezone').select2();
})
</script>
{% endblock %}

{% block title %}
Редактирование профиля
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Редактирование профиля</h3>
</div>
<div class="col-md-12">
  <div class="well">
    <form method="POST" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group pull-right">
        <button type="submit" class="btn btn-success">Сохранить</button>
      </div>
      <div class="clearfix">
      </div>
    </form>
  </div>
</div>
{% endblock %}