{% load my_filters %}

{% if user.is_banned %}
  <div title="забанен {{ user.banned_at|my_naturaltime }} за {{ user.get_ban_reason }}">
    <i class="fa fa-ban" alt="забанен"></i>
    <small>{{ user.get_rank }}</small>
  </div>
{% elif user.is_moderator%}
  <div title="модератор">
    <i class="fa fa-star"></i>
    <small>{{ user.get_rank }}</small>
  </div>
{% else %}
  <div>
    <small>{{ user.get_rank }}</small>
  </div>
{% endif %}
