{% extends 'main/home.html' %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load my_filters %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<div class="col-md-12">
  {% breadcrumbs_block %}

  <form class="well" method="GET">
    {% bootstrap_form form %}
    <div class="form-group">
      <button type="submit" class="btn btn-default pull-right" name="search">Поиск</button>
    </div>
    <div class="clearfix"></div>
  </form>

  <table class="table table-striped">
    {% for user in list %}
      <tr>
        <td>
          <a href="{% url 'profile_show' user.username %}">
            {% if user.avatar %}
              {% thumbnail user.get_avatar "50x50" crop="center" as im %}
                <img class="avatar img-circle" src="http://ws.last-man.org{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            {% else %}
              <img class="avatar img-circle" src="/static/img/unknown.jpg" width="50" height="50">
            {% endif %}
          </a>
        </td>
        <td>
          <a href="{% url 'profile_show' user.username %}">
            {{ user.fullname }}
          </a>
        </td>
        <td>
          {% include 'profile/rank_with_icon.html' with user=user %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% include 'main/pagination.html' %}
</div>
{% endblock %}