{% extends 'main/home.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Статистика веса{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/dark-unica.js' %}"></script>
<script type="text/javascript">
Highcharts.setOptions({
            lang: {
                loading: 'Загрузка...',
                months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                exportButtonTitle: "Экспорт",
                printButtonTitle: "Печать",
                rangeSelectorFrom: "С",
                rangeSelectorTo: "По",
                rangeSelectorZoom: "Период",
                downloadPNG: 'Скачать PNG',
                downloadJPEG: 'Скачать JPEG',
                downloadPDF: 'Скачать PDF',
                downloadSVG: 'Скачать SVG',
                printChart: 'Напечатать график'
            }
    });
$(function () {
    $('#plot').highcharts({
        title: {
            text: 'Вес',
        }, chart: {
            type: 'spline'
        },
        rangeSelector: {
            selected: 1
        },
        xAxis: {
            type: 'datetime',
            
            title: {
                text: 'Дата'
            }
        },
        yAxis: {
            title: {
                text: 'Вес, кг'
            },
            endOnTick: false,
            startOnTick: false
        },
        series: [{
            showInLegend: false,
            data: [
                {% for r in records %}
                [Date.UTC({{ r.date.year }}, {{ r.date.month|add:"-1" }}, {{ r.date.day }}), {{ r.value }}],
                {% endfor %}
            ]
        }]
    });
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-4">
  <form class="well" method="POST">
    <h4>Взвеситься</h4>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <button type="submit" class="btn btn-default pull-right">Сохранить</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
<div class="col-md-8">
  {% if records %}
  <div id="plot"></div>
  {% else %}
  <div class="alert alert-danger">Отсутствуют данные о весе. Чтобы добавить используйте форму справа.</div>
  {% endif %}
</div>
{% endblock %}