{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}Видео раздел{% endblock%}

{% block content %}
  <div class="col-md-12">
    <div class="well">

<b>Бразеры!</b>

<p>С радостью сообщаем: с сегодняшнего дня в WorkSpace появилась возможность прикреплять видео-ролики с Вашими упражнениями!</p>
<p>Вы можете прикреплять видео к выбранному подходу по любому из упражнений Вашего плана или просто сохранить свои видео и иметь к ним доступ прямо из WorkSpace.</p>
<p>Воспользоваться новым разделом можно несколькими способами:</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Добавить видео к определенному подходу в web-версии WorkSpace.
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>1.1. На странице Вашего плана выберите нужный подход в нужном упражнении и нажмите на нем правую кнопку.</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/pVrq.png"></p>
        <p>1.2. В появившемся контекстном меню выберите № подхода, к которому необходимо прикрепить видео. </p>
        <p>1.3. Выберите способ загрузки видео: загрузить файл с компьютера или добавить видео с Youtube</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/wuqD.png"></p>
        <p>1.4. После добавления видео, необходимо заполнить информацию о нем. Добавьте информацию о типе упражнения, описание и название, а так же выберите - будет ли данное видео доступно только для Вас или для всех желающих</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/jM1Z.png"></p>
        <p>1.5. Теперь ваше видео можно увидеть на странице плана. Чтобы просмотреть нажмите на соответствующую иконку <i class="fa fa-film"></i></p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/6CiA.png"></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Добавить видео к определенному подходу в мобильной версии WorkSpace или мобильном приложении.
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>2.1. Перейдите в раздел "Тренировки":</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/QXXu.png"></p>
        <p>2.2. Приступите к выполнению тренировки </p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/HUTm.png"></p>
        <p>2.3. Нажмите на нужном подходе выбранного упражнения и в контекстном меню выберите "Добавить видео".</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/lKds.png"></p>
        <p>Выберите источник видео и дождитесь загрузки на сервер.</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/42fg.png"></p>
        <p> Теперь Вы можете увидеть иконку загруженного видео напротив выбранного подхода. </p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/dC8M.png"></p>
        <p>2.4. Видео так же сохранится в разделе "Мои Видео" </p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/MJ3x.png"></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Добавить видео выполнения упражнения в WorkSpace, не привязывая его к определенному подходу:
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>3.1. На странице Вашего Плана в верхнем правом углу нажмите на Ваш логин. Появится панель инструментов.<br>Здесь нас интересует раздел "Мои Видео"</p>
        <img align="center" src="http://i7.5cm.ru/i/vcNC.png">
        <p>При клике на раздел Вы можете выбрать способ загрузки видео: загрузить файл с компьютера или добавить видео с Youtube </p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/wuqD.png"></p>
        <p>3.2. После добавления видео, необходимо заполнить информацию о нем. Добавьте информацию о типе упражнения, описание и название, а так же выберите - будет ли данное видео доступно только для Вас или для всех желающих</p>
        <p style="text-align:center"><img align="center" src="http://i7.5cm.ru/i/7EjD.png"></p>
        <p>3.3. Поздравляем, Ваше видео загружено! </p>
      </div>
    </div>
  </div>
</div>
<h4>Инструмент проходит фазу активного тестирования.<br>
Будем крайне признательны за конструктивную критику и помощь в его улучшении!</h4>


    </div>
  <div>
{% endblock%}