{% extends 'main/home.html' %}
{% load cache %}

{% block title %}Список упражнений{% endblock %}

{% block scripts %}
<script type="text/javascript">
function search() {
  var group_id = $('#search select').val();
  var name = $('#search input').val().toLowerCase();
  
  $('#exercise_list').show();
    
  if (group_id == -1) {
    $('#exercise_list .exercise').show();
  } else {
    $('#exercise_list .exercise').hide();
    $('#exercise_list .proposed').show();
    $('#exercise_list .group_'+group_id).show();
  }

  $('#exercise_list .exercise:visible').each(function(){
    if ($(this).find('.name').text().toLowerCase().search(name) < 0) {
      $(this).hide();
    }
  })
  if ($('#exercise_list .exercise:visible').length == 0) {
    $('#add_form input[name="name"]').val(name);
  }
};
$(document).ready(function(){
  $('#search input').focus();
  search();
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Упражнения</h3>
</div>

<div class="col-md-12">
  <form class="well" id="search">
    <div class="form-group col-md-3 col-sm-4">
      <select class="form-control" onchange="search();">
        <option value="-1" {% if group_id == -1 %}selected="selected"{% endif %}>Все</option>
        {% for g in groups %}
        <option value="{{ g.id }}" {% if group_id == g.id %}selected="selected"{% endif %}>{{ g.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-9 col-sm-8">
      <input type="text" class="form-control" onkeyup="search();" value="{{ name }}" placeholder="Введите название">
    </div>
    <div class="clearfix"></div>
  </form>
</div>

<div class="col-md-12">
  
  <table class="table" id="exercise_list">
    <thead>
      <th>Группа</th>
      <th>#</th>
      <th>Название</th>
      <th>Зависимость</th>
    </thead>
    <tbody>
      {% for obj in list %}
        <tr class="exercise group_{{ obj.group_id }}">
          <td>{{ obj.group.name }}</td>
          <td>{{ obj.id }}</td>
          <td><a href="{% url 'exercise_show' obj.id %}" class="name">{{ obj.name }}</a></td>
          <td>
            {% if obj.parent %}
              {{ obj.parent.name }} * {{ obj.parent_rate|floatformat:2 }}
            {% else %}
            <i class="fa fa-ban"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}