{% extends 'main/home.html' %}
{% load cache %}

{% block title %}Мои упражнения{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Мои упражнения</h3>
</div>

<div class="col-md-12">

  {% if list %}
    <table class="table" id="exercise_list">
      <thead>
        <th>#</th>
        <th>Название</th>
      </thead>
      <tbody>
        {% for obj in list %}
          <tr >
            <td>{{ obj.id }}</td>
            <td><a href="{% url 'exercise_show' obj.id %}" class="name">{{ obj.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">
      <i>Вы не создавали новых упражнений. Создать упражнение можно на странице плана.</i>
    </div>
  {% endif %}
</div>
{% endblock %}