{% extends 'main/home.html' %}

{% block title %}{{ obj.name|lower }}{% endblock %}

{% block content %}
<div class="col-md-12 well">
  <h3>{{ obj.name }}</h3>
  <div>
  	{% if obj.content %}
      {% autoescape off %}
      {{ obj.content }}
      {% endautoescape %}
    {% else %}
      <i>Информация по упражнению отсутствует. Раздел будет заполнен в ближайшее время.</i>
    {% endif %}
  </div>
</div>
{% endblock %}