{% extends 'main/home.html' %}
{% load staticfiles %}
{% block title %}База СПМ{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="alert alert-info">
    Выберите одну из существующих схем приема медикаментов (СПМ) ниже, либо создайте СПМ самостоятельно.</p>
  </div>
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <th>Название</th>
      <th>Длительность</th>
      <th>Уровень</th>
      <th>Препараты</th>
    </thead>
    <tbody>
      {% for obj in list %}
        <tr>
          <td><a href="{% url 'spm_scheme_show' obj.course.num %}">{{ obj.course.name }}</a></td>
          <td>{{ obj.course.short_desc }}</td>
          <td>{{ obj.course.level }}</td>
          <td>
            {% for drug in obj.drugs.values %}
            <a href="{% url 'drug_show' drug.id %}" target="_blank">{{ drug.name }}</a>,
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-success pull-right auth-check" data-message="Авторизируйтесь, чтобы создать схему приема медикаментов." href="{% url 'spm_create' %}">
    <i class="fa fa-plus"></i> Создать СПМ
  </a>
</div>

<div class="clearfix"></div>

<div class="col-md-12">
  <div class="well">
  <h4>Внимание!</h4>
  Проект LastManStanding является сторонником соблюдения этики спорта и следования антидопинговым правилам международных
  организаций. Указанные схемы применения медикаментов (СПМ), включающие анаболические препараты, приводятся исключительно для ознакомления и не являются рекомендацией
  к применению указаных фармакологических средств.
  </div>
</div>

{% endblock %}