{% extends 'main/home.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}{{ obj.name }}{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scheme.js' %}"></script>
{% endblock %}

{% block content %}
<div class="modal fade" id="modal_loading" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-lg fa-spinner fa-pulse"></i>&nbsp;Загрузка</h4>
      </div>
      <div class="modal-body">
        <p>Подождите пожалуйста, создается Ваша схема приема медикаментов.<br>После создания схема откроется автоматически.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal_info" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Информация</h4>
      </div>
      <div class="modal-body">
        <p>Схема приема медикаментов (СПМ), на ряду с <a href="{% url 'cycle_list' %}" target="_blank">СРЦ</a>, - одна из единиц циклирования в LMS Workspace. В отличие от СРЦ, СПМ призваны регламентировать фармакологическую составляющую режима атлета, предоставить различные графики применения всевозможных анаболических средств из числа аптечных препаратов, продуктов из линейки спортивного питания и других средств, обладающих анаболическим эффектом и выраженным влиянием на ход тренировочного процесса.</p>
        <p>Необходимо обратить внимание пользователей на то, что указанные схемы приводят к желаемому эффекту только в том случае, если соблюдается схема их приема и указанные дозировки. Прежде чем начать внедрение определенной схемы, необходимо проконсультироваться с врачом или самостоятельно исследовать указанные медицинские препараты на предмет противопоказаний и побочных эффектов. Помните, что любой медицинский препарат, на ряду с активацией и ускорением одних функций организма, способен негативно повлиять на другие, поэтому важно исследовать всесторонне влияние тех или иных средств или проконсультироваться со специалистом.</p>
        <p>Обращаем ваше внимание, что указанные схемы использования являются общими и в малой степени индивидуализированы. Для учета всех индивидуальных особенностей и пожеланий атлета при составлении полноценного курса, ориентированного на значительное влияние на тренировочный процесс, лучше всего обращаться к специалистам.</p>
        <p>Главный специалист в вопросах использования анаболических средств и решения проблем со здоровьем от LMS – <a href="https://vk.com/sashan_from_do4a_com" target="_blank">Сашан</a>.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" onclick="read_info=true;$('#modal_info').modal('hide');$('#spm_form').submit();">Я внимательно ознакомился, и согласен с каждым пунктом.</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="col-md-4 tab-pane">
  <h3>{{ obj.name }}</h3>
  {% if obj.description %}
    <div class="alert alert-info">{{ obj.description }}</div>
  {% endif %}
  <form id="spm_form" class="well" method="post" action="{% url 'spm_scheme_create' obj.num %}">
    <div id="spm_fields">
    {% csrf_token %}
    {% bootstrap_form form %}
    </div>
    <div class="form-group">
      <button class="btn btn-info btn-lg" style="width:100%" onclick="show_detail(this);" type="button">Показать подробно</button>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg" style="width:100%">Создать СПМ</button>
    </div>
  </form>
</div>
<div class="col-md-8 tab-pane" id="spm_table">
  {% autoescape off %}
  {{ table }}
  {% endautoescape %}
</div>
{% endblock %}