{% extends 'main/home.html' %}
{% load my_filters %}
{% load bootstrap3 %}

{% block title %}{{ topic.title }}{% endblock %}

{% block header %}
  {{ block.super }}
  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ topic.title }}</h2>
          <h4>создать тему</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}
        
        {% load widget_tweaks %}
        <!-- Form Comment -->
        <div class="respond well">
        <!-- Form title -->
         <div class="title"><h4>Создать тему</h4></div>
         <!-- Comment form -->
         <div class="form">
           <form class="form-horizontal" method="post">
             {% csrf_token %}
             <div class="form-group">
               <label class="control-label col-md-3">Заголовок</label>
               <div class="col-md-6">
                {{ form.title|attr:"class:form-control" }}
                <p class="help-block">{{ form.title.errors }}</p>
               </div>
             </div>
             <div class="form-group">
               <label class="control-label col-md-3">Сообщение</label>
               <div class="col-md-9">
                {{ form.content }}
                {% if form.content.errors %}<div class="alert alert-danger">{{ form.content.errors }}</div>{% endif %}
               </div>
             </div>
             <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
               <button type="submit" class="btn btn-default">Создать</button>
              </div>
             </div>
           </form>
         </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}