{% extends 'main/home.html' %}
{% load my_filters %}
{% load staticfiles %}
{% load forum_widgets %}
{% load subdomain_urls %}

{% block title %}{{ title }}{% endblock %}

{% block scripts %}
  <script>
    urls = {
      'api_like_toggle': "{% url 'api_like_toggle' 'api' %}",
      'api_like_list': "{% url 'api_like_list' 'api' %}"
    };
    $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show')
    })
  </script>
  <script src="{% static 'js/likes.js' %}"></script>
  <script src="{% static 'js/forum.js' %}"></script>
{% endblock %}

{% block header %}
  {{ block.super }}
  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ title }}</h2>
          {% if description %}
          <h4>{{ description }}</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include 'profile/like_list_modal.html' %}
  {% include 'forum/modal_image.html' %}
  <div class="content">
    <div class="container forum">
      <div class="row">
        {% include 'main/stat.html' %}
      </div>
      <div class="row">
        <div class="col-md-8">
          <!-- Comments block -->
          <div class="messages">
            <!-- Comment title -->
            {% for thread in threads %}
              {% include 'forum/post.html' with m=thread.top_message %}
            {% endfor %}
            {% include 'main/pagination.html' with list=threads %}
          </div>
        </div>
        <div class="col-md-4">
          <table class="table table-bordered">
            {% for topic in topics %}
            <tr>
              <td>
                <a href="{% url 'forum_topic' 'forum' topic.id topic.slug %}" class="title"
                   style="font-size: 20px;">{{ topic.title }}</a>
                {% if topic.view_count %}
                  <div class="pull-right">
                    <i class="fa fa-eye"></i> {{ topic.view_count }}
                  </div>
                {% endif %}
                <div>
                  {% if topic.topic_count %}Подразделов: {{ topic.topic_count }}&nbsp;{% endif %}
                  {% if topic.thread_count %}Тем: {{ topic.thread_count }}&nbsp;{% endif %}
                  {% if topic.message_count %}Сообщений: {{ topic.message_count }}&nbsp;{% endif %}
                <div>
              </td>
            </tr>
            {% endfor %}
          </table>
          {% if request.user.is_authenticated and request.user.blog_topic %}
            <a class="btn btn-lg btn-success" style="width:100%;margin-bottom:20px;"
               href="{% url 'forum_topic' 'forum' request.user.blog_topic.id request.user.blog_topic.slug %}">Открыть личный блог</a>
          {% else %}
            <a class="btn btn-lg btn-success" style="width:100%;margin-bottom:20px;"
               href="{% url 'forum_create_blog' 'forum' %}">Создать личный блог</a>
          {% endif %}

          {% last_messages_widget %}

        </div>
    </div>
  </div>
{% endblock %}