{% load subdomain_urls %}
{% load thumbnail %}

<style>
  .last-message-content img {
    max-width: 100%;
    max-height: 100%;
  }
  .last-message-content {
    cursor:pointer;
  }
</style>
<div class="well">
  <div style="font-size:22px;">Последние сообщения</div>
  {% for message in last_messages %}
    <div style="margin-bottom:20px;">
      <div style="display: block;float: left;position: relative;">
        {% thumbnail message.user.get_avatar "50x50" crop="center" as im %}
          <a href="{% url 'profile_show' 'ws' message.user.username %}">
            <img class="img-circle" src="http://ws.last-man.org{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          </a>
        {% endthumbnail %}
      </div>
      <div style="word-wrap: break-word;">
        <div style="padding-left:60px">
          <b><a href="{% url 'profile_show' 'ws' message.user.username %}">{{ message.user.fullname }}</a></b>

          {% autoescape off %}
            <div onclick="window.location='{% url 'forum_thread' 'forum' message.thread.id message.thread.slug %}#{{ message.id }}'"
              class="last-message-content">
            {{ message.content|truncatechars_html:300 }}
            </div>
          {% endautoescape %}
          <u>
            <a href="{% url 'forum_thread' 'forum' message.thread.id message.thread.slug %}#{{ message.id }}'">
              &laquo;{{ message.thread.title }}&raquo;
            </a>
          </u>
          <div style="opacity: 0.6">{{ message.created_at|my_naturaltime }}</div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>