{% extends 'main/home.html' %}
{% load widget_tweaks %}
{% load subdomain_urls %}

{% block scripts %}
{{ form.media }}
{% endblock %}

{% block title %}Редактирование сообщения{% endblock %}

{% block content %}
<div class="col-md-12">
    <!-- Form message -->
    <div class="respond well">
    <!-- Form title -->
     <div class="title"><h4>Редактирование сообщения</h4></div>
     <!-- message form -->
     <div class="form">
       <form class="form-horizontal" method="post" id="message_form">
          {% csrf_token %}
          {{ form.reply_to }}
          {% if form.reply_to.errors %}<div class="alert alert-danger">{{ form.reply_to.errors }}</div>{% endif %}
           <div class="form-group" id="reply_message" style="display:none">
             <label class="control-label col-md-3">Ответить</label>
             <div class="col-md-9">
                <div class="input-group">
                  <input type="text" class="form-control" disabled="disabled">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="resetReply();">
                      <i class="fa fa-close"></i>
                    </button>
                  </span>
                </div>
             </div>
           </div>
           <div class="form-group">
             <div class="col-md-12">
              {{ form.content }}
              {% if form.content.errors %}<div class="alert alert-danger">{{ form.content.errors }}</div>{% endif %}
             </div>
           </div>
           <div class="form-group">
            <div class="col-md-12">
              <div class="pull-right">
                <button type="submit" class="btn btn-success" id="send_button">Сохранить</button>
                <a class="btn btn-default" href="{% url 'forum_thread' 'forum' message.thread.id message.thread.slug %}">Отмена</a>
              </div>
            </div>
           </div>
       </form>
     </div>
    </div>
</div>
{% endblock %}