{% load staticfiles %}
{% load thumbnail %}
{% load my_filters %}
{% load likes %}
{% load subdomain_urls %}

<div class="message">
  <a name="{{ m.id }}"></a>
  <!-- Author -->
  <div class="message-author">
    {% spaceless %}
    <a href="{% url 'profile_show' 'ws' m.user.username %}">
      <!-- Avatar -->
      {% thumbnail m.user.get_avatar "100x100" crop="center" as im %}
        <img class="avatar img-circle" src="http://ws.last-man.org{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
    </a>
    {% endspaceless %}
    <br>

    <a href="{% url 'profile_show' 'ws' m.user.username %}">{{ m.user.fullname }}</a>
    {% include 'profile/rank_with_icon.html' with user=m.user %}
  </div>

  <div class="message-content">
    {% autoescape off %}
    {{ m.get_content }}
    {% endautoescape %}

    {% if social_buttons %}
      <div style="padding-bottom:10px">
        {% include 'main/social_buttons.html' with title=thread.title description=thread.top_message.content|striptags  %}
      </div>
    {% endif %}

    <div class="cmeta">
      {% like_widget m request.user %}
    </div>
    <div class="message-meta">
      {% include 'forum/message_admin.html' %}
      {{ m.created_at|my_naturaltime }}
      <a href="#">#{{ m.id }}</a>
    </div>
  </div>
</div>