{% if messages %}
  {% if messages.has_next %}
    <button onclick="show_prev(this, {{ message.id }}, {{ messages.next_page_number }})" class="btn btn-default" style="width:100%">
      Показать последние {{ messages.end_index }} из {{ messages.paginator.count }} сообщений
    </button>
  {% endif %}
  {% for m in messages.object_list %}
    {% include 'forum/message.html' %}
    {% if not forloop.last %}
      <div class="clearfix"></div>
      <hr style="margin: 0px;"/>
    {% endif %}
  {% endfor %}
{% endif %}