{% load subdomain_urls %}

<span class="message-admin">
  {% if request.user.is_authenticated and not m.show_on_top %}
    <a class="btn btn-xs btn-success" href="javascript:reply({{ m.id }}, '{{ m.user.fullname }}');">ответить</a>
  {% endif %}
  {% if request.user.is_authenticated and m.user_id == request.user.id and m.can_edit %}
    <a class="btn btn-xs btn-default" href="{% url 'admin_message_edit' 'forum' m.id %}"><i class="fa fa-pencil"></i> ред.</a>
  {% endif %}
  {% if request.user.is_moderator %}
    <a class="btn btn-xs btn-default"
       href="javascript:if (confirm('Точно удалить? Удалиться вся ветка ответных сообщений!')) window.location.href='{% url 'admin_message_delete' 'forum' m.id %}';"
       title="удалить">
      <i class="fa fa-close"></i>
    </a>
    {% if m.show_on_main %}
      <a class="btn btn-xs btn-default"
         href="javascript:if (confirm('Убрать пост с главной?')) window.location.href='{% url 'admin_message_on_main_toggle' 'forum' m.id %}';"
         title="убрать с главной">
        <i class="fa fa-ban"></i>
      </a>
    {% else %}
      <a class="btn btn-xs btn-default"
         href="javascript:if (confirm('Поместить пост на главную?')) window.location.href='{% url 'admin_message_on_main_toggle' 'forum' m.id %}';"
         title="поместить на главную">
        <i class="fa fa-star"></i>
      </a>
    {% endif %}
  {% endif %}
</span>
