<!-- Modal image -->
  <div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Изображение</h4>
        </div>
      <div class="modal-body">
        <img id="img" src="" class="img-responsive img-thumbnail">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default pull-left">
          <i class="fa fa-arrow-left"></i> назад
        </button>
        <button class="btn btn-default pull-right">
          <i class="fa fa-arrow-right"></i> вперед
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->