{% load staticfiles %}
{% load thumbnail %}
{% load my_filters %}
{% load likes %}
{% load subdomain_urls %}

<div class="well" style="box-shadow: 1px 1px 2px black, 0 0 1em red;">
  <a class="pull-right" href="{% url 'forum_topic' 'forum' thread.topic.id thread.topic.slug %}"
    style="font-style:italic;">
    {% for t in thread.topic.get_ancestors %}
      {{ t.title }} /
    {% endfor %}
    {{ thread.topic.title }}
  </a>
  <div style="font-size: 24px;">
    <a href="{% url 'forum_thread' 'forum' thread.id thread.slug %}">{{ thread.title }}</a>
  </div>
  <div class="message-content">
    {% autoescape off %}
    {{ m.get_content|truncatechars_html:500 }}
    {% endautoescape %}
    <div class="pull-left">
      <a class="btn btn-default btn-sm" href="{% url 'forum_thread' 'forum' thread.id thread.slug %}">Читать полностью</a><br>
      <i class="fa fa-comments"></i> {{ thread.message_count|add:-1 }}&nbsp;
      {% like_widget m request.user %}
      <i class="fa fa-eye"></i> {{ thread.view_count }}&nbsp;
    </div>
  </div>
  <div class="pull-right">
    {% thumbnail m.user.get_avatar "50x50" crop="center" as im %}
    {% spaceless %}
      <a href="{% url 'profile_show' 'ws' m.user.username %}">
        <img class="img-circle" src="http://ws.last-man.org{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      </a>
    {% endspaceless %}
    {% endthumbnail %}
    <a href="{% url 'profile_show' 'ws' m.user.username %}">{{ m.user.fullname }}</a>&nbsp;<br>
  </div>
  <div class="clearfix"></div>
</div>