{% load subdomain_urls %}

<table class="table table-bordered">
  <thead>
    <th width="1%"></th>
    <th width="60%">Раздел</th>
    <th width="40%">Последнее сообщение</th>
  </thead>
  {% for topic in topics %}
  <tr>
    <td>
      <i class="fa fa-comments fa-3x"></i>
    </td>
    <td>
      <a href="{% url 'forum_topic' 'forum' topic.id topic.slug %}" class="title"
         style="font-size: 20px;">{{ topic.title }}</a>
      {% if topic.view_count %}
        <div class="pull-right">
          <i class="fa fa-eye"></i> {{ topic.view_count }} ({{ topic.last_view|my_naturaltime }})
        </div>
      {% endif %}
      <div>
        {% if topic.topic_count %}Подразделов: {{ topic.topic_count }}&nbsp;{% endif %}
        {% if topic.thread_count %}Тем: {{ topic.thread_count }}&nbsp;{% endif %}
        {% if topic.message_count %}Сообщений: {{ topic.message_count }}&nbsp;{% endif %}
      <div>
    </td>
    <td>
    {% if topic.last_message %}
      {{ topic.last_message.content|striptags|truncatechars:40 }}<br>
      <a href="{% url 'profile_show' 'ws' topic.last_message.user.username %}">{{ topic.last_message.user.fullname }}</a>
      {{ topic.last_message.created_at|my_naturaltime }}
    {% else %}
    ---
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>