{% extends 'main/home.html' %}
{% load my_filters %}
{% load subdomain_urls %}

{% block title %}{{ title }}{% endblock %}

{% block scripts %}
  <script>
    $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show')
    })
  </script>
{% endblock %}

{% block header %}
  {{ block.super }}
  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ title }}</h2>
          {% if description %}
          <h4>{{ description }}</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container forum">
      <div class="row">
        <div class="col-md-12">

          {% breadcrumbs_block %}

          {% include 'forum/subtopic_list.html' %}

          {% if request.user.is_authenticated %}
            {% if topic.id == 3 %}
              {% if request.user.blog_topic %}
                <a class="btn btn-lg btn-success" href="{% url 'forum_topic' 'forum' request.user.blog_topic.id request.user.blog_topic.slug %}">Открыть личный блог</a>
              {% else %}
                <a class="btn btn-lg btn-success" href="{% url 'forum_create_blog' 'forum' %}">Создать личный блог</a>
              {% endif %}
            {% endif %}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}