{% extends 'main/home.html' %}
{% load staticfiles %}
{% load my_filters %}
{% load subdomain_urls %}

{% block scripts %}
{{ form.media }}
<style>
.comment .answer {
visibility:hidden;
}
.comment:hover .answer {
visibility:visible;
}
.comment-content img {
cursor:pointer;
}
</style>
{% endblock %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}
<div class="col-md-12">
  {% breadcrumbs_block %}

  <div class="well">
    <form method="GET">
      <div class="form-group" width="100%">
        <label class="sr-only" for="q">Тег</label>
        <input type="text" class="form-control" name="q" id="q" value="{{ q }}">
      </div>
      <div class="pull-right">
        <button type="submit" class="btn btn-success">Найти</button>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>

  {% if messages %}
    <!-- Comments block -->
    <a name="comments"></a>
    <div class="comments well">
      {% for message in messages %}
        {% include 'forum/message.html' with m=message %}
      {% endfor %}
      {% include 'main/pagination.html' with list=comments %}
    </div>
    {% include 'main/pagination.html' with list=messages %}
  {% else %}
    <div class="alert alert-info">
      Нет сообщений
    </div>
  {% endif %}
</div>
{% endblock %}