{% extends 'main/home.html' %}
{% load staticfiles %}
{% load my_filters %}
{% load subdomain_urls %}

{% block scripts %}
  <script>
  urls = {
    'prev_messages': "{% url 'ajax_prev_messages' 'forum' %}",
    'api_like_toggle': "{% url 'api_like_toggle' 'api' %}",
    'api_like_list': "{% url 'api_like_list' 'api' %}"
  };
  </script>
  {{ form.media }}
  <script src="{% static 'js/likes.js' %}"></script>
  <script src="{% static 'js/forum.js' %}"></script>
  <script src="{% static 'js/forum_thread.js' %}"></script>
{% endblock %}

{% block title %}{{ thread.title }}{% endblock %}

{% block header %}
  {{ block.super }}
  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ thread.title }}</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include 'profile/like_list_modal.html' %}
  {% include 'forum/modal_image.html' %}
  <div class="col-md-12">

    {% breadcrumbs_block %}

    {% if thread.top_message %}
      <div class="fixed">
        {% include 'forum/message.html' with m=thread.top_message social_buttons=1 %}
      </div>
    {% endif %}

    {% if messages %}
      <!-- messages block -->
      <a name="messages"></a>
      <div class="messages well">
       <!-- message title -->

          {% for message in messages %}
            {% include 'forum/message.html' with m=message %}
            {% if message.last_replies %}
              <div class="messages-reply">
                {% include 'forum/messages.html' with message=message messages=message.last_replies %}
              </div>
            {% endif %}
          {% endfor %}

          {% include 'main/pagination.html' with list=messages %}
      </div>
    {% else %}
      <div class="alert alert-info">
        <i>Нет сообщений</i>
      </div>
    {% endif %}


    {% if form %}
      {% load widget_tweaks %}
      <!-- Form message -->
      <div class="respond well">
      <!-- Form title -->
       <div class="title"><h4>Оставьте сообщение</h4></div>
       <!-- message form -->
       <div class="form">
         <form class="form-horizontal" method="post" id="message_form">
            {% csrf_token %}
            {{ form.reply_to }}
            {% if form.reply_to.errors %}<div class="alert alert-danger">{{ form.reply_to.errors }}</div>{% endif %}
             <div class="form-group" id="reply_message" style="display:none">
               <label class="control-label col-md-3">Ответить</label>
               <div class="col-md-9">
                  <div class="input-group">
                    <input type="text" class="form-control" disabled="disabled">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" onclick="resetReply();">
                        <i class="fa fa-close"></i>
                      </button>
                    </span>
                  </div>
               </div>
             </div>
             <div class="form-group">
               <div class="col-md-12">
                {{ form.content }}
                {% if form.content.errors %}<div class="alert alert-danger">{{ form.content.errors }}</div>{% endif %}
               </div>
             </div>
             <div class="form-group">
              <div class="col-md-12">
               <button type="submit" class="pull-right btn btn-success" id="send_button">Отправить</button>
              </div>
             </div>
         </form>
       </div>
      </div>
    {% elif request.user.is_banned %}
      <div class="alert alert-danger">
        Вы были забанены {{ user.banned_at|my_naturaltime }} за {{ user.get_ban_reason }}
      </div>
    {% endif %}

  </div>
{% endblock %}