{% extends 'main/home.html' %}
{% load my_filters %}
{% load subdomain_urls %}

{% block title %}{{ topic.title }}{% endblock %}

{% block header %}
  {{ block.super }}
  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{ topic.title }}</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container forum">
    <div class="row">
      <div class="col-md-12">

        {% breadcrumbs_block %}

        <table class="table table-bordered">
          <thead>
            <th width="1%"></th>
            <th width="60%">Тема</th>
            <th width="40%">Последнее сообщение</th>
          </thead>
          {% for thread in threads %}
          <tr>
            <td>
              <i class="fa fa-comment fa-3x"></i>
            </td>
            <td>
              <a href="{% url 'forum_thread' 'forum' thread.id thread.slug %}" class="title"
                style="font-size: 20px;">{{ thread.title }} </a>
              {% if thread.view_count %}
                <div class="pull-right">
                  <i class="fa fa-eye"></i> {{ thread.view_count }} ({{ thread.last_view|my_naturaltime }})
                </div>
              {% endif %}
              <div>
                {% if thread.message_count %}Сообщений: {{ thread.message_count }}&nbsp;{% endif %}
              </div>
             </td>
            <td>
            {% if thread.last_message %}
              {{ thread.last_message.content|striptags|truncatechars:40 }}<br>
              <a href="{% url 'profile_show' 'ws' thread.last_message.user.username %}">{{ thread.last_message.user.fullname }}</a>
              {{ thread.last_message.created_at|my_naturaltime }}
            {% else %}
            ---
            {% endif %}
            </td>
          </tr>
          {% empty %}
            <tr>
              <td colspan="3" style="text-align: center;">не создано ни одной темы</td>
            </tr>
          {% endfor %}
        </table>
        
        {% include 'main/pagination.html' with list=threads%}

        {% if request.user.is_authenticated %}
          <a class="btn btn-lg btn-success" id="create_button" href="{% url 'forum_create_thread' 'forum' topic.id %}">Создать тему</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}