{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">

    <title>LastManStanding: авторизация</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
    <!--font awesom-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <style>
      .social { min-width: 220px; }
      #loading {
        display: none;
      }
      .loading-pane {
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        text-align: center;
        z-index: 9;
        opacity: 0.4;
      }
      .loading-block {
          position: absolute;
          z-index: 10;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          width: 200px;
          top: 40px;
      }
    </style>
    <script>
      function click2 () {
        document.getElementById('loading').style.display = "block";
      }
    </script>
  </head>

<body>
  <div id="loading">
    <div class="loading-pane">
    </div>
    <div class="loading-block well">
      <i class="fa fa-refresh fa-spin fa-fw"></i> Загрузка ...
    </div>
  </div>
  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 " style="text-align:center;vertical-align:middle;">
        <h2>LMS Workspace</h2>
      </div>
      {% if message %}
        <div class="col-md-12 " style="text-align:center;">
          {{ message }}
        </div>
      {% endif %}
      <div class="col-md-12" style="text-align: center">
        <a href="{% url 'socialauth_begin' 'vk-oauth' %}"
           onclick="click2()" class="btn social" style="background-color: #466482">
          <span class="fa fa-vk"></span> Войти через Вконтакте
        </a>
      </div>
      <div class="col-md-12" style="text-align: center">
        <a href="{% url 'socialauth_begin' 'facebook' %}"
           onclick="click2()" class="btn social" style="background-color: #3b5998">
          <span class="fa fa-facebook"></span> Войти через Facebook
        </a>
      </div>
      <div class="col-md-12"  style="text-align: center">
        <a href="{% url 'socialauth_begin' 'google-oauth2' %}"
           onclick="click2()" class="btn social" style="background-color: #dd4b39">
          <span class="fa fa-google"></span> Войти через Google
        </a>
      </div>
    </div>
  </div>
</body>
</html>