{% load my_filters %}
{% load subdomain_urls %}
{% if n.verb == 'forum_thread_answer' %}
  <div class="item item-avatar{% if n.unread %} unread{% endif %}">
    <img src="{{ n.target.user.get_avatar_50 }}">
    <h2>
      <a href="#/app/user/{{ n.target.user.id }}">{{ n.target.user.fullname }}</a>
    </h2>
    <p>
      написал ответ в вашу ветку<br>
      <a href="{% url 'forum_thread' 'forum' n.target.thread.id n.target.thread.slug %}" target="_blank">
        {{ n.target.thread.title }}
      </a>
      <span class="date">{{ n.created_at|my_naturaltime }}</span>
    </p>
  </div>
{% elif n.verb == 'forum_answer' %}
  <div class="item item-avatar{% if n.unread %} unread{% endif %}">
    <img src="{{ n.target.user.get_avatar_50 }}">
    <h2>
      <a href="#/app/user/{{ n.target.user.id }}">{{ n.target.user.fullname }}</a>
    </h2>
    <p>
      ответил на ваше сообщение<br>
      <a href="{% url 'forum_thread' 'forum' n.target.thread.id n.target.thread.slug %}" target="_blank">
        {{ n.target.content|striptags|truncatechars:200 }}
      </a>
      <span class="date">{{ n.created_at|my_naturaltime }}</span>
    </p>
  </div>
{% elif n.verb == 'open_trains' %}
  <div class="item item-icon-left{% if n.unread %} unread{% endif %}">
    <i class="icon ion-calendar"></i>
    <p>
      Открыто {{ n.get_data.count }} тренировок для плана <b><a href="#/app/plan/{{ n.target.id }}">{{ n.target.name }}</a></b>
      <span class="date">{{ n.created_at|my_naturaltime }}</span>
    </p>
  </div>
{% elif n.verb == 'forum_message_like' %}
  <div class="item item-avatar{% if n.unread %} unread{% endif %}">
    <img src="{{ n.target.user.get_avatar_50 }}">
    <h2>
      <a href="#/app/user/{{ n.target.user.id }}">{{ n.target.user.fullname }}</a>
    </h2>
    <p>
      понравилось ваше сообщение<br>
      <a href="{% url 'forum_thread' 'forum' n.target.target.thread.id n.target.target.thread.slug %}" target="_blank">
        {{ n.target.target.content|striptags|truncatechars:200 }}
      </a>
      <span class="date">{{ n.created_at|my_naturaltime }}</span>
    </p>
  </div>
{% endif %}