#chatbox {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  margin: 0px;
  width: 400px;
  height: 300px;
}
#chatbox form {
  display:inline-block;
}
#chatbox .online-line {
  display: none;
}
#chatbox .user-online-status {
  color: #ee5f5b;
}
#chatbox .user-online-status.online {
  color: #62c462;
}
#chatbox .scroll {
  overflow:auto;
}

#chatbox .messages .time {
  display: none;
}
#chatbox .messages tr.recipient {
  background-color: #753937;
  color: white;
}
#chatbox .messages td.day-start {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#chatbox .users {
  display: none;
}

#chatbox.collapsed  {
  height:60px;
  width:240px;
  opacity: 0.6;
}
#chatbox.expanded .messages .time {
  display: table-cell;
}
#chatbox.expanded .messages {
  float: left;
}
#chatbox.expanded .users {
  float: left;
  display: block;
}

#chatbox .table .time {
  width: 10px;
  text-align: right;
}
#chatbox .message td .content {
  word-break: break-word;
}