.my-col {
display: inline-block;
width: 50px;
float: left;
}
.cycle-table>thead>tr>th,
.cycle-table>tbody>tr>th,
.cycle-table>tfoot>tr>th,
.cycle-table>thead>tr>td,
.cycle-table>tbody>tr>td,
.cycle-table>tfoot>tr>td {
padding: 4px !important;
}

.btn-exercise {
background: rgba(0, 0, 0, 0);
border-color: rgba(255, 255, 255, 0.27);
padding: 4px 5px;
border-color: rgba(0, 0, 0, 0);
}
.lbl-exercise {
color: white;
padding: 4px 5px;
font-size: 12px;
display: inline;
}
.my-alert-info {
padding: 10px;
color: white;
background-color: #08485a;
border-color: #0c4e52;
margin-bottom: 0px !important;
}
.my-alert-danger {
padding: 10px;
color: white;
background-color: #790300;
border-color: #67000e;
margin-bottom: 0px !important;
}
.input-group-sm input[type=number]::-webkit-inner-spin-button,
.input-group-sm input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
#cycle_form .form-group {
margin-bottom: 6px;
}
th label {
width: 100%;
height: 100%;
margin: 0;
cursor: pointer;
}
tr.hidden-execution {
  opacity: 0.3;
}
tr.hidden-execution:hover {
  opacity: 1;
}