#fullsize_chatbox {
}
#fullsize_chatbox form {
  display:inline-block;
}
#fullsize_chatbox .online-line {
  display: none;
}
#fullsize_chatbox .user-online-status {
  color: #ee5f5b;
}
#fullsize_chatbox .user-online-status.online {
  color: #62c462;
}
#fullsize_chatbox .scroll {
  overflow:auto;
  max-height: 350px;
}

#fullsize_chatbox .messages tr.recipient {
  background-color: #753937;
  color: white;
}
#fullsize_chatbox .messages td.day-start {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#fullsize_chatbox .table .time {
  width: 10px;
  text-align: right;
}

#fullsize_chatbox .table>thead>tr>th, 
#fullsize_chatbox .table>tbody>tr>th, 
#fullsize_chatbox .table>tfoot>tr>th, 
#fullsize_chatbox .table>thead>tr>td, 
#fullsize_chatbox .table>tbody>tr>td, 
#fullsize_chatbox .table>tfoot>tr>td {
  padding: 4px;
}