/* Pagination */

.paging {
	clear:both;
	padding:6px 0;
	line-height:17px;
	font-size:13px;
}
 
.paging span, .paging a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:5px 8px;
	text-decoration:none;
	width:auto;
	color:#C7C7C7;
	background: #2E3338;
	font-weight:normal;
}
 
.paging a:hover{
	color:#fff;
}
 
.paging .current{
	padding:5px 8px;
	color:#fff;
}

.paging a:hover{
	background: #DA2C2B;
}

.paging .current{
	background: #DA2C2B;
}

/* messages */
.message {
    margin: 10px 0px;
    background: #454B51;
    border-radius: 5px;
    border: 1px solid #520404;
    overflow: hidden;
    padding-left:120px;
    position: relative;
}
.fixed > .message {
    -moz-box-shadow:0 0 10px red;
    -webkit-box-shadow:0 0 10px red;
    box-shadow:0 0 10px red;
}
.message .message-content {
    width:100%;
    float:right;
    padding: 10px;
    margin-bottom: 10px;
}
.message .message-author {
    width: 120px;
    float: left;
    text-align: center;
    margin-left:-120px;
    padding: 2px;
    background: #693B3B;
    height: 100%;
}
.message .avatar{
	padding:1px;
	background:#fff;
	border:1px solid #aaa;
}

.message .cmeta {
	padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.message p{
	margin-top:5px;
}

.message .message-meta {
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    float: right;
}

.messages-reply{
    padding-left: 10px;
    border-left: 10px solid #463A3A;
}
.messages-reply .message {
    margin-bottom: 0px;
}

.message .message-admin {
    display:none;
}
.message:hover .message-admin {
    display: inline;
}
.message-content img {
    cursor:pointer;
    max-width:200px;
    max-height:200px;
}
.message img {
    max-width: 200px;
    max-height: 200px;
}
#image_modal .modal-body {
    text-align: center;
}
.respond .title {
	margin-bottom:10px;
	border-bottom:1px solid #eee;
}
.respond .title h4 {
    text-align: center;
}

/* Page heading */

.page-head{
    box-shadow: inset 0px 0px 4px #404040;
    background: #25282B;
    border-bottom: 1px solid #000;
}

.page-head h2, .page-head h1{
    color: white;
    font-size: 23px;
    line-height: 33px;
}

.page-head h4{
    color: #999;
    font-size: 15px;
}
.navbar {
    margin-bottom: 0px !important;
    min-height: 30px;
}

/* блок авторизации */
.signin-popover {
    width: 150px;
}
.signin-popover .social,
#modal_signin .social {
    width: 47px;
}
.signin-popover .social .fa-vk ,
#modal_signin .social .fa-vk {
    margin-left: -5px; /* для иконки вк нужен сдвиг */
}

/* likes */
.like-widget .popover-title {
    padding: 5px 5px;
}
.like-widget .popover-content {
    padding: 5px 5px !important;
    width: 168px;
}
