.tarif:hover, .tarif:active {
text-decoration: none;
}
.tarif {
background-color: #1c1e22;
border: 1px solid #0c0d0e;
padding: 0;
color: white;
}
.buy {
text-align: center;
}
.buy .btn {
border-radius: 0 !important;
}
.descr {
font-size: 20px;
padding-right: 20px 40px 10px 10px;
text-align: center;
}
.period {
font-size: 40px;
font-weight: bold;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.price {
font-size: 48px;
text-align: center;
color: white;
background-color: #08485a;
border-color: #0c4e52;
margin-top: 30px;
margin-bottom: 0;
}
.subprice, .subprice2 {
height: 40px;
font-size: 20px;
}
.subprice2 {
color: #888;
position: relative;
}
.subprice2::after {
position: absolute;
content: "";
left: 0;
top: 30%;
right: 0;
border-top: 1px solid;
border-color: inherit;

-webkit-transform:rotate(-10deg);
-moz-transform:rotate(-10deg);
-ms-transform:rotate(-10deg);
-o-transform:rotate(-10deg);
transform:rotate(-10deg);
margin-left: 170px;
margin-right: 170px;
}
.red {
color: red;
}