.disabled {
  z-index: 1000;
  background-color: white;
  opacity: 0.6;
  pointer-events: none;
}
#menu-button:hover > ul.dropdown-menu {
  display: block;
  margin-bottom: 0px;
}
#menu-button > ul.dropdown-menu {
  background-color: #79100D;
}
#menu-button > ul.dropdown-menu>li>a:hover,
#menu-button > ul.dropdown-menu>li>a:focus {
  background-color: #CA4946;
}
.fade.in {
  display: block;
}
.train {
  margin-bottom: 20px;
  overflow: overlay;
}
.train .hidden-message {
  padding: 2px;
  color: white;
  background-color: #790300;
  border-color: #67000e;
  margin-bottom: 0px !important;
  display: block;
  border-radius: 3px;
  text-align: center;
}
.train.selected {
  background-color: #212121;
  border: 1px solid #AF0000;
}
.train .execution {
  clear: both;
  border-top: 1px solid #555;
  overflow: overlay;
}
.train .execution.is_hidden {
  opacity: 0.2;
}
.train .execution.is_hidden:hover {
  opacity: 1;
}
.train .execution.selected {
  background-color: #358245;
}
.train .scheme {
  float: right;
  text-align: right;
}
.train .stat {
  margin-bottom: 2px;
  height: 22px;
  white-space: nowrap;
}
.train .stat .label{
  padding: .1em .3em .1em;
  font-size: 85% !important;
  margin-top: 5px;
}
.train .scheme .label{
  font-size: 85% !important;
  font-weight: normal;
  margin-right: 6px;
  display: inline-flex;
  padding: 3px;
}
.train .scheme .scheme-row {
  display: block;
}
.train .scheme .scheme-row span {
  width: 35px;
  display: inline-block;
  text-align: right;
}
.train .exercise .label {
  padding: .2em .6em .3em;
}
.train .scheme .label.label-default {
  background-color: transparent;
}
.train .scheme .label.warmup{
  color: #ccc;
  font-style: italic;
}

.table-stat >thead>tr>th,
.table-stat >tbody>tr>th,
.table-stat >tfoot>tr>th,
.table-stat >thead>tr>td,
.table-stat >tbody>tr>td,
.table-stat >tfoot>tr>td {
  padding: 2px;
  text-align: center;
  font-size: 80%;
  border-top: 1px solid #555;
}
.table-stat {
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0) !important;
}
.day .date {
  line-height: 22px;
}
.day .btn {
  display: none;
  float: right;
}
.day:hover .btn {
  display: inline;
}
.day.today {
  background-color: #984341 !important;
}
.train .execution:first-child {
  border-top: 0px;
}
#wrap {
  padding: 0px;
}
.pane {
  margin-bottom: 0px;
}
#edit-pane .plot {
  width: 340px;
  height: 300px;
}
#edit-pane .execution select {
  background: #4A5056;
  color: white;
  border-color: #777;
}
#edit-pane .execution {
  overflow: auto;
  margin-top: 1px;
  padding-bottom: 1px;
  padding-top: 2px;
  margin-bottom: 4px;
  background: #1c1e22;
  border-top: 6px double #4A5056;
  cursor: pointer;
}
#edit-pane .quatro {
  width: 22px;
  display: inline-block;
  height: 22px;
  padding-top: 0px;
  line-height: 22px;
}
.input-digit {
  width: 45px;
  text-align: right;
}
#edit-pane .execution .level {
  display: inline-block;
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

#edit-pane .execution .exercise {
  height: 24px;
}
#edit-pane .execution .other .name {
  width: 290px;
}
#edit-pane .execution .other .input-digit {
  width: 94px;
}

#edit-pane .form-control[disabled] {
  background: #3A3F44;
  border-color: #3A3F44;
}
#edit-pane .form-control {
  line-height: 1;
  padding: 2px 3px;
  height: 22px;
  margin-left: 0px;
  margin-top: 2px;
  display: inline;
  background: #4A5056;
  color: white;
  border-color: #777;
}
#edit-pane .button-block {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 365px;
  text-align: right;
  background: #49515A;
  padding: 10px;
}
#calendar>thead>tr>th, 
#calendar>tbody>tr>th,
#calendar>tfoot>tr>th,
#calendar>thead>tr>td,
#calendar>tbody>tr>td,
#calendar>tfoot>tr>td {
  padding: 4px;
}
#pm-table>thead>tr>th, 
#pm-table>tbody>tr>th,
#pm-table>tfoot>tr>th,
#pm-table>thead>tr>td,
#pm-table>tbody>tr>td,
#pm-table>tfoot>tr>td {
  padding: 4px;
}
#calendar {
  min-width: 1500px;
}
#edit-pane {
  overflow-y: auto;
  overflow-x: hidden;
  float:left;
  width: 0px;
  display: none;
  padding: 0px;
  padding-bottom: 60px;
  width: 365px;
}
#calendar-pane {
  overflow: auto;
}
#calendar tr .break-buttons {
  margin-top: 20px;
  display: none;
}
#calendar tr:hover .break-buttons {
  display: block;
}
#calendar .week-stat {
  min-height: 200px;
  min-width: 90px;
}
#edit-pane .btn-xs {
  width: 22px;
  height: 22px;
}
#edit-pane .labels {
  margin-left: 26px;
}
#edit-pane .column-name {
  width: 45px;
  text-align: center;
  display: inline-block;
  margin-left: 0px;
  font-weight: normal;
}

#edit-pane .label.stat {
  text-align: right;
  margin-left: 0px;
  margin-top: 2px;
  font-weight: normal;
  height: 22px;
  display: inline-block;
  width: 45px;
  line-height: 21px;
  font-size: 14px;
  padding: 1px 3px;
}
#edit-pane .total {
  float: right;
  margin-right: 25px;
}
#edit-pane .form-control.error {
  background: #564A4A;
  border-color: #B10404;
}
#edit-pane .btn-active {
  display: none;
}
#edit-pane .execution:hover .btn-active {
  display: inline-block;
}
#edit-pane .execution .exercise-select {
  width: 215px;
}
#edit-pane .execution .exercise-form {
  display: inline-block;
  width: 290px;
}
/* autocomplete */
.ui-widget {
  font-family: inherit;
  font-size: 100%;
}
.ui-widget-content {
  background: #3A3F44;;
}
.ui-widget-content {
  color: white;
}
.ui-state-focus {
  background: #4A5056 !important;
  border-color: #777 !important;
  color: white !important;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* scrollbar */
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}

/* type=number */
#edit-pane input[type=number]::-webkit-inner-spin-button, 
#edit-pane input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.btn-full-width {
  text-align: center;
  padding: 10px;
  width: 100%;
}