input.right {
  width: 80px; 
  float: right;
}
.sortable-placeholder {
  width: 45px; 
}
.ui-sortable-helper tr {
    display:table;
}

td.right, th.right {text-align: right;}
td.scheme {text-align: right;}
.disabled {z-index: 1000; background-color: white; opacity: 0.6; pointer-events: none;}
#top_head {
  color: #4942A9;
  background-color: #94ABFD;
  border-color: #ebccd1;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
button.collapse-toggle {
  float:left;
  margin-top:4px;
}
.tape-block h4 {
  display:inline-block;
}
.week-stat-table {
  margin-top: 9px;
}
#top_head {
  position:fixed;top:51px;display:none;
}