#drugplan_head {position: fixed;}
#drugplan tbody td {width: 12.5%}
#drugplan tbody tr {height: 100px;}

#drugplan tbody td.day {cursor: pointer;}
#drugplan tbody td.odd {background-color: #42474E;}
#drugplan tbody td .btn {display:none;}

#drugplan tbody td.today {background-color: #980000 !important; color: white;}
#drugplan tbody td:hover {background-color: #49515a !important;}
#drugplan tbody td:hover .btn {display:block;}
#drugplan tbody td.selected {background-color: #0378A2 !important; color: white;}
#drugplan tbody td.total {background-color: #143A61 !important; color: white;}
#drugplan tbody td .label {font-size: 85% !important;font-weight: normal; padding: .1em .2em .1em;margin-right:1px;}

#id_weekdays .checkbox {display: inline;}