{% extends 'main/home.html' %}
{% load bootstrap3 %}

{% block title %}Конвертер результатов анализов{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('.master').keyup(function(){
      var master = $(this);
      var slave = master.closest('tr').find('.slave');
      var v = master.val() / parseFloat(master.attr('rate'));
      slave.val(v.toFixed(2));
    })
    $('.slave').keyup(function(){
      var slave = $(this);
      var master = slave.closest('tr').find('.master');
      var v = slave.val() * parseFloat(master.attr('rate'));
      master.val(v.toFixed(2));
    })
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
  <!-- <div class="alert form-inline alert-info">
    <label>Для определения референсных значений выберите пол</label>
    <select class="form-control">
      <option>мужской</option>
      <option>женский</option>
    </select>
  </div> -->
  <div class="well">
    <table class="table table-striped">
      <thead>
        <th>Анализ</th>
        <th>значение</th>
        <th>значение</th>
      </thead>
      {% for obj in objs %}
      <tr>
        <td>
          {{ obj.name }}
        </td>
        <td>
          <input type="number" class="form-control input-sm master" rate="{{ obj.rate }}">
          {{ obj.master_unit }}
        </td>
        <td>
          {% if obj.rate %}
          <input type="number" class="form-control input-sm slave">
          {% for u in obj.slave_units %}
          {{ u }}</br>
          {% endfor %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}