{% extends 'main/home.html' %}
{% load staticfiles %}
{% block title %}Расчет предельного максимума{% endblock %}

{% block scripts %}
<style type="text/css">
#maximum {text-align: center;font-size: 50px;}
td {text-align: center;}
</style>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript">
rates = [
  [1, 2, 3,  4,  6,  8,  10, 12, 18, 26, 30],
  [1, 2, 4,  6,  8,  10, 12, 18, 26, 30, 38],
  [1, 2, 4,  8,  10, 12, 18, 26, 30, 38, 50],
]

function calc_max() {
  var mode = parseInt($('#mode').val());
  var weight = parseFloat($('#weight').val());
  var reps = parseInt($('#reps').val());
  var msg = $('#message');
  var hash = '';

  $('#rates td').removeClass('info').removeClass('danger');

  if (isNaN(weight) || weight > 500 || weight < 1) {
    msg.removeClass('alert-success').addClass('alert-danger').fadeIn().text('Указан неверный вес');
  }
  else if (isNaN(reps) || reps > 100 || weight < 1) {
    msg.removeClass('alert-success').addClass('alert-danger').fadeIn().text('Указано неверное количество повторений');
  }
  else {
    var i = 0;
    for (i = 0; i < rates[mode].length; i++) {
      if (rates[mode][i] > reps) break;
    }
    var percent = 100 - (i-1) * 5;
    var maximum = my_round(weight / (percent / 100));
    msg.removeClass('alert-danger').addClass('alert-success').fadeIn()
      .html('Предельный максимум составляет <div id="maximum"><b>' + maximum + '</b> кг</div>');
    hash = '#'+weight + '_' + reps + '_' + mode;

    $('#mode'+mode).addClass('info');
    $('#rates tbody tr').eq(rates[mode].length-i).find('td').eq(mode+1).addClass('danger');
    $('#rates tbody tr').eq(rates[mode].length-i).find('td').eq(0).addClass('info');
  }
  
  window.location.hash = hash;

}
$(document).ready(function(){

  $('#mode').change(calc_max);
  $('#weight,#reps').keyup(calc_max);
  if (window.location.hash) {
    var ps = window.location.hash.substr(1).split('_');
    var weight = parseFloat(ps[0]);
    var reps = parseInt(ps[1]);
    var mode = parseInt(ps[2]);
    if (!isNaN(weight) && !isNaN(reps) && !isNaN(mode)) {
      $('#weight').val(weight);
      $('#reps').val(reps);
      $('#mode option').prop('selected', false)
      $('#mode option[value='+mode+']').prop('selected', true);
    }
  }
  calc_max();
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12 well">
  <div class="col-md-6">
    <form autocomplete="off">
      <div class="col-md-6">
        <label>Вес, кг</label>
        <input type="number" step="1" class="form-control" id="weight" value="100">
      </div>
      <div class="col-md-6">
        <label>Количество повторений, раз</label>
        <input type="number" step="1" class="form-control" id="reps" value="6">
      </div>
      <div class="col-md-12">
        <label>Соотн. силы и выносливости</label>
        <select class="form-control" id="mode">
          <option value="0">Сила</option>
          <option value="1" selected="selected">Среднее</option>
          <option value="2">Выносливость</option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="alert alert-danger" style="display:none;text-align:center;" id="message"></div>
  </div>
  <div class="col-md-12">
    <table class="table table-striped" id="rates">
      <thead>
        <tr>
          <td rowspan="2">Процент от 1ПМ</td>
          <td colspan="3">Соотношение силы и выносливости</td>
        </tr>
        <tr>
          <td id="mode0">Сила</td>
          <td id="mode1">Среднее</td>
          <td id="mode2">Выносливость</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>50%</td>
          <td>30 - 37</td>
          <td>38 - 49</td>
          <td>50 - 50+</td>
        </tr>
        <tr>
          <td>55%</td>
          <td>26 - 29</td>
          <td>30 - 37</td>
          <td>38 - 49</td>
        </tr>
        <tr>
          <td>60%</td>
          <td>18 - 25</td>
          <td>26 - 29</td>
          <td>30 - 37</td>
        </tr>
        <tr>
          <td>65%</td>
          <td>12 - 17</td>
          <td>18 - 25</td>
          <td>26 - 29</td>
        </tr>
        <tr>
          <td>70%</td>
          <td>10 - 11</td>
          <td>12 - 17</td>
          <td>18 - 25</td>
        </tr>
        <tr>
          <td>75%</td>
          <td>8 - 9</td>
          <td>10 - 11</td>
          <td>12 - 17</td>
        </tr>
        <tr>
          <td>80%</td>
          <td>6 - 7</td>
          <td>8 - 9</td>
          <td>10 - 11</td>
        </tr>
        <tr>
          <td>85%</td>
          <td>4 - 5</td>
          <td>6 - 7</td>
          <td>8 - 9</td>
        </tr>
        <tr>
          <td>90%</td>
          <td>2 - 3</td>
          <td>4 - 5</td>
          <td>4 - 7</td>
        </tr>
        <tr>
          <td>95%</td>
          <td>1 - 2</td>
          <td>2 - 3</td>
          <td>2 - 3</td>
        </tr>
        <tr>
          <td>100%</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}