{% extends 'main/home.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load my_filters %}

{% block title %}Нормативы федераций{% endblock %}

{% block scripts %}
<script type="text/javascript">
function resize() {
  if ($(window).width() > 992) {
    var h = $(window).height() - $('.tab-pane').offset().top;
    $('.tab-pane').css({
      'height': h,
      'overflow-y': 'scroll',
    });
  } else {
    $('.tab-pane').css({
      'height': 'auto',
      'overflow-y': 'hidden',
    });
  }
}
var cls = [];
var weight;
function update_hash() {
  var hash = cls.join('&');
  if (weight)
    hash += '&weight-'+weight;
  window.location.hash = hash;
}
function select_change() {
  cls = [];
  $('.form select').each(function(){
    var mode = $(this).attr('id').substr(3);
    $(this).find('option').each(function(){
      if ($(this).prop('selected') && $(this).attr('value')) {
        cls.push(mode+'-'+$(this).attr('value'))
      }
    });
  });
  $('.norm-block').each(function(){
    var f = true;
    for (i = 0; i < cls.length; i++) {
      if (!$(this).hasClass(cls[i])) {
        $(this).slideUp();
        f = false;
        break;
      }
    }
    if (f) {
      $(this).slideDown();
    }
  })
}
function weight_change() {
  weight = parseFloat($('.form #id_weight').val());
  if (isNaN(weight)) {
    $('.norm-block tbody tr').show();
  }
  else {
    $('.norm-block').each(function(){
    $(this).find('tbody tr').each(function(){
        var min_w = parseFloat($(this).attr('data-min-weight'));
        var max_w = parseFloat($(this).attr('data-max-weight'));
        if (weight < min_w || weight > max_w) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    })
  }
}
$(document).ready(function(){
  $(window).resize(resize);
  resize();

  if (window.location.hash) {
    var hashes = window.location.hash.substr(1).split('&');
    for (var i = 0; i < hashes.length; i++) {
      var ps = hashes[i].split('-');
      $('.form #id_'+ps[0]).val(ps[1]);
    }
    weight_change();
    select_change();
  }
  
  $('.form #id_weight').keyup(function(){
    weight_change();
    update_hash();
  });
  $('.form select').change(function(){
    select_change();
    update_hash();
  });
})
</script>
{% endblock %}

{% block content %}
<div class="col-md-4 tab-pane">
<div class="form well">
  {% bootstrap_form form %}
</div>
</div>
<div class="col-md-8 tab-pane">
  {% for norm in norms %}
  {% mycache norm norm.id table %}
  <div class="well norm-block doping_control-{{ norm.doping_control }} federation-{{ norm.federation.id }} equip-{{ norm.equip }} gender-{{ norm.gender }} sport-{{ norm.sport }}">
  <h4>
    {% if norm.doping_control == 'yes' %}
    <span class="label label-pill label-success"><i class="fa fa-check"></i> д.к.</span>
    {% else %}
    <span class="label label-pill label-danger"><i class="fa fa-minus"></i> д.к.</span>
    {% endif %}
    <span class="label label-pill label-default">
    {% if norm.gender = 'male' %}
    <i class="fa fa-male"></i> муж
    {% else %}
    <i class="fa fa-female"></i> жен
    {% endif %}
    </span>&nbsp;
    {% if norm.division %}<span class="label label-pill label-info">{{ norm.division }}</span>{% endif %}
  </h4>
  <h4>{{ norm.get_name }}</h4>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>в.к.</td>
        {% for level in norm.get_levels %}
        <td class="danger">{{ level }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in norm.get_table %}
        <tr data-min-weight="{{ row.min_weight }}" data-max-weight="{{ row.max_weight }}">
          <td class="info">{{ row.weight }}</td>
          {% for val in row.values %}
            <td>{{ val }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  {% endmycache %}
  {% endfor %}
</div>
{% endblock %}