{% extends 'main/home.html' %}
{% load bootstrap3 %}

{% block title %}Расчет разминки{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('select').select2();
  $('#res').fadeIn();
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12 well">
  <div class="col-md-6">
    <form method="GET" action="" autocomplete="off">
      <div class="form-group col-md-12">
        {% bootstrap_field form.exercise %}
      </div>
      <div class="form-group">
        <div class="col-md-6">
          {% bootstrap_field form.weight %}
        </div>
        <div class="col-md-6">
          {% bootstrap_field form.reps %}
        </div>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-success btn-lg" name="calc" style="width:100%">Расчитать разминку</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    {% if res %}
    <h4>Схема разминки</h4>
    <table class="table table-striped" id="res" style="display:none;">
      <thead>
        <th>#</th>
        <th>Вес, кг</th>
        <th>Повторения</th>
        <th>Подходы</th>
      </thead>
      {% for r in res %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ r.weight }}</td>
        <td>{{ r.reps }}</td>
        <td>{{ r.apps }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <i>введите корректные зачения</i>
    {% endif %}
  </div>
</div>
{% endblock %}