{% extends 'profile/show/base.html' %}
{% load bootstrap3 %}

{% block scripts %}
<script>
$(document).ready(function () {
  $('#id_is_banned').change(function () {
    if ($(this).prop('checked')) {
      $('#id_ban_reason').closest('.form-group').show();
      $('#id_ban_comment').closest('.form-group').show();
    } else {
      $('#id_ban_reason').closest('.form-group').hide();
      $('#id_ban_comment').closest('.form-group').hide();
    }
  });
  $('#id_is_banned').change();
})
</script>
{% endblock %}

{% block wrap %}
<div class="col-md-12">
  {% if request.user.is_superuser %}
    <a class="btn btn-default" href="{% url 'admin_user' user.id %}" target="_blank">
      Профиль в админке
    </a>
  {% endif %}
  <form method="POST" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group pull-right">
      <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
    <div class="clearfix">
    </div>
  </form>
</div>
{% endblock %}