{% extends 'main/home.html' %}
{% load staticfiles %}
{% load my_filters %}

{% block title %}{{ user.fullname }}{% endblock %}

{% block content %}
  <div class="col-md-12">
    {% breadcrumbs_block %}
  </div>

  <div class="col-md-12">
    <div class="well">
      <div class="col-md-3" style="text-align: center">
        <table class="table table-striped" >
        <tr>
          <td>
            {% if user.avatar|image_exists %}
              <img style="margin-left:auto;margin-right:auto;" class="img-responsive img-rounded" src="http://ws.last-man.org/static/media/{{ user.avatar }}">
            {% else %}
              <img class="avatar img-circle" src="/static/img/unknown.jpg" width="200" height="200">
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <h5>
              <b>{{ user.fullname }}</b><br>
              <i>@{{ user.username }}</i>
            </h5>
          </td>
        </tr>
        <tr>
          <td>
            {% include 'profile/rank_with_icon.html' with user=user %}
          </td>
        </tr>
        {% if user.is_subscribed %}
          <tr>
            <td>
              Подписка до {{ user.subscription_date|date:"d.m.y" }}
            </td>
          </tr>
        {% endif %}
        {% if user.id == request.user.id %}
        <tr><td><a href="{% url 'profile_edit' %}" class="btn btn-default"><i class="fa fa-edit"></i> Редактировать</a></td></tr>
        {% endif %}
        </table>
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs">
          <li{% if mode = 'info' %} class="active"{% endif %}>
            <a href="{% url 'profile_show' user.username %}">Информация</a>
          </li>
          <li{% if mode = 'plan' %} class="active"{% endif %}>
            <a href="{% url 'profile_plan' user.username %}">Планы <span class="badge">{{ counts.plans }}</span></a>
          </li>
          <li{% if mode = 'spm' %} class="active"{% endif %}>
            <a href="{% url 'profile_spm' user.username %}">СПМ <span class="badge">{{ counts.courses }}</span></a>
          </li>
          <li{% if mode = 'video' %} class="active"{% endif %}>
            <a href="{% url 'profile_video' user.username %}">Видео <span class="badge">{{ counts.videos }}</span></a>
          </li>
          {% if request.user.is_moderator %}
            <li{% if mode = 'admin' %} class="active"{% endif %}>
              <a href="{% url 'profile_admin' user.username %}">
                <b>АДМИН</b>
              </a>
            </li>
          {% endif %}
        </ul>

        {% block wrap %}
        {% endblock %}

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
{% endblock %}