{% extends 'profile/show/base.html' %}
{% load my_filters %}

{% block wrap %}
  <table class="table table-stripped">
    {% if user.gender %}
    <tr>
      <td>Пол</td>
      <td>
        {% if user.gender == 'male' %}<i class="fa fa-male"></i>
        {% elif user.gender == 'female' %}<i class="fa fa-female"></i>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if user.allpowerlifting %}
    <tr>
      <td>Allpowerlifting.com</td>
      <td>
        <a class="btn btn-default" href="{{ user.allpowerlifting }}" target="_blank">
          <i class="fa fa-external-link"></i>
        </a>
      </td>
    </tr>
    {% endif %}
    {% if sauth.provider and sauth.provider == 'vk-oauth'%}
    <tr>
      <td>Социальные сети</td>
      <td>
        <a class="btn btn-default" href="http://vk.com/id{{ sauth.uid }}" target="_blank">
          <i class="fa fa-vk"></i>
        </a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>Дата регистрации</td>
      <td>{{ user.date_joined|my_naturaltime }}</td>
    </tr>
    <tr>
      <td>Последний вход</td>
      <td>{{ user.last_login|my_naturaltime }}</td>
    </tr>
    {% if user.is_banned %}
    <tr>
      <td>Забанен</td>
      <td>{{ user.banned_at|my_naturaltime  }} за {{ user.get_ban_reason }}</td>
    </tr>
    {% endif %}
  </table>
{% endblock %}