{% extends 'profile/show/base.html' %}
{% load staticfiles %}
{% load subdomain_urls %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/angular/angular-locale_ru-ru.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/video_show.js' %}?2"></script>
  <script>
  var urls = {
    'api_video_show': '{% url 'api_video_show' 'api' %}',
  };
  </script>
{% endblock %}

{% block wrap %}
  {% include 'videohub/show_modal.html' %}
  {% if list %}
    {% for video in list %}
      <div class="col-md-4 well">
        <a href="javascript:showVideo({{ video.id }});">
          <img src="https://i.ytimg.com/vi/{{ video.youtube_id }}/hqdefault.jpg" class="img-responsive">
        </a>
        <div>
          <a style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;"
             href="javascript:showVideo({{ video.id }});"><b>{{ video.name }}</b></a>
        </div>
      </div>
    {% endfor %}
    {% include 'main/pagination.html' %}
  {% else %}
    <div class="alert alert-info">
      <i>пусто</i>
    </div>
  {% endif %}
{% endblock %}