{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}Загрузка видео{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <
  <script type="text/javascript" src="{% static 'js/angular-locale_ru-ru.js' %}"></script>
  <script>

var mainApp = angular.module('mainApp', []).config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{$');
  $interpolateProvider.endSymbol('$}');
});
mainApp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.useXDomain = true;
        delete $httpProvider.defaults.headers.common['X-Requested-With'];
    }
]);
mainApp.controller('AddVideoCtrl', function ($scope, $http) {
  $scope.url = '';
  $scope.video = false;
  $scope.setUrl = function () {
    $scope.url = 'https://www.youtube.com/watch?v=WV74FCcGgqg';
    $http.get('http://api.test.last-man.org/video/info/?url=' + $scope.url)
    .success(function(data) {
      console.log('!!!', data);
    });
  }
});
  </script>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form well" ng-app="mainApp" ng-controller="AddVideoCtrl">

            <div class="form-group" ng-if="video">
              <label>Изображение</label>
              <br>
              <img src="{$ video.preview $}">
            </div>

            <div class="form-group" ng-if="video">
              <label for="link">Название</label>
              <input type="text" class="form-control" ng-model="video.name">
            </div>

            <div class="form-group" ng-if="video">
              <label for="link">Описание</label>
              <textarea class="form-control" ng-model="video.description"></textarea>
            </div>

            <div class="form-group" ng-if="video">
              <label for="link">Публичный доступ</label>
              <input type="checkbox" ng-model="video.is_public">
            </div>

            <div class="form-group" ng-if="!video">
              <label for="link">Ссылка</label>
              <input type="url" class="form-control" name="link" id="link" placeholder="http://" ng-model="url" ng-change="setUrl()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}