{% load subdomain_urls %}
<script>
var csrf_token = "{{ csrf_token }}";
</script>

<div class="modal fade" id="video_add_form" ng-app="addVideoApp" ng-controller="AddVideoCtrl"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form class="form" autocomplete="off">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" style="text-align:center;">Загрузка видео</h4>
        </div>
        <div class="modal-body">
          <div ng-if="data.state=='select_type'" style="text-align:center">
            <input type="file" onchange="angular.element(this).scope().fileChange(this)" style="display:none;"/>
            <button type="button" class="btn btn-default" onclick="$(this).prev().click();">Выбрать файл</button>
            <div>
              или
            </div>
            <button class="btn btn-default" ng-click="data.state='set_link'">Добавить с другого сайта</button>
          </div>
          <div ng-if="data.state=='set_link'">
            <div class="form-group">
              <label for="link">Ссылка на видеоролик</label>
              <input type="url" class="form-control" name="link" id="link" placeholder="http://"
                     ng-model-options="{ debounce: 1000 }" ng-model="data.url" ng-change="setUrl()">
            </div>
            <div class="form-group" style="text-align:center">
              Вы можете указать ссылку на страницу видеозаписи Youtube.
            </div>
          </div>
          <div ng-if="data.state=='send_form' || data.state=='progress' || data.state=='upload'">
            <div class="col-md-12">
              <div class="form-group" ng-if="data.preview">
                <label>Превью</label>
                <br>
                <img ng-if="data.type=='youtube'" ng-src="{$ data.preview $}"
                     class="img-responsive center-block">
                <video ng-if="data.type=='file'" ng-src="{$ data.preview $}" controls
                     style="max-width:100%;max-height:100%;"></video>
              </div>
            </div>
            <div class="row">
              <div ng-if="!video.scheme_id">
                <div class="form-group col-xs-6">
                  <label>Упражнение</label>
                  <select class="form-control" ng-model="video.exercise_id"
                          select2 ng-disabled="data.state!='send_form'">
                    <option value="{$ e.id $}" ng-repeat="e in exercises" ng-bind="e.name"></option>
                  </select>
                </div>

                <div class="form-group col-xs-6">
                  <label>Дата выполнения</label>
                  <input type="text" class="form-control" ng-model="video.executed_at"
                         ng-disabled="data.state!='send_form'" data-provide="datepicker">
                </div>


                <div class="form-group col-xs-4">
                  <label>Вес снаряда</label>
                  <input type="number" class="form-control" ng-model="video.weight"
                         ng-disabled="data.state!='send_form'">
                </div>

                <div class="form-group col-xs-4">
                  <label>Повторения</label>
                  <input type="number" class="form-control" ng-model="video.reps"
                         ng-disabled="data.state!='send_form'">
                </div>

                <div class="form-group col-xs-4">
                  <label>Номер подхода</label>
                  <input type="number" class="form-control" ng-model="video.app"
                         ng-disabled="data.state!='send_form'">
                </div>

              </div>

              <div class="form-group col-md-12" style="border-top:1px solid #1c1e22;padding-top:5px;">
                <label>Название (необязательно)</label>
                <input type="text" class="form-control" ng-model="video.title" ng-disabled="data.state!='send_form'">
              </div>

              <div class="form-group col-md-12">
                <label>Описание (необязательно)</label>
                <textarea class="form-control" ng-model="video.description"
                          ng-disabled="data.state!='send_form'"></textarea>
              </div>

              <div class="form-group col-md-12">
                <label for="id_is_public">Публичный доступ</label>
                <input type="checkbox" id="id_is_public" ng-model="video.is_public"
                       ng-disabled="data.state!='send_form'">
              </div>
            </div>
            <div ng-if="data.state=='upload' || data.state=='progress'">
              <span ng-if="data.state=='upload'"><i class="fa fa-refresh fa-spin"></i> Загрузка видео ...</span>
              <span ng-if="data.state=='progress'"><i class="fa fa-refresh fa-spin"></i> Обработка видео ...</span>
              <div class="progress">
                <span class="progress-bar progress-bar-striped progress-bar-success"
                      style="width:{$ data.percent $}%;">{$ data.percent $}%</span>
              </div>
            </div>
            <div ng-if="data.error" class="alert alert-danger">{$ data.error $}</div>
          </div>
        </div>
        <div ng-if="data.state=='saved'">
          <div class="col-md-6">
            <div class="form-group">
              Видео сохранено и доступно по ссылке: <a href="/video/{$ data.video_id $}">http://ws.last-man.org/video/{$ data.video_id $}</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-if="data.state=='send_form'||data.state=='set_link'"
                  type="button" class="btn btn-default" ng-click="reset()">Назад</button>
          <button ng-if="data.state=='send_form'"
                  type="button" class="btn btn-primary" ng-click="videoSave()">Сохранить</button>
        </div>
        <div class="clearfix"></div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->