{% extends 'main/home.html' %}
{% load humanize %}
{% load staticfiles %}
{% load subdomain_urls %}

{% block title %}Список видео{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/angular/angular-locale_ru-ru.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dateformat.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/video_form.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/video_show.js' %}?2"></script>
  <script>
  var urls = {
    'api_video_get_progress': '{% url 'api_video_get_progress' 'api' %}',
    'api_video_save': '{% url 'api_video_save' 'api' %}',
    'api_video_info': '{% url 'api_video_info' 'api' %}',
    'api_video_show': '{% url 'api_video_show' 'api' %}',
    'api_video_exercise_list': '{% url 'api_video_exercise_list' 'api' %}',
  };
  angular.element(document).ready(function() {
    angular.bootstrap($('#video_show_modal'), ['showVideoApp']);
    angular.bootstrap($('#video_add_form'), ['addVideoApp']);
  });
  </script>
{% endblock %}

{% block content %}
  {% include 'videohub/add_form.html' %}
  {% include 'videohub/show_modal.html' %}

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 well">
          <h3>Список видео</h3>
          {% if request.user.is_authenticated %}
            <button class="btn btn-success pull-right" onclick="showVideoForm()">
              <i class="fa fa-video-camera"></i>
              Добавить видео
            </button>
          {% endif %}
        </div>

        {% if objs %}
          {% for video in objs %}
            <div class="col-md-3 well">
              <a href="javascript:showVideo({{ video.id }});">
                <img src="https://i.ytimg.com/vi/{{ video.youtube_id }}/hqdefault.jpg" class="img-responsive">
              </a>
              <div>
                <a style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;"
                   href="javascript:showVideo({{ video.id }});"><b>{{ video.name }}</b></a>
                <a class="pull-right" href="{% url 'profile_show' 'ws' video.user.username %}">
                  <i class="fa fa-user"></i>&nbsp;{{ video.user.fullname }}

                <form method="POST" action="{% url 'video_delete' 'ws' video.id %}">
                  {% csrf_token %}
                  <a class="btn btn-danger pull-left btn-xs" onclick="if(confirm('Вы уверены?')){$(this).closest('form').submit()}">
                    <i class="fa fa-trash-o"></i> удалить
                  </a>
                </form>
              </div>
            </div>
          {% endfor %}
          {% include 'main/pagination.html' %}
        {% else %}
          <div class="alert alert-info">
            <i>пусто</i>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}