{% extends 'main/home.html' %}
{% load staticfiles %}
{% load subdomain_urls %}

{% block title %}Просмотр видео{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/angular/angular-locale_ru-ru.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dateformat.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/video_show.js' %}?2"></script>
  <script>
  var urls = {
    'api_video_show': '{% url 'api_video_show' 'api' %}',
  };

  $(document).ready(function() {
    showVideo({{ video.id }}, 1);
  });
  </script>
{% endblock %}

{% block content %}
 <div class="row">
  <div class="col-md-12">
    <div id="video_show_modal" ng-app="showVideoApp" ng-controller="ShowVideoCtrl">
      <div class="col-md-12" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="text-align:center;">{$ data.title $}</h4>
          </div>
          <div ng-if="video" class="embed-responsive embed-responsive-16by9">
            <iframe type="text/html" class="embed-responsive-item" frameborder="0"
              ng-src="{$ getIframeSrc(video.youtube_id) $}"></iframe>
          </div>
          <div class="modal-body">
            <div ng-if="video" class="row">
              <div class="col-md-8">
                <div style="font-weight: 700;font-size: 120%;">{$ video.title $}</div>
                <div ng-if="video.description">{$ video.description $}</div>
                <small><i class="fa fa-link"></i>&nbsp; <a href="http://ws.last-man.org/video/{$ video.id $}/">http://ws.last-man.org/video/{$ video.id $}/</a></small>
              </div>
              <div class="col-md-4" style="text-align: right;">
                <div><i class="fa fa-eye"></i> {$ video.view_count $}</div>
                <div><i class="fa fa-user"></i>&nbsp;{$ video.user.fullname $}</div>
                <div>выполнено: {$ video.executed_at $}</div>
                <small ng-if="video.is_public"><i class="fa fa-users"></i>&nbsp;публичное</small>
                <small ng-if="!video.is_public"><i class="fa fa-lock"></i>&nbsp;личное</small>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
 </div>
{% endblock %}