<div class="modal fade" id="video_show_modal" ng-app="showVideoApp" ng-controller="ShowVideoCtrl"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" style="text-align:center;">{$ data.title $}</h4>
      </div>
      <div ng-if="video" class="embed-responsive embed-responsive-16by9">
        <iframe type="text/html" class="embed-responsive-item" frameborder="0"
          ng-src="{$ getIframeSrc(video.youtube_id) $}"></iframe>
      </div>
      <div class="modal-body">
        <div ng-if="video" class="row">
          <div class="col-md-8">
            <div style="font-weight: 700;font-size: 120%;">{$ video.title $}</div>
            <div ng-if="video.description">{$ video.description $}</div>
            <small><i class="fa fa-link"></i>&nbsp; <a href="http://ws.last-man.org/video/{$ video.id $}/">http://ws.last-man.org/video/{$ video.id $}/</a></small>
          </div>
          <div class="col-md-4" style="text-align: right;">
            <div><i class="fa fa-eye"></i> {$ video.view_count $}</div>
            <div><i class="fa fa-user"></i>&nbsp;{$ video.user.fullname $}</div>
            <div>выполнено: {$ video.executed_at $}</div>
            <small ng-if="video.is_public"><i class="fa fa-users"></i>&nbsp;публичное</small>
            <small ng-if="!video.is_public"><i class="fa fa-lock"></i>&nbsp;личное</small>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->