{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}Приложение для Android{% endblock %}

{% block content %}
  <div class="col-md-12 well well-lg" style="font-size:140%;">
    <img class="img-responsive" src="{% static 'img/app.png' %}" style="float:left;margin:10px;padding-right:40px">
    {% if message %}<div class="alert alert-info">{{ message }}</div>{% endif %}
    <ol>
      <li>Мобильная версия сайта LMS Workspace <a style="text-decoration: underline" href="http://m.last-man.org/" target="_blank">m.last-man.org</a></li>
      <li>
        <a style="text-decoration: underline" target="_blank" href="https://play.google.com/store/apps/details?id=org.lastman.ws">Скачать приложение в Play Market</a>
      </li>
    </ol>
  </div>
{% endblock %}