{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}Приложение для iOS{% endblock %}

{% block content %}
  <div class="col-md-12 well well-lg" style="font-size:140%;">
    <img class="img-responsive" src="{% static 'img/app.png' %}" style="float:left;margin:10px;padding-right:40px">
    {% if message %}<div class="alert alert-info">{{ message }}</div>{% endif %}
    Приложение для iOS ожидает модерации App Store. А пока вы можете:
    <ol>
      <li>Воспользоваться мобильной версией LMS Workspace <a style="text-decoration: underline" href="http://m.last-man.org/" target="_blank">m.last-man.org</a></li>
      <li>Скачать приложение .ipа и установить его на iPhone или iPad с помощью iTunes.
        <ul>
          <li>
            <a style="text-decoration: underline" href="{% static 'app/lms_workspace.ipa' %}" download="lms_workspace.ipa">Скачать файл .ipa</a>
          </li>
          <li><a style="text-decoration: underline" target="_blank" href="http://www.code-inside.com/kak-ustanovit-prilozhenie-cherez-ipa-fayl-na-ipad-ili-iphone/#.WFAPK_mLSUk">Инструкция по установке</a></li>
        </ul>
      </li>
      <li>Оставить нам адрес вашей почты. Мы вышлем вам ссылку как только приложение будет опубликовано:</li>
    </ol>
    <form class="form-inline" method="POST" style="text-align: center;">
      {% csrf_token %}
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Ваша электропочта">
        <button type="submit" class="btn btn-success">Подписаться</button>
      </div>
    </form>
  </div>
{% endblock %}