{% extends 'main/home.html' %}
{% load staticfiles %}
{% load my_filters %}
{% load humanize %}
{% load subdomain_urls %}

{% block title %}План: {{ plan.name|lower }}{% endblock %}

{% block scripts %}
<link href="{% static 'css/plan_show.css' %}?5" rel="stylesheet" />

<script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/enscroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/ui-bootstrap-tpls.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular/angular-locale_ru-ru.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sortable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/contextMenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dateformat.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plan_show.js' %}?11"></script>

<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/dark-unica.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet" />

<script type="text/javascript" src="{% static 'js/video_show.js' %}?2"></script>
<script type="text/javascript" src="{% static 'js/video_form.js' %}"></script>
<script>
{% autoescape off %}
var exercises = {{ exercises }};
var access = {{ access }};
var plan = {{ plan_data }};
{% endautoescape %}
var urls = {
  'api_video_get_progress': '{% url 'api_video_get_progress' 'api' %}',
  'api_video_save': '{% url 'api_video_save' 'api' %}',
  'api_video_info': '{% url 'api_video_info' 'api' %}',
  'api_video_show': '{% url 'api_video_show' 'api' %}',
  'api_video_exercise_list': '{% url 'api_video_exercise_list' 'api' %}',
};
angular.element(document).ready(function() {
  angular.bootstrap($('#video_show_modal'), ['showVideoApp']);
  angular.bootstrap($('#video_add_form'), ['addVideoApp']);
});
</script>
{% endblock %}

{% block footer %}
<div ng-app="mainApp" ng-controller="ShowCtrl">
  <div class="col-md-12" id="wrap">
    <div class="pane well form" id="edit-pane" data-custom->
      <div style="width:350px;padding:4px;">

        <div id="groups-tab" class="tab">
          <h3>Группировка упражнений</h3>
          <table class="table table-bordered">
            <tr ng-repeat="e in groupExercises">
              <td>
                {$ e.name $}
              </td>
              <td>
                <input type="text" class="form-control" ng-model="e.group"
                       placeholder="введите группу" ng-change="e.group=e.group.toUpperCase();">
              </td>
            </tr>
          </table>
          <div class="button-block">
            <button class="btn btn-success" ng-click="saveGroupExercises();">Сохранить</button>
            <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
          </div>
        </div>

        <div id="message-tab" class="tab">
          <p>{$ message $}</p>
          <div class="button-block">
            <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
          </div>
        </div>

        <div id="videos-tab" class="tab">
          <div class="col-md-12 well" ng-repeat="(app, video) in videos">
            <a ng-click="showVideo(video.id);">
              <img ng-src="https://i.ytimg.com/vi/{$ video.youtube_id $}/hqdefault.jpg" class="img-responsive">
            </a>
            <div>
              <a style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;" ng-click="showVideo(video.id);"><b>{$ video.name $}</b></a>
            </div>
          </div>
          <div class="button-block">
            <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
          </div>
        </div>

        <div id="plan-tab" class="tab">
          <div class="form-group">
            <label for="plan_name">Название плана</label>
            <input type="text" ng-disabled="!access.edit" class="form-control" id="plan_name" ng-model="edit_plan.name">
          </div>
          <div class="form-group">
            <label for="plan_start_date">Дата начала</label>
            <input type="text" class="form-control" id="plan_start_date" ng-model="edit_plan.start_date"
              data-provide="datepicker" data-date-days-of-week-disabled="2,3,4,5,6,0" ng-disabled="!access.edit">
          </div>
          <div class="form-group alert alert-info" ng-if="access.edit && edit_plan.start_date == plan.start_date">
            Теперь у вас есть возможность изменить дату начала плана.
          </div>
          <div class="form-group alert alert-danger" ng-if="access.edit && edit_plan.start_date != plan.start_date">
            Внимание! Перенесутся все тренировки вместе с началом плана.
          </div>
          <div class="form-group">
            <label for="plan_author">Редактор</label>
            <input type="text" ng-disabled="!access.edit" class="form-control" id="plan_author" ng-model="edit_plan.author">
          </div>
          <div class="form-group">
            <label for="plan_sportsman">Спортсмен</label>
            <input type="text" ng-disabled="!access.edit" class="form-control" id="plan_sportsman" ng-model="edit_plan.sportsman">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-disabled="!access.edit" ng-model="edit_plan.is_public"> Публичный доступ
            </label>
          </div>

          <div class="button-block">
            <div ng-if="access.edit">
              <button ng-if="isSavingPlan" class="btn btn-success">
                <i class="fa fa-spinner fa-pulse"></i> Сохранение
              </button>
              <button ng-if="!isSavingPlan" class="btn btn-success" ng-click="savePlan();">
                Сохранить
              </button>
              <button class="btn btn-default" ng-click="editPaneHide();">Отмена</button>
            </div>
            <div ng-if="!access.edit">
              <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
            </div>
          </div>

        </div><!-- plan-tab-->

        <div id="pm-tab" class="tab">
          <h4>Неделя #{$ pm_num $}</h4>
          <table class="table table-striped" id="pm-table">
            <thead>
              <th>Упражнение</th>
              <th>Пред. ПМ</th>
              <th>ПМ.</th>
              <th>%</th>
            </thead>
            <tr ng-repeat="pm in pm_list">
              <td>{$ pm.exercise.name $}</td>
              <td>
                <span class="label label-default stat">
                  {$ pm.prev.weight|number:2 $}
                </span>
              </td>
              <td>
                <input ng-if="access.pm_edit" class="form-control input-digit" type="number" ng-disabled="all_correct.flag"
                  ng-model="pm.weight" ng-change="pmSetWeight(pm)" step="0.1" style="width:60px" select-on-click>
                <span ng-if="!access.pm_edit" class="label label-default stat">
                  {$ pm.weight|number:2 $}
                </span>
              </td>
              <td>
                <input ng-if="access.pm_edit" class="form-control input-digit" type="number" ng-disabled="all_correct.flag"
                  ng-model="pm.correct" ng-change="pmSetCorrect(pm)" style="width:60px" step="0.1" select-on-click>
                <span ng-if="!access.pm_edit" class="label label-default stat">
                  {$ pm.correct|number:2 $}
                </span>
              </td>
            </tr>
            <tfoot ng-if="access.pm_edit">
              <th colspan="3" style="text-align: right">
                <input type="checkbox" id="setAllCorrect" ng-model="all_correct.flag"
                  ng-change="all_correct.flag ? pmSetAllCorrect() : null">
                <label for="setAllCorrect">все сразу</label>
              </th>
              <th>
                <input class="form-control input-digit" type="number" ng-disabled="!all_correct.flag"
                  ng-model="all_correct.value" ng-change="pmSetAllCorrect()" style="width:60px" step="0.1" select-on-click>
              </th>
            </tfoot>
          </table>

          <div class="button-block">
            <div ng-if="access.pm_edit" class="pull-right">
              <button ng-if="isSavingPM" class="btn btn-success">
                <i class="fa fa-spinner fa-pulse"></i> Сохранение
              </button>
              <button ng-if="!isSavingPM" class="btn btn-success" ng-click="savePMList();">
                Сохранить
              </button>
              <button class="btn btn-default" ng-click="editPaneHide();">Отмена</button>
            </div>
            <div ng-if="!access.pm_edit" class="pull-right">
              <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
            </div>
          </div>

        </div><!--pm-tab-->
        
        <div id="plots-tab" class="tab">
          <div class="plot tonag"></div>
          <div class="plot kps"></div>
          <div class="plot percent"></div>
          <div class="plot avg-weight"></div>

          <div class="button-block">
            <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
          </div>

        </div><!--plots-tab-->
        
        <div id="train-tab" class="tab">
          <input placeholder="Дата" data-provide="datepicker" type="text" id="train_date"
            ng-disabled="!access.train_edit" ng-model="selected_train.date" ng-change="resetDate()" class="form-control">
          <input placeholder="Название" type="text" 
            ng-disabled="!access.train_edit" ng-model="selected_train.name" class="form-control">
          
          <div ng-if="!access.execution_edit" class="alert alert-info" style="padding:2px;text-align:center;margin-top:2px;">
            У вас нет прав для изменения состава упражнений
          </div>

          <div class="labels">
            <span class="label label-default column-name">ои, %</span>
            <span class="label label-default column-name">вес, кг</span>
            <span class="label label-default column-name">повт</span>
            <span class="label label-default column-name">подх</span>
            <span class="label label-default column-name">КПШ</span>
            <span class="label label-default column-name">ТНЖ</span>
          </div>
          <div ui-sortable="sortableOptions" ng-model="selected_train.executions">
            <div ng-repeat="e in selected_train.executions" class="execution">
              <span ng-if="access.execution_edit" ng-switch="e.level" class="level">
                <span ng-switch-when="light" ng-click="e.level='middle'" title="легкая" class="btn btn-xs btn-success">{$ $index+1 $}</span>
                <span ng-switch-when="middle" ng-click="e.level='hard'" title="средняя" class="btn btn-xs btn-warning">{$ $index+1 $}</span>
                <span ng-switch-when="hard" ng-click="e.level='other'" title="тяжелая" class="btn btn-xs btn-danger">{$ $index+1 $}</span>
                <span ng-switch-when="other" ng-click="e.level='light'" title="другое" class="btn btn-xs btn-default">{$ $index+1 $}</span>
              </span>
              <span ng-if="!access.execution_edit" ng-switch="e.level" class="level">
                <span ng-switch-when="light" title="легкая" class="quatro label label-success">{$ $index+1 $}</span>
                <span ng-switch-when="middle" title="средняя" class="quatro label label-warning">{$ $index+1 $}</span>
                <span ng-switch-when="hard" title="тяжелая" class="quatro label label-danger">{$ $index+1 $}</span>
                <span ng-switch-when="other" title="другое" class="quatro label label-default">{$ $index+1 $}</span>
              </span>
              <div ng-switch="e.level">
                <div ng-switch-when="other" class="other">
                  <div class="exercise">
                    <input class="form-control name" ng-model="e.other.name">
                    <a class="btn btn-default btn-xs btn-active" ng-click="removeExecution(selected_train.executions, $index)">
                      <i class="fa fa-remove"></i>
                    </a>
                  </div>
                  <div class="scheme">
                    <a ng-if="access.execution_edit" class="btn btn-{$ e.other.color $} btn-xs" style="width: 22px;" ng-click="changeColor(e.other)">
                      <i class="fa fa-bookmark"></i>
                    </a>
                    <span ng-if="!access.execution_edit" class="quatro label label-{$ e.other.color $}" style="width: 22px;display: inline-block;">
                      &nbsp;
                    </span>

                    <input ng-if="access.execution_edit" type="text" class="form-control input-digit" ng-model="e.other.weight">
                    <span ng-if="!access.execution_edit" class="label label-default stat">{$ e.other.weight $}</span>

                    <input ng-if="access.execution_edit" type="text" class="form-control input-digit" ng-model="e.other.reps">
                    <span ng-if="!access.execution_edit" class="label label-default stat">{$ e.other.reps $}</span>

                    <input ng-if="access.execution_edit" type="text" class="form-control input-digit" ng-model="e.other.apps">
                    <span ng-if="!access.execution_edit" class="label label-default stat">{$ e.other.apps $}</span>

                  </div>
                </div>
                <div ng-switch-default>
                  <div class="exercise">
                    <input ng-disabled="!access.execution_edit"
                           class="form-control {$ e.exercise.id ? '' : 'error' $} exercise-select"
                           select-exercise value="{$ e.exercise.name $}" ng-index="{$ $index $}">

                    ПМ
                    <input ng-disabled="!access.execution_edit" type="number"
                           class="form-control input-digit {$ selected_train.pms[e.exercise.id]  ? '' : 'error' $}"
                           min="0" max="500" step="1" ng-model="selected_train.pms[e.exercise.id]" ng-change="resetStat()">

                    <a ng-if="access.execution_edit" class="btn btn-default btn-xs btn-active" ng-click="removeExecution(selected_train.executions, $index)">
                      <i class="fa fa-remove"></i>
                    </a>

                  </div> <!--exercise-->
                  <div class="scheme" ng-init="e.scheme = e.scheme ? e.scheme : [{weight: 0, percent: 0, reps: 0, apps: 0, kps: 0, tonag: 0, color: 'default'}]">
                    <div ng-repeat="s in e.scheme">
                      <a ng-if="access.execution_edit" class="btn btn-{$ s.color $} btn-xs" style="width: 22px;" ng-click="changeColor(s)">
                        <i class="fa fa-bookmark"></i>
                      </a>
                      <span ng-if="!access.execution_edit" class="quatro label label-{$ s.color $}" style="width: 22px;display: inline-block;">
                        &nbsp;
                      </span>

                      <input ng-if="access.execution_edit" type="number" step="1"
                        class="form-control input-digit" ng-model="s.percent" ng-change="resetStat()" select-on-click>
                      <span ng-if="!access.execution_edit" class="label label-default stat">{$ s.percent $}</span>

                      <input ng-if="access.execution_edit" type="number" step="1"
                        class="form-control input-digit" ng-model="s.weight" ng-change="changeWeight(e, s)"
                        ng-model-options='{ debounce: 600 }' select-on-click>
                      <span ng-if="!access.execution_edit" class="label label-default stat">{$ s.weight $}</span>

                      <input ng-if="access.execution_edit" type="number" class="form-control input-digit" step="1"
                        ng-model="s.reps" ng-change="resetStat()" select-on-click>
                      <span ng-if="!access.execution_edit" class="label label-default stat">{$ s.reps $}</span>

                      <input ng-if="access.execution_edit" type="number" class="form-control input-digit" step="1"
                        ng-model="s.apps" ng-change="resetStat()" select-on-click>
                      <span ng-if="!access.execution_edit" class="label label-default stat">{$ s.apps $}</span>

                      <span class="label label-default stat">{$ s.kps|number:0 $}</span>
                      <span class="label label-default stat">{$ s.tonag|number:0 $}</span>

                      <span ng-if="access.execution_edit">
                        <a ng-if="$index>0" class="btn btn-default btn-xs btn-active" ng-click="removeScheme(e.scheme, $index)">
                          <i class="fa fa-remove"></i>
                        </a>
                        <a ng-if="$index==0" class="btn btn-success btn-xs btn-active" ng-click="addScheme(e.scheme)">
                          <i class="fa fa-plus"></i>
                        </a>
                      </span>
                    </div>
                  </div><!--scheme-->
                  <div class="exercise-form" style="display: none" ng-init="e.new_exercise = {is_dual: false, name: ''}">
                    <input class="form-control name" ng-model="e.new_exercise.name" placeholder="Название упражнения">
                    <input type="checkbox" ng-model="e.new_exercise.is_dual" >
                    <label for="is_dual" onclick="$(this).prev().click();">умножать тоннаж на 2</label>
                    <div class="pull-right">
                      <button class="btn btn-xs btn-default" style="width:auto;" ng-click="closeExerciseForm(e, $event)">Отмена</button>
                      <button class="btn btn-xs btn-success" style="width:auto;" ng-click="createExercise(e, $event)">Создать</button>
                    </div>
                  </div><!--exercise-form-->
                </div>
              </div>
            </div>
          </div>
          <a ng-if="access.execution_edit" class="btn btn-success btn-xs" style="float:left" ng-click="addExecution()">
            <i class="fa fa-plus"></i> 
          </a>
          <div class="total">
            Всего:
            <span class="label label-default stat">{$ selected_train.kps|number:0 $}</span>
            <span class="label label-default stat">{$ selected_train.tonag|number:0 $}</span>
          </div>
          <textarea ng-disabled="!access.execution_edit" placeholder="Комментарий"
            ng-model="selected_train.comment" class="form-control" style="height:44px" row="4"></textarea>
          <textarea ng-disabled="!access.train_edit" placeholder="Итоги"
            ng-model="selected_train.resume" class="form-control" style="height:44px" row="4"></textarea>

          <div class="button-block">
            <div ng-if="access.train_edit" class="pull-right">
              <button ng-if="!isSavingTrain && access.train_delete" class="btn btn-danger" ng-click="deleteTrain(selected_train.id);">
                <i class="fa fa-spinner fa-trash"></i>
                Удалить
              </button>
              <button ng-if="isSavingTrain" class="btn btn-success">
                <i class="fa fa-spinner fa-pulse"></i> Сохранение
              </button>
              <button ng-if="!isSavingTrain" class="btn btn-success" ng-click="saveTrain();">
                Сохранить
              </button>
              <button class="btn btn-default" ng-click="editPaneHide();">Отмена</button>
            </div>
            <div ng-if="!access.train_edit" class="pull-right">
              <button class="btn btn-default" ng-click="editPaneHide();">Закрыть</button>
            </div>
          </div>

        </div><!--train-tab-->
      </div>
    </div><!--edit-pane-->

    <div class="pane" id="calendar-pane" style="display:none;">
      
      <div ng-if="loading_up" class="btn btn-success btn-lg btn-full-width">
        <i class="fa fa-spinner fa-pulse"></i>
        Загрузка 
      </div>
      
      <div ng-if="start && !loading_up" ng-click="loadUp();" class="btn btn-default btn-lg btn-full-width" id="load-up-button">
        <i class="fa fa-angle-double-up"></i>
        Загрузить
      </div>
    
      <div class="btn-group dropup" id="menu-button" style="position:fixed;left:10px;bottom:25px;">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-list-ul"></i>
          <span>Меню плана</span>
        </button>
        <ul class="dropdown-menu">
          <li ng-click="scheme_format=1;saveSchemeFormat();">
            <a class="dropdown-item" href="#">
              <i ng-if="scheme_format==1" class="fa fa-check"></i>
              Формат: 100*4*4
            </a>
          </li>
          <li ng-click="scheme_format=2;saveSchemeFormat();">
            <a class="dropdown-item" href="#">
              <i ng-if="scheme_format==2" class="fa fa-check"></i>
              Формат: 100кг 4 по 4
            </a>
          </li>
          <li ng-click="scheme_format=3;saveSchemeFormat();">
            <a class="dropdown-item" href="#">
              <i ng-if="scheme_format==3" class="fa fa-check"></i>
              Формат: таблица
            </a>
          </li>
          <li class="divider"></li>
          <li ng-click="show_warmup=!show_warmup">
            <a class="dropdown-item" href="#">
              <i ng-if="show_warmup" class="fa fa-check"></i>
              Показывать разминку
            </a>
          </li>
          <li ng-click="show_stats=!show_stats;saveShowStats();">
            <a class="dropdown-item" href="#">
              <i ng-if="show_stats" class="fa fa-check"></i>
              Показывать статистику
            </a>
          </li>
          <li class="divider"></li>
          <li ng-click="showPlots();">
            <a class="dropdown-item" href="#">
              Показать графики
            </a>
          </li>
          <li ng-click="showGroupExercises();">
            <a class="dropdown-item" href="#">
              Группировка упражнений
            </a>
          </li>
          <li ng-click="editPlan();">
            <a class="dropdown-item" href="#">
              {$ access.edit ? 'Редактировать план' : 'Информация о плане' $}
            </a>
          </li>
        </ul>
      </div>

      <table ng-if="weeks" class="table table-bordered" id="calendar" style="margin-bottom:0px;">
        <tr ng-repeat="week in weeks" id="week_{$ week.num $}" class="{$ week.is_current ? 'active' : '' $}">
          <td width="5%">
            <div class="week-stat">
              <b>Неделя #{$ week.num $}</b><br><br>
              <a target="_blank" href="{% url 'plan_print' 'ws' plan.id %}?ts1={$ week.monday $}&ts2={$ week.sunday $}" class="btn btn-default btn-xs">
                <i class="fa fa-print"></i>
              </a>
              <button class="btn btn-xs btn-default" ng-click="editPMList(week.num)">
                <i ng-if="!access.pm_edit" class="fa fa-eye" aria-hidden="true"></i>
                <i ng-if="access.pm_edit" class="fa fa-pencil"></i>
                ПМ
              </button>
              <span ng-if="show_stats">
                <table class="table table-stat">
                  <tbody>
                    <tr>
                      <td>КПШ</td>
                      <td>{$ week.kps|number:0 $}</td>
                    </tr>
                    <tr>
                      <td>ТНЖ</td>
                      <td>{$ week.tonag|number:0 $}</td>
                    </tr>
                    <tr>
                      <td>СВ</td>
                      <td>{$ week.avg_weight|number:0 $}</td>
                    </tr>
                    <tr>
                      <td>ОИ</td>
                      <td>{$ week.percent|number:0 $}%</td>
                    </tr>
                  </tbody>
                </table>
              </span>

              <div ng-if="access.train_edit" class="break-buttons">
                <span ng-if="week.train_count == 0">
                  <button ng-if="!break_del_loading" class="btn btn-xs btn-danger" ng-click="breakDel(week.num)"
                      data-content="перенести тренировки начиная со следующей недели на неделю назад" popover>
                    <i class="fa fa-trash"></i> убрать
                  </button>
                  <button ng-if="break_del_loading" class="btn btn-xs btn-danger" disabled="disabled">
                    <i class="fa fa-spinner fa-pulse"></i> удаление...
                  </button>
                </span>

                <span ng-if="week.train_count > 0">
                  <button ng-if="!break_add_loading" class="btn btn-xs btn-success" ng-click="breakAdd(week.num)"
                      data-content="перенести тренировки начиная с этой недели на неделю вперед" popover>
                    <i class="fa fa-plus"></i> перерыв
                  </button>
                  <button ng-if="break_add_loading" class="btn btn-xs btn-success" disabled="disabled">
                    <i class="fa fa-spinner fa-pulse"></i> вставка...
                  </button>
                </span>
              </div>
            </div>
          </td>
          <td width="14%" ng-repeat="day in week.days" class="day {$ day.is_today ? 'today' : '' $}">
            <b class="date">{$ day.date|date:"dd.MM.yy EEE" $}</b>
            <button ng-if="access.train_add" class="btn btn-default btn-xs" title="добавить тренировку" ng-click="addTrain(day.date, week.pms);">
              <i class="fa fa-plus"></i>
            </button>
            <a target="_blank" href="{% url 'plan_print' 'ws' plan.id %}?ts={$ day.ts $}" title="печать" class="btn btn-default btn-xs">
              <i class="fa fa-print"></i>
            </a>
            <br>

            <div class="train {$ selected_train.id == train.id ? 'selected' : '' $}" ng-repeat="train in day.trains">
              <div class="hidden-message" ng-if="train.is_hidden">
                тренировка скрыта, чтобы открыть <b><a href="{% url 'payment_form' 'ws' %}">продлите подписку</a></b>
              </div>
              <i>{$ train.name $}</i>
              <div class="stat">
                <button ng-if="access.train_delete" class="btn btn-danger btn-xs" title="удалить" ng-click="deleteTrain(train.id)">
                  <i class="fa fa-trash"></i>
                </button>
                <button ng-if="access.train_add" class="btn btn-default btn-xs" title="копировать" ng-click="copyTrain(train, week.pms);">
                  <i class="fa fa-clone"></i>
                </button>
                <button class="btn btn-default btn-xs" title="редактировать" ng-click="editTrain(train, week.pms);">
                  <i ng-if="!access.train_edit" class="fa fa-eye" aria-hidden="true"></i>
                  <i ng-if="access.train_edit" class="fa fa-pencil"></i>
                </button>
              </div>
              <span ng-if="show_stats">
                <table class="table table-stat">
                  <tbody>
                    <tr>
                      <td width="1%">КПШ</td>
                      <td width="1%">ТНЖ</td>
                      <td width="1%">СВ</td>
                      <td width="1%">ОИ</td>
                    </tr>
                    <tr>
                      <td>{$ train.kps|number:0 $}</td>
                      <td>{$ train.tonag|number:0 $}</td>
                      <td>{$ train.avg_weight|number:0 $}</td>
                      <td>{$ train.percent|number:0 $}%</td>
                    </tr>
                  </tbody>
                </table>
              </span>
              <div class="execution">
                <div class="scheme" style="font-size: 85%;">
                  <span ng-if="scheme_format==1">
                    вес*повт*подх
                  </span>
                  <span ng-if="scheme_format==2">
                    вес подх повт
                  </span>
                  <div ng-if="scheme_format==3">
                    <span class="scheme-row" style="text-align: center;">
                      <span>ои</span>
                      <span>вес</span>
                      <span>повт</span>
                      <span>подх</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="execution {$ e.exercise.id && selected_exercise.id == e.exercise.id ? 'selected' : '' $} {$ e.is_hidden ? 'is_hidden' : '' $}"
                ng-repeat="e in train.executions" ng-click="selected_exercise.id = e.exercise.id">
                <div ng-switch="e.level">
                  <div ng-switch-when="other">
                    <div class="exercise">
                      <span class="label label-default">{$ $index+1 $}</span>
                      {$ e.other.name $}
                    </div>
                    <div class="scheme">
                      <span class="label label-{$ e.other.color $}">
                        {$ e.other.weight ? e.other.weight : '' $}{$ e.other.reps ? ' ' + e.other.reps : '' $}{$ e.other.apps ? ' ' + e.other.apps : '' $}
                      </span>
                    </div>
                  </div>
                  <div ng-switch-default>
                    <div class="exercise">
                      <span ng-switch="e.level">
                        <span ng-switch-when="light" class="label label-success">{$ $index+1 $}</span>
                        <span ng-switch-when="middle" class="label label-warning">{$ $index+1 $}</span>
                        <span ng-switch-when="hard" class="label label-danger">{$ $index+1 $}</span>
                      </span>
                      <a href="/exercise/{$ e.exercise.id $}" target="_blank">{$ e.exercise.name $}</a>
                    </div>
                    <div class="scheme" ng-if="e.is_hidden">
                      <i>скрыто</i>
                    </div>
                    <div class="scheme" ng-if="!e.is_hidden">
                      {% spaceless %}
                      <span ng-if="show_warmup" ng-repeat="s in e.warmup_scheme">
                        <span ng-if="scheme_format==1" class="label label-default warmup">
                          {$ s.weight $}*{$ s.reps $}{$ s.apps > 1 ? '*'+ s.apps : '' $}
                        </span>
                        <span ng-if="scheme_format==2" class="label label-default warmup">
                          {$ s.weight $}кг {$ s.apps == 1 ? ' на ' + s.reps : ' ' + s.apps + ' по ' + s.reps $}
                        </span>
                        <div ng-if="scheme_format==3" class="label label-default warmup scheme-row">
                          <span>&nbsp;</span>
                          <span>{$ s.weight$}</span>
                          <span>{$ s.reps $}</span>
                          <span>{$ s.apps $}</span>
                        </div>
                      </span>
                      <span ng-repeat="s in e.scheme" context-menu="menuOptions(s)" $}>
                        <span ng-if="scheme_format==1" class="label label-{$ s.color $}">
                          <span>({$ s.percent $}%) </span>{$ s.weight $}*{$ s.reps $}{$ s.apps > 1 ? '*'+ s.apps : '' $}
                          <i ng-if="!(s.videos|isEmpty)" title="Нажмите, чтобы посмотреть" class="fa fa-film"
                               ng-click="showVideos(s.videos)"; style="cursor: pointer;padding-left: 3px"></i>
                        </span>
                        <span ng-if="scheme_format==2" class="label label-{$ s.color $}">
                          <span>({$ s.percent $}%) </span>{$ s.weight $}кг {$ s.apps == 1 ? ' на ' + s.reps : ' ' + s.apps + ' по ' + s.reps $}
                          <i ng-if="!(s.videos|isEmpty)" title="Нажмите, чтобы посмотреть" class="fa fa-film"
                               ng-click="showVideos(s.videos)"; style="cursor: pointer;padding-left: 3px"></i>
                        </span>

                        <span ng-if="scheme_format==3" class="label label-{$ s.color $} scheme-row" $}>
                          <span>
                            <i ng-if="!(s.videos|isEmpty)" title="Нажмите, чтобы посмотреть" class="fa fa-film"
                               ng-click="showVideos(s.videos)"; style="cursor: pointer"></i>
                          </span>
                          <span>{$ s.percent $}%</span>
                          <span>{$ s.weight $}</span>
                          <span>{$ s.reps $}</span>
                          <span>{$ s.apps $}</span>
                        </span>
                      </span>
                      {% endspaceless %}
                    </div>
                  </div>
                </div>
              </div>
              <span class="btn btn-info btn-xs pull-right" title="Коммент" style="display:inline;"
                    data-content="{$ train.comment.length > 200 ? (train.comment | limitTo:200) + '...' : train.comment $}"
                    ng-if="train.comment" popover ng-click="showMessage(train.comment)">
                <i class="fa fa-comment" aria-hidden="true"></i> коммент
              </span>
              <span class="btn btn-success btn-xs pull-right" title="Итоги" style="display:inline;"
                    data-content="{$ train.resume.length > 200 ? (train.resume | limitTo:200) + '...' : train.resume $}"
                    ng-if="train.resume" popover ng-click="showMessage(train.resume)">
                <i class="fa fa-question-circle" aria-hidden="true"></i> итоги
              </span>
            </div><!-- train -->

          </td>
        </tr>
      </table>

      <div class="btn btn-success btn-lg btn-full-width" style="{$ loading_down ? '' : 'display:none' $}">
        <i class="fa fa-spinner fa-pulse"></i>
        Загрузка
      </div>

      <div ng-if="finish && !loading_down" ng-click="loadDown();" class="btn btn-default btn-lg btn-full-width" id="load-down-button">
        <i class="fa fa-angle-double-down"></i>
        Загрузить
      </div>
      
    </div>
  </div>
</div>
{% include 'videohub/show_modal.html' %}
{% include 'videohub/add_form.html' %}
{% endblock %}