{% extends 'main/base.html' %}
{% load my_filters %}
{% load staticfiles %}

{% block title %}Печать плана{% endblock %}
{% block scripts %}
<style type="text/css">
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .fraction-table
    {
      border: 0px;
    }

    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td 
    {
      padding: 1px;
    }
    .tab-pane 
    {
      height: initial !important;
      overflow-y: initial !important;
    }
}
.fraction-table {
  float:left; 
  margin-left:5px;
}
.fraction-table td {
  text-align: center;
}
.fraction-table tr:first-child td:first-child {
  border-bottom:1px solid #ddd;
}
</style>
<script type="text/javascript" src="{% static 'js/tab-pane.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('input[data-provide="datepicker"]').change(function(){
    var p = $(this).val().split('.')
    var d = new Date(p[2],parseInt(p[1])-1,p[0]);
    d.setDate(d.getDate() + 1);
    $(this).next('input[type="hidden"]').val(d.getTime() / 1000);
  })
})
</script>
{% endblock %}

{% block content %}
<div class="col-md-4 no-print tab-pane">
  <div class="well">
    <form class="">
      <div class="form-group">
        <a type="button" href="{% url 'home' %}" class="btn btn-default"><i class="fa fa-home"></i> вернуться на главную</a>
      </div>
      <div class="form-group">
        <label>Начало</label>
        <input type="text" class="form-control" value="{{ start|date:'d.m.Y' }}" data-provide="datepicker">
        <input type="hidden" name="ts1" value="{{ start|to_timestamp }}">
      </div>
      <div class="form-group">
        <label>Конец</label>
        <input type="text" class="form-control" value="{{ end|date:'d.m.Y' }}" data-provide="datepicker">
        <input type="hidden" name="ts2" value="{{ end|to_timestamp }}">
      </div>
      <div class="form-group">
        <label>Формат</label>
        <select name="format" class="form-control">
          <option value="standart" {% if format == 'standart' %}selected="selected"{% endif %}>Стандартный</option>
          <option value="fraction" {% if format == 'fraction' %}selected="selected"{% endif %}>Дробный</option>
          <option value="linear" {% if format == 'linear' %}selected="selected"{% endif %}>Линейный</option>
        </select>
      </div>
      <div class="form-group">
        <input type="hidden" name="warmup" value="0">
        <input type="checkbox" name="warmup" id="warmup" value="1" {% if warmup == '1' %}checked="checked"{% endif %}><label for="warmup">Показывать разминку</label><br>
        <input type="hidden" name="show_free" value="0">
        <input type="checkbox" name="show_free" id="show_free" value="1" {% if show_free == '1' %}checked="checked"{% endif %}><label for="show_free">Показывать дни отдыха</label>
      </div>
      <div class="form-group pull-right">
        <button type="submit" class="btn btn-default">Показать</button>
        <button type="button" class="btn btn-success" onclick="window.print()">Печать</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
{% endblock %}