{% extends 'main/plan/print/base.html' %}
{% load my_filters %}

{% block content %}
{{ block.super }}
<div class="col-md-8 tab-pane">
<table class="table table-bordered">
  {% for day in days %}
    {% if day.weeknum %}
      <tr><td colspan="4">
        <b style="font-size: medium;">Неделя №{{ day.weeknum }}</b>
      </td></tr>
    {% endif %}

    {% if day.trains %}
      <tr><td colspan="4">
        <b style="font-size: medium;">{{ day.date|from_timestamp|date:"d.m.Y l" }}</b>
      </td></tr>
      {% include 'main/plan/print/fraction_list.html' with records=day.trains %}
      <tr style="height:10px;"><td colspan="4"></td></tr>

    {% elif show_free == '1' %}
      <tr><td colspan="4">
        <b style="font-size: medium;">{{ date|date:"d.m.Y l" }}</b>
      </td></tr>
      <tr><td colspan="4">
        <b>Отдых</b>
      </td></tr>
      <tr style="height:10px;"><td colspan="4"></td></tr>
    {% endif %}

  {% endfor %}
</table>
</div>
{% endblock %}