<table class="fraction-table">
  <tr>
    <td>
      {% if e.exercise.factor and e.pm.plan_factor != 1 %}{{ s.weight|floatformat:0 }} пл
      {% else %}{{ s.weight }}{% endif %}
    </td>
    <td rowspan="2"> 
      {% if s.apps > 1 %}
      &nbsp;*&nbsp;{{ s.apps }}
      {% endif %}
    </td>
  </tr>
  <tr><td>{{ s.reps }}</td></tr>
</table>