  {% for obj in records %}
  <!---->
      {% if obj.name %}
      <tr><td colspan="4">
        <b><i>{{ obj.name }}</i></b><br>
      </td></tr>
      {% endif %}

      {% if obj.comment %}
      <tr><td colspan="4"><i>Комментарий: {{ obj.comment }}</i></td></tr>
      {% endif %}

      <tbody style="font-weight:bold;">
        <th width="1%">#</th>
        <th width="1%">Нагрузка</th>
        <th>Упражнение</th>
        <th>Схема</th>
      </tbody>


      {% for e in obj.executions %}
        {% if e.level == 'other' %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>&nbsp;</td>
            <td>{{ e.other_name }}</td>
            <td>
              {{ e.other_weight }}
              {% if e.other_reps %}
               * {{ e.other_reps }}
              {% endif %}
              {% if e.other_apps %}
               * {{ e.other_apps }}
              {% endif %}
          </tr>
        {% else %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              {% if e.level == 'light' %}Легкая
              {% elif e.level == 'middle' %}Средняя
              {% elif e.level == 'hard' %}Тяжелая
              {% endif %}
            </td>
            <td>{{ e.exercise.name }}</td>
            <td>
            {% if e.is_hidden %}
              <i>скрыто</i>
            {% else %}
              {% if warmup == '1' %}
                {% for s in e.warmup_scheme %}
                  {% include 'main/plan/print/fraction_scheme.html' %}&nbsp;
                {% endfor %}&nbsp;
              {% endif %}
              {% for s in e.scheme %}
                <b>{% include 'main/plan/print/fraction_scheme.html' %}&nbsp;</b>
              {% endfor %}
            {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}

      {% if obj.resume %}
      <tr><td colspan="4"><i>Итог: {{ obj.resume }}</i></td></tr>
      {% endif %}

  <!---->
{% endfor %}