{% extends 'main/home.html' %}

{% block title %}Статистика по планам{% endblock %}

{% block content %}
<div class="col-md-12">
  <a class="btn btn-default" href="javascript:history.back();"><i class="fa fa-arrow-left"></i> назад</a>
  {% include 'main/plan/list_table.html' %}
</div>
{% endblock %}