{% extends 'main/home.html' %}

{% block title %}Статистика{% endblock %}

{% block content %}
<div class="col-md-12">
  <a class="btn btn-default" href="javascript:history.back();"><i class="fa fa-arrow-left"></i> назад</a>
  <h3>{{ title }} ({{ list.paginator.count }})</h3>
  <table class="table">
    <thead>
      <th>Имя пользователя</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Дата входа</th>
      <th>Дата регистрации</th>
    </thead>
    {% for user in list %}
    <tr>
      <td><a href="{% url 'admin_user' user.id %}">{{ user.username }}</a></td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.last_login|date:'d.m.Y H:i' }}</td>
      <td>{{ user.date_joined|date:'d.m.Y H:i' }}</td>
    </tr>
    {% endfor %}
  </table>
  {% include 'main/pagination.html' %}
</div>
{% endblock %}