{% extends 'main/home.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Статистика{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/dark-unica.js' %}"></script>
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>
    оплачено/всего:
    {{ all_sum|intcomma }} <i class="fa fa-rub"></i>/
    {{ total_sum|intcomma }} <i class="fa fa-rub"></i>
  </h3>
  <h3>Заходили на страницу консультации: {{ advice_count }}</h3>
<div class="col-md-4">
  <table class="table">
    <thead>
      <th>Месяц</th>
      <th style="text-align: right">Сумма ЯК</th>
      <th style="text-align: right">Сумма РК</th>
      <th style="text-align: right">Сумма общая</th>
    </thead>
    {% for s in months %}
      <tr>
        <td>{{ s.0 }}.{{ s.1 }}</td>
        <td style="text-align: right">{{ s.2|intcomma }} <i class="fa fa-rub"></i></td>
        <td style="text-align: right">{{ s.3|intcomma }} <i class="fa fa-rub"></i></td>
        <td style="text-align: right">{{ s.4|intcomma }} <i class="fa fa-rub"></i></td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="col-md-8">
  <table class="table">
    <thead>
      <th>Дата</th>
      <th style="text-align: right">Оплачено</th>
      <th></th>
      <th style="text-align: right">Создано</th>
      <th></th>
      <th>Планов вручную</th>
      <th>Планов по СРЦ</th>
    </thead>
    {% for date, s in stat.items %}
      <tr>
        <td>{{ date }}</td>
        <td style="text-align: right">{{ s.sum|intcomma }} <i class="fa fa-rub"></i></td>
        <td>{{ s.count }}</td>
        <td style="text-align: right">{{ s.total_sum|intcomma }} <i class="fa fa-rub"></i></td>
        <td>{{ s.total_count }}</td>
        <td>{{ s.plan_count_1 }}</td>
        <td>{{ s.plan_count_2 }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}