{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}Статистика{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highcharts/dark-unica.js' %}"></script>
<script type="text/javascript">
$(function () {
    $('#plot').highcharts({
        title: {
            text: '',
        }, chart: {
            type: 'spline'
        },
        rangeSelector: {
            selected: 1
        },
        xAxis: {
            type: 'datetime',
            
            title: {
                text: 'Дата'
            }
        },
        yAxis: {
            title: {
                text: 'Количество пользователей'
            },
            endOnTick: false,
            startOnTick: false
        },
        series: [
          {
            showInLegend: false,
            data: [
                {% for r in stat %}
                [Date.UTC({{ r.created_at|date:"Y, n, j, G, i" }}), {{ r.count }}],
                {% endfor %}
            ]
          },
          {
            showInLegend: false,
            data: [
                {% for r in stat %}
                [Date.UTC({{ r.created_at|date:"Y, n, j, G, i" }}), {{ r.guests_count }}],
                {% endfor %}
            ]
          }
        ]
    });
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-12">
  <h3>Пользователи</h3>
  <table class="table">
    <tr>
      <td>Всего</td>
      <td>{{ user.all }}</td>
    </tr>
    <tr>
      <td>Зарегистрировано сегодня</td>
      <td><a href="{% url 'admin_stat_reg' %}">{{ user.reg }}</a></td>
    </tr>
    <tr>
      <td>Заходило сегодня</td>
      <td><a href="{% url 'admin_stat_login' %}">{{ user.login }}</a></td>
    </tr> 
    <tr>
      <td>Сейчас на сайте</td>
      <td><a href="{% url 'admin_stat_online' %}">{{ user.online }}</a></td>
    </tr>
  </table>
  <div id="plot"></div>
  <h3>Планы</h3>
  <table class="table">
    <tr>
      <td>Удалено</td>
      <td>{{ plan.deleted }}</td>
    </tr>
    <tr>
      <td>Всего</td>
      <td><a href="{% url 'admin_stat_plan' %}">{{ plan.all }}</a></td>
    </tr>
    <tr>
      <td>По СРЦ</td>
      <td><a href="{% url 'admin_stat_cycle' %}">{{ plan.cycle }}</a></td>
    </tr>
    <tr>
      <td>Вручную</td>
      <td><a href="{% url 'admin_stat_plan' %}?source__isnull=1">{{ plan.manual }}</a></td>
    </tr>
    <tr>
      <td>Сегодня по СРЦ</td>
      <td>{{ plan.cycle_today }}</td>
    </tr>
    <tr>
      <td>Сегодня вручную</td>
      <td>{{ plan.manual_today }}</td>
    </tr>
  </table>
</div>
{% endblock %}