{% extends 'main/home.html' %}

{% block title %}Статистика по СРЦ{% endblock %}

{% block content %}
<div class="col-md-12">
  <a class="btn btn-default" href="javascript:history.back();"><i class="fa fa-arrow-left"></i> назад</a>
  <table class="table">
    <thead>
      <th>СРЦ</th>
      <th>Спорт</th>
      <th>Период</th>
      <th>Количество планов</th>
      <th>Количество просмотров</th>
      <th>Последний просмотр</th>
    </thead>
    {% for cycle in list %}
    <tr>
      <td><a href="{% url 'cycle' cycle.num %}">{{ cycle.name }}</a></td>
      <td>{{ cycle.sport }}</td>
      <td>{{ cycle.mode }}</td>
      <td><a href="{% url 'admin_stat_plan' %}?source_id={{ cycle.id }}">{{ cycle.plan_count }}</a></td>
      <td>{{ cycle.view_count }}</td>
      <td>{{ cycle.last_view|date:'d.m.Y H:i' }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}