{% extends 'main/home.html' %}

{% block title %}Пользователь {{ user.username }}{% endblock %}

{% block content %}
<div class="col-md-12">
  <a class="btn btn-default" href="javascript:history.back();"><i class="fa fa-arrow-left"></i> назад</a>
  <table class="table">
    <tr>
      <td>Имя пользователя</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>Имя</td>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <td>Фамилия</td>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <td>Ссылки</td>
      <td>
        {% if sauth.provider == 'vk-oauth' %}
        <a class="btn btn-default" href="http://vk.com/id{{ sauth.uid }}" target="_blank">
          <i class="fa fa-vk"></i>
        </a>
        {% else %}{{ sauth.provider }}.{{ sauth.uid }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Дата регистрации</td>
      <td>{{ user.date_joined|date:'d.m.Y H:i' }}</td>
    </tr>
    <tr>
      <td>Последний вход</td>
      <td>{{ user.last_login|date:'d.m.Y H:i' }}</td>
    </tr>
    <tr>
      <td>Последний запрос</td>
      <td>{{ last_request_date|date:'d.m.Y H:i' }}</td>
    </tr>
    <tr>
      <td>Запросы</td>
      <td><a href="{% url 'admin_user_requests' user.id %}">{{ request_count }}</a></td>
    </tr>
    <tr>
      <td>Планов</td>
      <td><a href="{% url 'admin_user_plans' user.id %}">{{ plan_count }}</a></td>
    </tr>
  </table>
</div>
{% endblock %}