{% extends 'main/home.html' %}

{% block title %}Запросы пользователя {{ user.username }}{% endblock %}

{% block content %}
<div class="col-md-12">
  <a class="btn btn-default" href="javascript:history.back();"><i class="fa fa-arrow-left"></i> назад</a>
  <table class="table">
    <thead>
      <th>Пользователь</th>
      <th>Путь</th>
      <th>Метод</th>
      <th>Домен</th>
      <th>Дата</th>
      <th>IP</th>
    </thead>
    <tbody>
      {% for r in list %}
      <tr>
      <td>{{ r.user.username }}</td>
      <td><a href="//{{ r.host }}{{ r.path }}" target="_blank">{{ r.path }}</a></td>
      <td>{{ r.method }}</td>
      <td>{{ r.host }}</td>
      <td>{{ r.created_at|date:'d.m.Y H:i' }}</td>
      <td>{{ r.ip }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'main/pagination.html' %}
</div>
{% endblock %}