{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}О сайте{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="well">
    <i class="fa fa-question"></i> Инструкцию пользователя можно прочитать <a href="http://last-man.org/lms-workspace-instrukciya-polzovatelya/" target="_blank">здесь</a>.
  </div>
</div>

<div class="col-md-12">
  <div class="well">
    <div class="col-md-2 col-sm-3 col-xs-6" style="text-align:center;overflow:hidden;">
      <a href="http://vk.com/lastmanstand1ng" target="_blank" style="white-space: nowrap;">
        <i class="fa fa-5x fa-vk"></i><br>
        Группа вконтакте
      </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6" style="text-align:center;overflow:hidden;">
      <a href="http://www.youtube.com/user/88Dmitry" target="_blank" style="white-space: nowrap;">
        <i class="fa fa-5x fa-youtube"></i><br>
        Канал YouTube
      </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6" style="text-align:center;overflow:hidden;">
      <a href="https://www.instagram.com/lms_team/" target="_blank" style="white-space: nowrap;">
        <i class="fa fa-5x fa-instagram"></i><br>
        @lms_team
      </a>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-6" style="text-align:center;overflow:hidden;">
      <a href="http://last-man.org" target="_blank" style="white-space: nowrap;">
        <i class="fa fa-5x fa-book"></i><br>
        Методический материал
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="col-md-12">
<div class="well" style="font-size:18px;text-align:justify;">
<p>Вы находитесь в рабочей среде сайта last-man.org. Она была создана, как закономерное продолжение развития сайта и системы LMS в целом. Наша цель – создать не только полноценную теоретическую базу информации по силовому тренингу, но и дать всем абсолютно реальную возможность получать готовые планы под различные задачи. Текущий уровень развития техники вполне позволяет это сделать, и наша цель реализовать это как можно скорее.</p>

<p>Данная идея не нова. Вдохновляющими для нас, коллектива сайта last-man.org и сообщества LMS, являются слова великого тренера и спортсмена. Очень жаль, что обозначенные здесь задачи начинают реализовываться только сейчас:</p>
<img src="{% static 'img/Vorobiev.png' %}" class="img-responsive" style="float:left;margin:10px;width:30%;">

<p>
<i class="fa fa-quote-left"></i> <i>В Московском областном государственном институте физической культуры, ректором которого я являюсь, у меня и моих сотрудников возникла идея, которая уже в начале 80-х годов обещает каждому разряднику, где бы он ни жил, выдавать конкретные рекомендации по тренировке, основанные на последнем слове науки о спорте. Для этого будет установлена электронно-счетная машина, создан банк информации, где сосредоточится множество сведений, касающихся разных аспектов рациональной тренировки. Нами вырабатывается алгоритм, в соответствии с которым ЭВМ в своих недрах будет синтезировать детально расписанные тренировочные планы.
У нас очень много говорят об индивидуальности, неповторимости, своеобразии каждого атлета. Это стало настолько привычным и обязательным, что порой приобретает характер крайности. Из нашего поля зрения как-то совсем исчез тот очевидный факт, что людей вообще и атлетов в частности роднит общая биологическая природа, что при всей важности нюансов и различий фундаментальные законы человеческого существования едины и обязательны для всех. Это особенно характерно для штангистов одной весовой категории...</i> <i class="fa fa-quote-right"></i>
</p>
<p class="pull-right"> - А. Н. Воробьев</p>
</div>
</div>
{% endblock %}