{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}LastManStanding: авторизация{% endblock %}

{% block scripts %}
<style>
.social {
  width: 84px;
}
.block-auth {
	text-align: center;
	padding: 12px;
  display: table-cell;
}
.block-auth img{
	max-height: 80vh;
}
.block {
	font-size: 28px;
  text-align: center;
  display: block;
  color: white;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px;
}
.block span{
	vertical-align:middle;
  display: table-cell;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <span class="block">

        <div class="hidden-xs">
          {% if request.GET.next %}
            <p>Для продолжения пожалуста авторизируйтесь.</p>
          {% else %}
          <p><i class="fa fa-quote-left"></i> <i>Данный сайт создавался с целью дать основную информацию, ту, которая наиболее приоритетна в тренировочном процессе, чтобы избавить людей от иллюзий, ложных целей; заставить их мыслить и анализировать тренировочный процесс.</i> <i class="fa fa-quote-right"></i></p>
          <p class="pull-right"> - Дмитрий Головинский.</p>
          {% endif %}
        </div>
        <div class="clearfix"></div>

        Войти через:<br>
        <a href="{% url 'socialauth_begin' 'vk-oauth' %}?next={{ request.GET.next }}" class="btn btn-danger btn-lg social">
          <span class="fa fa-vk fa-3x"></span>
        </a>
        <a href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.GET.next }}" class="btn btn-danger btn-lg social">
          <span class="fa fa-facebook fa-3x"></span>
        </a>
        <a href="{% url 'socialauth_begin' 'google-oauth2' %}?next={{ request.GET.next }}" class="btn btn-danger btn-lg social">
          <span class="fa fa-google fa-3x"></span>
        </a>

      </span>
    </div>
  </div>
</div>
{% endblock %}