{% load staticfiles %}
{% load bootstrap3 %}
{% load subdomain_urls %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    
    <!--font awesom-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    
    <!--select2-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css" rel="stylesheet" />
    
    <!--ui-->
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />

    <!--datepicker-->
    <script src="{% static 'js/date.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.ru.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% if request.user.is_authenticated %}
    <script src="{% static 'js/favorites.js' %}?2"></script>
    {% endif %}

    <script type="text/javascript">
      {% if user.is_authenticated %}
      var is_authenticated = true;
      {% else %}
      var is_authenticated = false;
      {% endif %}
    </script>

    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet" />

    <style>
    html { 
      background: url({% static 'img/back.png' %}) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    body{background-color:transparent ;}
    </style>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </head>

<body>
  {% if 'test' in request.build_absolute_uri %}
  <div style="position:fixed;color:red;font-weight:bold;background:black;font-size:25px;z-index:9999;">
    <a href="{% url 'admin_stat' %}">ТЕСТ!!!</a>
  </div>
  {% endif %}

  {% include "main/header.html" %}
  {% block header %}
  {% endblock %}

  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      
      {% block content %}
      {% endblock %}
      
    </div>
  </div>
  {% include "main/footer.html" %}
  {% block footer %}
  {% endblock %}

  {% if not hide_chat %}
    {% include 'chat/block.html' %}
  {% endif %}
</body>

</html>
