{% load subdomain_urls %}

{% if breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'home' 'ws' %}"><i class="fa fa-home"></i></a></li>
{% for label,url in breadcrumbs %}
  {% if url %}
  <li><a href="{{ url }}">{{ label }}</a></li>
  {% else %}
  <li class="active">{{ label }}</li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}