{% extends 'main/base.html' %}
{% load staticfiles %}
{% load subdomain_urls %}

{% block title %}LastManStanding{% endblock %}

{% block header %}
  <nav class="navbar navbar-default{% if navbar_fixed %} navbar-fixed-top{% endif %}" id="navbar_head">

    {% if not hide_chat and not navbar_fixed %}
    {% comment %}
    <div style="position:relative;top:0;left:0;width:100%;margin:0px;padding:10px;text-align:center;border-radius:0px;" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Сегодня в 22:00 (МСК) состоится <u><b><a href="{% url 'stream' 'ws' %}">стрим</a></b></u> с участием <b>Дмитрия Головинского</b>.
    </div>
    {% endcomment %}
    {% endif %}

    <div class="container">
      <div class="navbar-header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% if menu = 'home' %} active{% endif %}">
            <a href="{% url 'home' 'ws' %}"><span class="fa fa-home"></span></a>
          </li>
          <li class="{% if menu = 'about' %} active{% endif %}">
            <a href="{% url 'about' 'ws' %}" >О сайте</a>
          </li>
          <li>
            <a href="{% url 'forum_home' 'forum' %}" >Форум</a>
          </li>
          <li class="{% if menu = 'cycle_list' %} active{% endif %}">
            <a href="{% url 'cycle_list' 'ws' %}" >База СРЦ</a>
          </li>
          <li class="{% if menu = 'spm_scheme_list' %} active{% endif %}">
            <a href="{% url 'spm_scheme_list' 'ws' %}" >База СПМ</a>
          </li>
          <li class="dropdown{% if menu = 'exercise_list' or menu = 'drug_list' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Справочник <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li class="{% if menu = 'exercise_list' %} active{% endif %}"><a href="{% url 'exercise_list' 'ws' %}" >Упражнения</a></li>
              <li class="{% if menu = 'drug_list' %} active{% endif %}"><a href="{% url 'drug_list' 'ws' %}" >Медикаменты</a></li>
            </ul>
          </li>
          <li class="dropdown{% if menu = 'util_warmup' or menu = 'util_maximum' or menu = 'util_norms' or menu = 'util_converter' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Утилиты <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li class="{% if menu = 'util_warmup' %} active{% endif %}"><a href="{% url 'util_warmup' 'ws' %}">Расчет разминки</a></li>
              <li class="{% if menu = 'util_maximum' %} active{% endif %}"><a href="{% url 'util_maximum' 'ws' %}">Расчет предельного максимума</a></li>
              <li class="{% if menu = 'util_norms' %} active{% endif %}"><a href="{% url 'util_norms' 'ws' %}">Нормативы федераций</a></li>
              <li class="{% if menu = 'util_converter' %} active{% endif %}"><a href="{% url 'util_converter' 'ws' %}">Конвертер результатов анализов</a></li>
            </ul>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li class="dropdown" id="favorite_list" ondragenter="dragEnter(event)"  ondrop="add_favorite_drop(event)" ondragover="dragOver(event)">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-star"></i>
            </a>
            <ul class="dropdown-menu">
              {% for f in request.user.get_favorite_list %}
                {% include 'profile/favorite.html' %}
              {% endfor %}
              <li id="favorite_list_empty"{% if request.user.get_favorite_list %} style="display:none"{% endif %}>
                <i>&nbsp;Перетащите <b>план</b> &nbsp;или <b>СПМ</b> на <i class="fa fa-star"></i></i>
              </li>
            </ul>
          </li>
          <li>
            <a href="{% url 'profile_notifications' 'ws' %}">
              {% if request.user.notifications.unread.count = 0 %}
                <i class="fa fa-bell-o"></i>
              {% else %}
                <i class="fa fa-bell"></i>
                <span class="badge">{{ request.user.notifications.unread.count }}</span>
              {% endif %}
            </a>
          </li>
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" style="background-image: linear-gradient(#474D54, #41474D 40%, #693B3B);" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> {{ request.user.username }}
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="{% if menu == 'plan_list' %} active{% endif %}"><a href="{% url 'plan_list' 'ws' %}" ><i class="fa fa-table"></i> Мои планы</a></li>
              <li class="{% if menu == 'spm_list' %} active{% endif %}"><a href="{% url 'spm_list' 'ws' %}" ><i class="fa fa-medkit"></i> Мои СПМ</a></li>
              <li class="{% if menu == 'profile_weight_stat' %} active{% endif %}"><a href="{% url 'profile_weight_stat' 'ws' %}" ><i class="fa fa-bar-chart"></i> Мой вес</a></li>
              <li class="{% if menu == 'exercise_private_list' %} active{% endif %}"><a href="{% url 'exercise_private_list' 'ws' %}" ><i class="fa fa-flash"></i>&nbsp; Мои упражнения</a></li>
              <li class="{% if menu == 'video_list' %} active{% endif %}"><a href="{% url 'video_list' 'ws' %}" ><i class="fa fa-video-camera"></i>&nbsp; Мои видео</a></li>
              <li class="nav-divider"></li>
              <li style="font-style: italic;">
                <a href="{% url 'payment_list' 'ws' %}">
                  {% if request.user.is_subscribed %}
                    <i class="fa fa-star"></i>
                    Подписка до {{ request.user.subscription_date|date:"d.m.y" }}
                  {% else %}
                    <i class="fa fa-star-o"></i>
                    нет подписки
                  {% endif %}
                </a>
              </li>
              <li><a href="{% url 'profile_show' 'ws' request.user.username|lower %}"><i class="fa fa-user"></i> Профиль</a></li>
              <li><a href="{% url 'profile_edit' 'ws' %}"><i class="fa fa-edit"></i> Редактировать профиль</a></li>
              <li><a href="{% url 'logout' 'ws' %}"><i class="fa fa-sign-out"></i> Выход</a></li>
            </ul>
          </li>
          {% else %}
          <li class="dropdown active">
            <a href="#" style="background-image: linear-gradient(#474D54, #41474D 40%, #693B3B);" id="signin">
              <i class="fa fa-sign-in"></i> Вход
            </a>
              <div class="head hide">Войти через соцсети:</div>
              <div class="content hide">
                <div class="signin-popover">
                    <a href="{% url 'socialauth_begin' 'ws' 'vk-oauth' %}?next={{ request.build_absolute_uri  }}" class="btn btn-danger social">
                      <span class="fa fa-vk fa-2x"></span>
                    </a>
                    <a href="{% url 'socialauth_begin' 'ws' 'facebook' %}?next={{ request.build_absolute_uri }}" class="btn btn-danger social">
                      <span class="fa fa-facebook fa-2x"></span>
                    </a>
                    <a href="{% url 'socialauth_begin' 'ws' 'google-oauth2' %}?next={{ request.build_absolute_uri }}" class="btn btn-danger social">
                      <span class="fa fa-google fa-2x"></span>
                    </a>
                </div>
              </div>
          </li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  {% if not request.user.is_authenticated %}
    <div class="modal fade" id="modal_signin" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
            <h4 class="modal-title message" style="text-align:center">Для продолжения авторизируйтесь</h4>
          </div>
          <div class="modal-body">
            <div style="text-align: center">
              <p>Войдите через социальные сети:</p>
              <a href="{% url 'socialauth_begin' 'ws' 'vk-oauth' %}?next={{ request.build_absolute_uri }}" class="btn btn-danger social">
                <span class="fa fa-vk fa-2x"></span>
              </a>
              <a href="{% url 'socialauth_begin' 'ws' 'facebook' %}?next={{ request.build_absolute_uri }}" class="btn btn-danger">
                <span class="fa fa-facebook fa-2x"></span>
              </a>
              <a href="{% url 'socialauth_begin' 'ws' 'google-oauth2' %}?next={{ request.build_absolute_uri }}" class="btn btn-danger">
                <span class="fa fa-google fa-2x"></span>
              </a>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}