{% if list.paginator.num_pages > 1 %}
<!-- Pagination -->
<div class="paging">
    {% if list.has_previous %}
        <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><<</a>
    {% endif %}

    {% for i in list.paginator.page_range %}
    {% if i <= list.number|add:'+3' and i >= list.number|add:'-3' %}
        {% if list.number == i %} 
        <span class="current">{{i}}</span>
        {% else %}
        <a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{i}}</a>
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if list.has_next %}
        <a href="?page={{ list.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">>></a>
    {% endif %}
    <div class="clearfix"></div>
    Всего: {{ list.paginator.num_pages }} страниц
</div>
{% endif %}