<div>
  Поделиться в соц. сетях:<br>
  <a class="btn btn-danger" style="width:46px;height:46px;text-align:center;line-height:54px;padding:0px" href="http://vk.com/share.php?url=http://{{ request.get_host }}{{ request.get_full_path }}&title={{ title|urlencode }}&description={{ description|urlencode|truncatechars:500 }}&noparse=true" target="_blank">
    <i class="fa fa-vk fa-2x"></i>
  </a>
  <a class="btn btn-danger" style="width:46px;height:46px;text-align:center;line-height:54px;padding:0px" href="https://www.facebook.com/sharer/sharer.php?u=http://{{ request.get_host }}{{ request.get_full_path }}&t={{ title|urlencode }}&d={{ description|urlencode|truncatechars:500 }}" target="_blank">
    <i class="fa fa-facebook fa-2x"></i>
  </a>
  <a class="btn btn-danger" style="width:46px;height:46px;text-align:center;line-height:54px;padding:0px" href="https://plus.google.com/share?url=http://{{ request.get_host }}{{ request.get_full_path }}&title={{ title|urlencode }}" target="_blank">
    <i class="fa fa-google-plus fa-2x"></i>
  </a>
</div>