{% load humanize %}
<style>
  .statistics-number {
    font-size: 20px;
    font-weight: bold;
  }
</style>
<div class="well" style="text-shadow: 1px 1px 2px black, 0 0 2em red;">
  <div class="col-md-2 col-sm-4 col-xs-6" style="text-align:center;overflow:hidden;">
    <i class="fa fa-4x fa-users"></i><br>
    <div class="statistics-number">{{ stat.users|intcomma }}</div>
    <div class="statistics-label">пользователей</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6" style="text-align:center;overflow:hidden;">
    <i class="fa fa-4x fa-table"></i><br>
    <div class="statistics-number">{{ stat.plans|intcomma }}</div>
    <div class="statistics-label">планов</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6" style="text-align:center;overflow:hidden;">
    <i class="fa fa-4x fa-list"></i><br>
    <div class="statistics-number">{{ stat.trains|intcomma }}</div>
    <div class="statistics-label">тренировок</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6" style="text-align:center;overflow:hidden;">
    <i class="fa fa-4x fa-medkit"></i><br>
    <div class="statistics-number">{{ stat.courses|intcomma }}</div>
    <div class="statistics-label">СПМ</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6" style="text-align:center;overflow:hidden;">
    <i class="fa fa-4x fa-comments"></i><br>
    <div class="statistics-number">{{ stat.messages|intcomma }}</div>
    <div class="statistics-label">сообщений</div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6" style="text-align:center;overflow:hidden;">
    <i class="fa fa-4x fa-flash"></i><br>
    <div class="statistics-number">{{ stat.exercises|intcomma }}</div>
    <div class="statistics-label">упражнений</div>
  </div>
  <div class="clearfix"></div>
</div>
