{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}LMS Stream{% endblock%}

{% block scripts %}
<link href="{% static 'css/fullsize_chat.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/dateformat.js' %}"></script>
<script type="text/javascript">
var CHAT_SERVER_PORT = 5000;
</script>
<script type="text/javascript" src="{% static 'js/fullsize_chat.js' %}?5"></script>
{% endblock%}

{% block content %}
<div class="col-md-12">
  <div class="alert alert-info" style="text-align:center;">
    Трансляция с участием <b>Дмитрия Головинского</b> закончилась. Запись вы можете посмотреть ниже.</a>
    <br>
  </div>
  <div class="well" style="text-align:center;width:854;height:480;vertical-align:middle;">
    <p>
      <a target="_blank" href="https://www.youtube.com/watch?v=5--vZ8BXefU">Видео получения травмы</a><br>
      <a target="_blank" href="https://pp.vk.me/c837324/v837324824/dbb7/FgcHOtbss3A.jpg">
        <img src="https://pp.vk.me/c837324/v837324824/dbb7/FgcHOtbss3A.jpg" style="max-width: 200px;">
      </a>
      <a target="_blank" href="https://pp.vk.me/c837324/v837324824/dbad/1hhKrFHZiZY.jpg">
        <img src="https://pp.vk.me/c837324/v837324824/dbad/1hhKrFHZiZY.jpg" style="max-width: 200px;">
      </a>
    </p>
    <iframe width="854" height="480" src="http://www.youtube.com/embed/GE46nOr2r5U?modestbranding=1&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
    {#<img src="https://pp.vk.me/c630624/v630624824/19ae9/j2Z_UxSF_lE.jpg" class="img">#}
  </div>
</div>
<div class="col-md-12">
	{% include 'chat/fullsize_block.html' %}
</div>
{% endblock%}