{% extends 'main/home.html' %}

{% block title %}LMS Stream{% endblock %}

{% block scripts %}
<style>
.social {
  width: 84px;
}
</style>
{% endblock %}

{% block content %}
  <div class="col-md-12 well well-lg" style="font-size:200%; text-align: center;">
    <h1>Авторизируйтесь чтобы открыть стрим</h1>
    <div>
      Войти через:<br>
      <a href="{% url 'socialauth_begin' 'vk-oauth' %}?next={% url 'stream' %}" class="btn btn-danger btn-lg social">
        <span class="fa fa-vk fa-3x"></span>
      </a>
      <a href="{% url 'socialauth_begin' 'facebook' %}?next={% url 'stream' %}" class="btn btn-danger btn-lg social">
        <span class="fa fa-facebook fa-3x"></span>
      </a>
      <a href="{% url 'socialauth_begin' 'google-oauth2' %}?next={% url 'stream' %}" class="btn btn-danger btn-lg social">
        <s