{% extends 'main/home.html' %}
{% load staticfiles %}
{% load forum_widgets %}
{% load my_filters %}

{% block title %}Рабочая область{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/spm_dose_mark.js' %}"></script>
<style type="text/css">
.step {
  text-align:center;
  height:100%;
}
.step img {
  border: 1px solid #6D6D6D;
  margin: auto;
  opacity: 0.5;
}
.step:hover img {
  opacity: 1;
}
</style>
{% endblock %}

{% block content %}
{% include 'main/stat.html' %}
{% if request.user.is_authenticated %}
<div class="col-md-12">
  <div class="alert alert-success" style="text-align: center;">
    <a href="{% url 'payment_advice' %}">Скайп-консультация <b>Дмитрия Головинского</b></a>
  </div>
</div>
{% endif %}
{% if workspace %}
  <div class="col-md-12">
    <div class="well">
      <h4><i class="fa fa-star"></i> Избранное <button class="btn btn-sm btn-danger pull-right" onclick="clear_favorite();"><i class="fa fa-trash"></i> очистить</button></h4>
      {% if request.user.get_favorite_list %}
      <div id="favorites_block">
        {% for f in request.user.get_favorite_list %}
          <div class="col-md-2 col-sm-3 col-xs-6" style="text-align:center;overflow:hidden;">
          {% if f.type == 'plan' %}
            <a href="{% url 'plan' f.obj.id %}" target="_blank" style="white-space: nowrap;" title="{{ f.obj.name }}">
              <i class="fa fa-5x fa-table"></i><br>
              {{ f.obj.name }}
            </a>
          {% elif f.type == 'spm' %}
            <a href="{% url 'spm_show' f.obj.id %}" target="_blank" style="white-space: nowrap;" title="{{ f.obj.name }}">
              <i class="fa fa-5x fa-medkit"></i><br>
              {{ f.obj.name }}
            </a>
          {% endif %}
          </div>
        {% endfor %}
      </div>
      {% else %}
        <i>Чтобы добавить <b>план</b> или <b>СПМ</b> в избранное перетащите ссылку на значок <i class="fa fa-star"></i> в верхнем меню</i>
      {% endif %}
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      <h4>
        <a href="?date={{ date_prev }}" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
        <a href="?date={{ date_next }}" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
        {{ date_str }}
      </h4>
      <div class="col-md-6">
        <h4><i class="fa fa-table"></i> Тренировки</h4>
        {% if trains %}
          {% for train in trains %}
          
            <a href="{% url 'plan' train.plan.id %}"><b>Тренировка ({{ train.plan.name }}{% if train.name %} {{ train.name }}){% endif %}</b></a><br>
            {% if train.comment %}
            <div class="alert alert-info" style="padding: 5px;margin-bottom: 5px;">{{ train.comment }}</div>
            {% endif %}
            <table class="table table-striped table-bordered" style="margin-bottom: 5px;">
              <tbody style="font-weight:bold;">
                <th class="hidden-xs" width="1%">#</th>
                <th width="1%"><span class="hidden-xs">Нагрузка</span></th>
                <th>Упражнение</th>
                <th>Схема</th>
              </tbody>

              {% for e in train.executions %}
                {% if e.level == 'other' %}
                  <tr>
                    <td class="hidden-xs">{{ forloop.counter }}</td>
                    <td>&nbsp;</td>
                    <td>
                      <span class="visible-xs">{{ forloop.counter }}. {{ e.other_name }}</span>
                      <span class="hidden-xs">{{ e.other_name }}</span>
                    </td>
                    <td>{{ e.other_weight }}{% if e.other_reps %}*{{ e.other_reps }}{% endif %}{% if e.other_apps %}*{{ e.other_apps }}{% endif %}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td class="hidden-xs">{{ forloop.counter }}</td>
                    <td>
                      {% if e.level == 'light' %}<span class="label label-success"><span class="hidden-xs">Легкая</span></span>
                      {% elif e.level == 'middle' %}<span class="label label-warning"><span class="hidden-xs">Средняя</span></span>
                      {% elif e.level == 'hard' %}<span class="label label-danger"><span class="hidden-xs">Тяжелая</span></span>
                      {% endif %}
                    </td>
                    <td>
                      <span class="visible-xs">{{ forloop.counter }}. <a href="{% url 'exercise_show' e.exercise.id %}" target="_blank">{{ e.exercise.name }}</a></span>
                      <span class="hidden-xs"><a href="{% url 'exercise_show' e.exercise.id %}" target="_blank">{{ e.exercise.name }}</a></span>
                    </td>
                    <td>
                    {% if e.is_hidden %}
                      <i>скрыто</i>
                    {% else %}
                      {% for s in e.scheme %}
                       <span class="label label-{{ s.color }}" style="white-space:nowrap;padding:.1em .1em .1em;font-size:100%;">{% if e.exercise.factor and e.pm.plan_factor != 1 %}
                        {{ s.weight|floatformat:0 }} пл
                        {% else %}
                        {{ s.weight }}
                        {% endif %}
                        *{{ s.reps }}*{{ s.apps }}</span>
                       &nbsp;
                      {% endfor %}
                    {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
            {% if train.resume %}
            <div class="alert alert-info" style="padding: 5px;margin-bottom: 5px;">{{ train.resume }}</div>
            {% endif %}
          
          {% endfor %}
        {% else %}
          <i>день отдыха</i>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h4><i class="fa fa-medkit"></i> Медикаменты</h4>
        {% if mark_forms %}
          {% autoescape off %}
            {% for course, form in mark_forms %}
              <a href="{% url 'spm_show' course.id %}"><b>СПМ: {{ course.name }}</b></a>
              {{ form }}
            {% endfor %}
          {% endautoescape %}
        {% else %}
          <i>медикаментов для приема нет</i>
        {% endif %}
      </div>
      <div class="clearfix"></div>
    </div>  
  </div>
  <div class="col-md-4">
    {% last_messages_widget show_on_top=True limit=5%}
  </div>
{% else %}
  <div class="col-md-12 well">
  Для того чтобы начать использовать Workspace, достаточно пройти 3 следующих шага:
  </div>
  <div class="col-md-4 well step">
    <span class="badge">Шаг 1</span>
    <p>Выберите из <a href="{% url 'cycle_list' %}" target="_blank">База СРЦ</a> подходящий вам цикл.</p>
    <img src="{% static 'img/steps/1.jpg' %}" class="img-responsive">
  </div>
  <div class="col-md-4 well step">
    <span class="badge">Шаг 2</span>
    <p>Введите ваши текущие предельные максимумы, дату начала и дни недели. Нажмите "Создать план"</p>
    <img src="{% static 'img/steps/2.png' %}" class="img-responsive">
  </div>
  <div class="col-md-4 well step">
    <span class="badge">Шаг 3</span>
    <p>Используйте готовый тренировочный план с возможностью печати и инструментами анализа.</p>
    <img src="{% static 'img/steps/3.png' %}" class="img-responsive">
  </div>
{% endif %}
{% endblock %}