{% load my_filters %}

<div class="form-group col-md-12">
  <label>
    {% if not e.parent %}
      <u>{{e.name}} *</u>
    {% else %}
      {{ e.name }}
    {% endif %}
  </label>
  <input type="number" step="0.5"
         class="form-control e-start-weight {% if e.parent %}e-parent-{{ e.parent_id }}{% else %}e-main{% endif %}"
         id="e-start-weight-{{ e.id }}" data-rate="{{ e.parent_rate }}" data-id="{{ e.id }}" name="weight_{{ e.id }}"
         value="{{ cycle_data.weights|get_key:e.id }}" onchange="set_val($(this));">
  {% if e.parent %}
    <p class="help-block pull-right"><small><i>{{ e.parent }} * {{ e.parent_rate|floatformat:2 }}</i></small></p>
  {% endif %}
</div>