{% extends 'main/home.html' %}
{% load staticfiles %}
{% block title %}База СРЦ{% endblock %}

{% block content %}
{{ block.super }}
<div class="col-md-12">
  <div class="alert alert-info">
    Выберите один из саморасчитывающихся циклов (СРЦ) ниже, либо создайте план самостоятельно.</p>
  </div>
</div>
<div class="col-md-12">
  <table class="table">
    <thead>
      <th>Название</th>
      <th width="15%">Направление</th>
      <th>Пол</th>
      <th width="15%">Уровень</th>
      <th width="10%">Период</th>
      <th>Абс. вес</th>
      <th>Весоростовое соотношение</th>
      <th>Дополнительно</th>
    </thead>
    <tbody>
      {% for obj in list %}
        <tr>
          <td><a href="{% url 'cycle' obj.num %}">{{ obj.name }}</a></td>
          <td>{{ obj.sport }}</td>
          <td>{% if obj.gender = 'male' %}муж{% else %}жен{% endif %}</td>
          <td>{{ obj.level }}</td>
          <td>{{ obj.mode }}</td>
          <td>{{ obj.abs_weight }}</td>
          <td>
            {% if obj.hw_ratio = 'dec' %}Сниженное
            {% elif obj.hw_ratio = 'norm' %}Нормальное
            {% elif obj.hw_ratio = 'inc' %}Повышенное
            {% endif %}
          </td>
          <td>{{ obj.extra }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-success pull-right auth-check" data-message="Авторизируйтесь, чтобы создать план." href="{% url 'plan_create' %}">
    <i class="fa fa-plus"></i> Создать план
  </a>
</div>

<div class="col-md-12 well">
  <img src="{% static 'img/SRCWS.png' %}" class="img-responsive" style="float:left;margin:10px;width:15%;">
  <p>Саморасчитывающийся цикл (СРЦ) – это основная единица LMS Workspace. В процессе взаимодействия пользователя и системы, предлагается выбрать цикл, который соответствует реализации конкретной задачи в определенных условиях. В качестве условий выступают пол, вес, уровень подготовки и весоростового соотношения, а также другие факторы. Если говорить о целях и задачах, то в силовом тренинге, конечно, это увеличение силы атлета в конкретных дисциплинах: жиме лежа, силовом троеборье, армрестлинге. Кроме того, важны акценты и приоритеты, которые также могут отличаться в различных СРЦ.</p>
  <p>Если вы не обнаружили циклов, которые соответствуют вашим целям, задачам и условиям, то, вероятно, нужно просто подождать пока команда LMS завершит разработку данных программ. То, в каком направлении ведется работа, можно узнать в группе <a href="https://vk.com/lastmanstand1ng" target="_blank">LMS ВКонтакте.</a></p>
  <p>Если же вы уже нашли необходимый СРЦ, и он полностью удовлетворяет вашим исходным данным, то, прежде чем начать, необходимо глубже понять суть общего тренировочного подхода LMS. Если уже есть понимание того, <a href="http://last-man.org/silovoj-trening-bazis/" target="_blank">что такое силовой тренинг</a>, то важными будут лишь отдельные аспекты тренировочного занятия. Так, важно понимать, что тренировке всегда предшествует хорошая разминка, а заканчивается любое тренировочное занятие растяжкой и заминкой. Информацию на этот счет можно получить из соответствующих статей на сайте <a href="http://last-man.org/" target="_blank">last-man.org</a>. Для того, чтобы получить необходимые данные лишь по теме СРЦ, можно воспользоваться тегом <a href="http://last-man.org/tag/vazhno-dlya-src/" target="_blank">«важно для СРЦ»</a>, однако крайне рекомендуется к ознакомлению информация всего сайта, в особенности раздела «Общее».</p>
</div>

{% endblock %}