<td class="right">{{ s.percent }}</td>
<td class="right"><span class="e-weight-{{ e.exercise.id }}" data-percent="{{ s.percent }}" data-micro="{{ micro_num }}" data-scheme-id="{{ s.id }}"></span></td>
<td class="right">{{ s.reps }}</td>
<td class="right">{{ s.apps }}</td>
<td class="right">{{ s.kps }}</td>