{% extends 'main/home.html' %}
{% load my_filters %}
{% load staticfiles %}
{% load subdomain_urls %}

{% block title %}{{ cycle_data.name }}{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular/angular-locale_ru-ru.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cycle_show.js' %}?3"></script>
<link href="{% static 'css/cycle_show.css' %}" rel="stylesheet" />

<script type="text/javascript">
function resize() {
  if ($(window).width() > 992) {
    var h = $(window).height() - $('.tab-pane').offset().top;
    $('.tab-pane').css({
      'height': h,
      'overflow-y': 'scroll',
    });
  } else {
    $('.tab-pane').css({
      'height': 'auto',
      'overflow-y': 'hidden',
    });
  }
}

$(document).ready(function(){
  $(window).resize(resize);
  resize();
});

var urls = {
  auth: '{% url 'auth' 'ws'  %}?next={% url 'auth_success' %}',
  create_plan: '{% url 'cycle_create_plan' 'ws' cycle_data.num %}',
};
{% autoescape off %}
var cycle = {{ cycle_data|jsonify }};
var start_date = '{{ start_date|date:'d.m.Y' }}';
{% endautoescape %}

</script>
{% endblock %}

{% block content %}
<div class="modal fade" id="modal_loading" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-lg fa-spinner fa-pulse"></i>&nbsp;Загрузка</h4>
      </div>
      <div class="modal-body">
        <p>Подождите пожалуйста, Ваш тренировочный план создается.<br>После создания план откроется автоматически.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div ng-app="mainApp" ng-controller="ShowCycleCtrl" ng-cloak id="cycle_form">
  <div class="col-md-4 tab-pane">
    <div class="well">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="alert my-alert-info">
              Для каждого упражнения ниже укажите ПМ <i class="fa fa-question-circle" popover data-content="предельный<br>максимум"></i> - вес, с которым Вы можете выполнить максимум одно повторение.<br>
              Для расчета Вы можете воспользоваться <a href="{% url 'util_maximum' 'ws' %}" target="_blank">"Расчетом предельных максимумов"</a>
            </div>
          </div>
        </div>

        <div class="form-group" ng-repeat="eid in main_weights" ng-init="e=cycle.exercises[eid]">
          <label class="col-sm-8" ng-if="e.is_dual" popoverdual>
            {$ e.name $}
            <i class="fa fa-question-circle"></i>
          </label>
          <label class="col-sm-8" ng-if="!e.is_dual">
            {$ e.name $}
          </label>
          <div class="col-sm-4">
            <div class="input-group input-group-sm">
              <input type="number" step="0.5" class="form-control input-sm" ng-model="params.weights[eid]" ng-change="setWeight(eid)">
              <div class="input-group-addon hidden-md">кг</div>
            </div>
          </div>
        </div>

        <span id="other_exercises" style="display: none;">
          <div class="form-group">
            <div class="col-sm-12">
              <div class="alert my-alert-info">
                Для упражнений ниже ПМ высчитываются автоматически. Вы можете изменить эти значения, однако это НЕ рекомендуется.
              </div>
            </div>
          </div>
          <div class="form-group" ng-repeat="eid in other_weights" ng-init="e=cycle.exercises[eid]">
            <label class="col-sm-8" ng-if="e.is_dual" popoverdual>
              {$ e.name $}
              <i class="fa fa-question-circle"></i>
            </label>
            <label class="col-sm-8" ng-if="!e.is_dual">
              {$ e.name $}
            </label>
            <div class="col-sm-4">
              <div class="input-group input-group-sm">
                <input type="number" step="0.5" class="form-control input-sm" ng-model="params.weights[eid]"
                     data-content="<small style='white-space:nowrap'>{$ cycle.exercises[e.parent_id].name $} * {$ e.parent_rate|number:2 $}</small>"
                     popover ng-change="setWeight(eid)">
                <div class="input-group-addon hidden-md">кг</div>
              </div>
            </div>
          </div>
        </span>

        <div class="form-group">
          <div class="col-sm-12">
            <a class="btn btn-default" style="display: block; width: 100%;" id="other_exercises_btn" ng-click="showExercises(this)">
              Показать все упражнения
            </a>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-6">Название плана</label>
          <div class="col-sm-6">
            <input type="text" class="form-control input-sm" ng-model="params.name">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-6">Дата начала</label>
          <div class="col-sm-6">
            <input type="text" class="form-control input-sm" ng-model="params.start_date" ng-change="resetDates();"
                 data-provide="datepicker" data-date-days-of-week-disabled="2,3,4,5,6,0">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-12">Дни тренировок</label>
          <div class="col-sm-12">
            <table class="table cycle-table">
              <thead>
                <th ng-class="{'success': params.week_days[0]}" style="text-align:center;"><label for="week_day_0">Пн</label></th>
                <th ng-class="{'success': params.week_days[1]}" style="text-align:center;"><label for="week_day_1">Вт</label></th>
                <th ng-class="{'success': params.week_days[2]}" style="text-align:center;"><label for="week_day_2">Ср</label></th>
                <th ng-class="{'success': params.week_days[3]}" style="text-align:center;"><label for="week_day_3">Чт</label></th>
                <th ng-class="{'success': params.week_days[4]}" style="text-align:center;"><label for="week_day_4">Пт</label></th>
                <th ng-class="{'success': params.week_days[5]}" style="text-align:center;"><label for="week_day_5">Сб</label></th>
                <th ng-class="{'success': params.week_days[6]}" style="text-align:center;"><label for="week_day_6">Вс</label></th>
              </thead>
              <tbody style="display:none;">
                <tr>
                  <td ng-repeat="(day,enabled) in params.week_days">
                    <input type="checkbox" ng-model="params.week_days[day]"
                           id="week_day_{$ day $}" ng-change="resetDates();">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="alert my-alert-danger" ng-if="cycle.week_days.length > params.week_days_array.length">
            Необходимо выбрать еще {$ cycle.week_days.length - params.week_days_array.length $} дней
          </div>
          <div class="alert my-alert-info" ng-if="week_days_msg" ng-bind="week_days_msg">
          </div>
        </div>


        <div class="form-group" popover data-content="Определяет еженедельную прогрессию увеличения весов">
          <label class="col-sm-8">
            Процент корректировки <i class="fa fa-question-circle"></i>
          </label>
          <div class="col-sm-4">
            {$ params.correct_percent $}
          </div>
          <div class="col-sm-12">
            <div slider></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="alert my-alert-info">
              {$ correct_percent_msg $}
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="error_msg">
          <div class="col-sm-12">
            <div class="alert my-alert-danger" ng-bind-html="error_msg"></div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <a class="btn btn-success btn-lg" style="display: block; width: 100%;" ng-click="createPlan()">
              Создать план
            </a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="alert my-alert-info">
              Вы можете просмотреть только первую и последнюю недели СРЦ.
              Чтобы просматривать полный тренировочный план, необходимо создать план и <b><a href="{% url 'payment_form' 'ws' %}">оплатить подписку</a></b><br>
              <a href="http://forum.last-man.org/thread/4/zapusk-foruma-i-obnovleniia-sentiabria/">Подробнее...</a>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-md-8 tab-pane">
    <h3>{{ cycle_data.name }}</h3>
    <table class="table cycle-table">
      <tr><td><b>Вид спорта</b>:</td><td>{{ cycle_data.sport }}</td></tr>
      <tr><td><b>Пол спортсмена</b>:</td><td>{% if cycle_data.gender = 'male' %}муж{% else %}жен{% endif %}</td></tr>
      <tr><td><b>Уровень спортсмена</b>:</td><td>{{ cycle_data.level }}</td></tr>
      <tr><td><b>Период</b>:</td><td>{{ cycle_data.mode }}</td></tr>
      <tr><td><b>Абс. вес</b>:</td><td>{{ cycle_data.abs_weight }}</td></tr>
      <tr><td><b>Весорост. соотн.</b>:</td><td>
        {% if cycle_data.hw_ratio = 'dec' %}Сниженное
        {% elif cycle_data.hw_ratio = 'norm' %}Нормальное
        {% elif cycle_data.hw_ratio = 'inc' %}Повышенное
        {% endif %}
      </td></tr>
      {% if cycle_data.extra %}
        <tr><td colspan="2"><b>Дополнительно:</b> {{ cycle_data.extra }}</td></tr>
      {% endif %}
      {% if cycle_data.description %}
        <tr><td colspan="2"><b>Описание:</b> {{ cycle_data.description }}</td></tr>
      {% endif %}
      {% if cycle_data.content %}
        {% autoescape off %}
        <tr><td colspan="2">{{ cycle_data.content }}</td></tr>
        {% endautoescape %}
      {% endif %}
    </table>

    <a href="{% url 'forum_thread' 'forum' cycle.thread.id cycle.thread.slug %}" class="btn btn-lg btn-success" style="width: 100%">
      <i class="fa fa-comments"></i> Обсуждение СРЦ на форуме
    </a>

    <div ng-repeat="(micro_num, week) in cycle.plan">
      <h3>
        Неделя {$ $index+1 $}
        <span class="pull-right">
          <span class="label label-default">
            <i class="fa fa-question-circle" popover data-content="Количество подъемов штанги - общая сумма выполненных повторений"></i>
            КПШ {$ stat[micro_num].kps $}
          </span>
          &nbsp;
          <span class="label label-default" ng-if="stat[micro_num].tonag">
            <i class="fa fa-question-circle" popover data-content="Тоннаж - сумма килограммов, поднятых за неделю"></i>
            ТНЖ {$ stat[micro_num].tonag|number:0 $}
          </span>
        </span>
      </h3>
      <div ng-repeat="day in week" class="well col-md-12" style="padding: 10px;margin-bottom: 10px;">
        <h4>
          {$ day.date|date:"dd.MM.yy EEEE" $}
          <span class="pull-right">
            <span class="label label-default">
              <i class="fa fa-question-circle" popover data-content="Количество подъемов штанги - общая сумма выполненных повторений"></i>
              КПШ {$ day.kps $}
            </span>
            &nbsp;
            <span class="label label-default" ng-if="day.tonag">
              <i class="fa fa-question-circle" popover data-content="Тоннаж - сумма килограммов, поднятых за тренировку"></i>
              ТНЖ {$ day.tonag|number:0 $}
            </span>
          </span>
        </h4>
        <table class="table table-striped cycle-table">
          <thead>
            <th width="1%">#</th>
            <th width="1%">нагрузка</th>
            <th width="100%">упражнение</th>
            <th width="1%" style="text-align: right;">
              ПМ <i class="fa fa-question-circle" popover data-content="Предельный Максимум (ПМ) - вес, с которым вы можете выполнить максимум одно повторение в конкретном упражнении"></i>
              <br>
              <small>кг</small>
            </th>
            <th style="text-align: right;min-width:220px;">
              <span class="my-col">
                ои <i class="fa fa-question-circle" popover data-content="Относительная Интенсивность (ОИ) - процент от ПМ"></i>
                <br>
                <small>%</small>
              </span>
              <span class="my-col">вес<br><small>кг</small></span>
              <span class="my-col">повт</span>
              <span class="my-col">подх</span>
            </th>
          </thead>
          <tr ng-repeat="execution in day.list" ng-class="{'hidden-execution': execution.is_hidden}">
            <td>
              <span>{$ $index+1 $}</span>
            </td>
            <td>
              <span ng-if="execution.level=='hard'" class="label label-danger">тяжелая</span>
              <span ng-if="execution.level=='light'" class="label label-success">легкая</span>
              <span ng-if="execution.level=='middle'" class="label label-warning">средняя</span>
            </td>
            <td>
              <div class="dropdown" style="display: inline;" ng-if="execution.groups">
                <button class="btn btn-primary btn-xs dropdown-toggle btn-exercise" type="button" data-toggle="dropdown">
                  {$ cycle.exercises[params.group_exercise[execution.exercise_key]].name $}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="eid in execution.groups" ng-class="{active: eid == params.group_exercise[execution.exercise_key]}">
                    <a style="cursor:pointer;" ng-click="setExercise(execution, eid)">{$ cycle.exercises[eid].name $}</a>
                  </li>
                </ul>
              </div>
              <div ng-if="!execution.groups" class="lbl-exercise">
                {$ execution.exercise.name $}
              </div>
              <i ng-if="execution.exercise.is_dual" class="fa fa-question-circle" popoverdual></i>
            </td>
            <td style="text-align: right;opacity: 0.5;">
              {$ execution.weight|number:2 $}
            </td>
            <td>
              <div ng-if="execution.is_hidden" popover data-content="<center>раскладка будет доступна в созданном плане для пользователей с подпиской</center>" style="text-align: center">
                <i class="fa fa-question-circle"></i> информация скрыта
              </div>
              <div ng-repeat="s in execution.scheme" style="text-align: right;">
                <span class="my-col" style="opacity: 0.5;">{$ s.percent $}</span>
                <span class="my-col">{$ s.weight|my_round $}</span>
                <span class="my-col">{$ s.reps $}</span>
                <span class="my-col">{$ s.apps $}</span>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}