{% for micro_num, micro in cycle_data.plan.items %}
<h3>Микроцикл {{ micro_num|add:1 }}</h3>

  <div class="bg-info">
  <table class="table">
    <thead><th colspan="3" style="text-align: center;">Предельные максимумы</th></thead>
    <tr>
    {% for e in cycle_data.pms %}
      <td style="text-align: center;" width="33%">{{ e.name }}, кг</td>
    {% endfor %}
    </tr>
    <tr>
    {% for e in cycle_data.pms %}
      <td style="text-align: center;">
        <span class="e-micro-pm" id="e-micro-pm-{{ micro_num }}" data-micro="{{ micro_num }}" data-id="{{ e.id }}">-</span>
      </td>
    {% endfor %}
    </tr>
  </table>
  </div>

  {% for day_num, day in micro.items %}
  <div class="well">
  <h4><span class="date-head" data-day-ind="{{ day.day_ind }}" data-micro-num="{{ day.micro_num }}" data-day-num="{{ day.day_num }}"></span></h4>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Нагрузка</th>
      <th>Упражнение</th>
      <th class="right">ОИ, %</th>
      <th class="right">Вес, кг</th>
      <th class="right">Повторения</th>
      <th class="right">Подходы</th>
      <th class="right">КПШ</th>
    </thead>
    {% for e in day.list %}
      <tr>
        <td>{{ e.order|add:1 }}</td>
        <td>
          {% if e.level == 'light' %}<span class="label label-success">Легкая</span>
          {% elif e.level == 'middle' %}<span class="label label-warning">Средняя</span>
          {% elif e.level == 'hard' %}<span class="label label-danger">Тяжелая</span>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'exercise_show' e.exercise.id %}" target="_blank">{{ e.exercise.name }}</a>
        </td>
        {% if e.is_hidden %}
          <td colspan="5" style="text-align: center">
            <i>доступно по подписке</i>
          </td>
        {% else %}
          {% for s in e.scheme|slice:':1' %}
            {% include 'main/cycle/scheme.html' %}
          {% endfor %}
        {% endif %}
      </tr>

      {% if not e.is_hidden %}
        {% for s in e.scheme|slice:'1:' %}
        <tr>
          <td colspan="3"></td>
          {% include 'main/cycle/scheme.html' %}
        </tr>
        {% endfor %}
      {% endif %}
    {% endfor %}
    <tfoot>
      <td colspan="7" class="right">Всего</td>
      <td class="right">{{ day.kps }}</th>
    </tfoot>

  </table>
  </div>
  {% endfor %}
{% endfor %}