{% load staticfiles %}

<div class="well">
  <form class="buy" action="{% url 'payment_pay' %}">
    <div class="row">
      <div class="col-md-4">
        <img src="https://pp.vk.me/c623720/v623720824/350bb/idMvDHq45SQ.jpg" class="img-responsive"
             style="margin-left: auto;margin-right: auto;">
      </div>
      <div class="col-md-4">
        <h3>Скайп-консультация</h3>
        <h3><b><u><a href="https://vk.com/1astmanstanding" target="_blank">Дмитрия Головинского</a></u></b></h3>
        <h3>20 минут</h3>
        <h2>500<i class="fa fa-rub"></i></h2>
      </div>
      <div class="col-md-4">
        <h3>Оплатить консультацию</h3>
        <input type="hidden" name="mode" value="advice">
        <div class="btn-group-vertical">
          <button type="submit" class="btn btn-lg btn-success" name="ps" value="yk">
            <img src="{% static 'img/yandex_kassa.png' %}" style="height:30px">
          </button>
          <button type="submit" class="btn btn-lg btn-success" name="ps" value="rk">
            <img src="{% static 'img/robo_kassa.png' %}" style="height:30px">
          </button>
        </div>
        <br>
        <p>мы напишем вам, чтобы назначить время</p>
        <p>(осталось {{ lost }})</p>
      </div>
    </div>
  </form>
</div>