{% load staticfiles %}

<div class="alert" style="padding: 10px;color: white;background-color: #08485a;border-color: #0c4e52;margin-bottom: 0px !important;">
  <h3>Что дает подписка:</h3>
  <p>1. Возможность создать план по любому СРЦ из <a href="http://ws.last-man.org/cycle/list/">Базы СРЦ</a>.</p>
  <p>2. Одновременно 3 плана созданных по СРЦ.</p>
  <p>3. Открываются только те тренировки, которые попадают в период активной подписки.</p>
  <p>4. Открытые однажды тренировки и созданные планы будут видимы и полностью доступны Вам и после окончания подписки.</p>
  <p>Внимание: после приобретения подписки, тренировки открываются только в созданных по СРЦ планах, а на страницах в <a href="http://ws.last-man.org/cycle/list/">Базе СРЦ</a> они остаются закрытыми для всех пользователей.
    Список своих созданных планов Вы можете посмотреть в личном меню пункт <a href="http://ws.last-man.org/plan/list/">"Мои планы"</a>.</p>
</div>

<a class="col-md-4 tarif">
  <div class="period">1 месяц</div>
  {% if sale %}
    <div class="price">
      150<i class="fa fa-rub"></i>
      <div class="subprice"></div>
    </div>
  {% else %}
    <div class="price">
      390<i class="fa fa-rub"></i>
      <div class="subprice"></div>
    </div>
  {% endif %}
  <form class="buy" action="{% url 'payment_pay' %}">
    <h3>Оплатить подписку</h3>
    <input type="hidden" name="m" value="1">
    <input type="hidden" name="mode" value="subscribe">
    <div class="btn-group-vertical">
      <button type="submit" class="btn btn-lg btn-success" name="ps" value="yk">
        <img src="{% static 'img/yandex_kassa.png' %}" style="height:30px">
      </button>
      <button type="submit" class="btn btn-lg btn-success" name="ps" value="rk">
        <img src="{% static 'img/robo_kassa.png' %}" style="height:30px">
      </button>
    </div>
  </form>
</a>
<a class="col-md-4 tarif">
  <div class="period">3 месяца</div>
  {% if sale %}
    <div class="price">
      400<i class="fa fa-rub"></i>
      <div class="subprice">экономия 50<i class="fa fa-rub"></i></div>
    </div>
  {% else %}
    <div class="price">
      990<i class="fa fa-rub"></i>
      <div class="subprice">экономия 180<i class="fa fa-rub"></i></div>
    </div>
  {% endif %}
  <form class="buy" action="{% url 'payment_pay' %}">
    <h3>Оплатить подписку</h3>
    <input type="hidden" name="m" value="3">
    <input type="hidden" name="mode" value="subscribe">
    <div class="btn-group-vertical">
      <button type="submit" class="btn btn-lg btn-success" name="ps" value="yk">
        <img src="{% static 'img/yandex_kassa.png' %}" style="height:30px">
      </button>
      <button type="submit" class="btn btn-lg btn-success" name="ps" value="rk">
        <img src="{% static 'img/robo_kassa.png' %}" style="height:30px">
      </button>
    </div>
  </form>
</a>
<a class="col-md-4 tarif">
  <div class="period">6 месяцев</div>
  {% if sale %}
    <div class="price">
      750<i class="fa fa-rub"></i>
      <div class="subprice">экономия 150<i class="fa fa-rub"></i></div>
    </div>
  {% else %}
    <div class="price">
      1990<i class="fa fa-rub"></i>
      <div class="subprice">экономия 350<i class="fa fa-rub"></i></div>
    </div>
  {% endif %}
  <form class="buy" action="{% url 'payment_pay' %}">
    <h3>Оплатить подписку</h3>
    <input type="hidden" name="m" value="6">
    <input type="hidden" name="mode" value="subscribe">
    <div class="btn-group-vertical">
      <button type="submit" class="btn btn-lg btn-success" name="ps" value="yk">
        <img src="{% static 'img/yandex_kassa.png' %}" style="height:30px">
      </button>
      <button type="submit" class="btn btn-lg btn-success" name="ps" value="rk">
        <img src="{% static 'img/robo_kassa.png' %}" style="height:30px">
      </button>
    </div>
  </form>
</a>