{% extends 'main/home.html' %}
{% load staticfiles %}

{% block scripts %}
  <link href="{% static 'css/payment_form.css' %}?3" rel="stylesheet" />
  <script src="{% static 'js/payment_form.js' %}?3"></script>
{% endblock %}

{% block title %}Платежи{% endblock %}

{% block content %}
<div class="row">
  {% include 'payment/form_inline.html' %}
</div>
{% endblock %}