{% extends 'main/home.html' %}
{% load staticfiles %}

{% block title %}Платежи{% endblock %}

{% block scripts %}
  <link href="{% static 'css/payment_form.css' %}?3" rel="stylesheet" />
  <script src="{% static 'js/payment_form.js' %}?3"></script>
{% endblock %}

{% block content %}
<div class="row">

  <div class="well col-md-12">
    {% if request.user.is_subscribed %}
      Вы подписаны на сервис до {{ request.user.subscription_date|date:'d.m.y' }}
    {% else %}
      У вас нет активной подписки
    {% endif %}
  </div>

  {% if not msg %}
    {% include 'payment/form_inline.html' %}
  {% endif %}

  {% if msg %}
    <div class="alert alert-danger">
      <h3>Ошибка при оплате</h3>
      <p>{{ msg }}</p>
    </div>
  {% elif invoice %}
    <div class="well well-lg col-md-12">
      <h3>Оплата на сумму {{ invoice.sum }} прошла успешно <i class="fa fa-check-circle-o" aria-hidden="true"></i></h3>
    </div>
  {% endif %}

  <div class="col-md-12">
    {% if invoices %}
    <table class="table table-bordered">
      <thead>
        <th>Описание</th>
        <th>Дата создания</th>
        <th>Сумма</th>
        <th>Статус</th>
        <th>Комментарий</th>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr>
            <td>{{ invoice.get_description }}</td>
            <td>{{ invoice.created_at|date:'d.m.y H:s' }}</td>
            <td>{{ invoice.sum }}</td>
            <td>{{ invoice.get_status }}</td>
            <td>{% if invoice.comment %}{{ invoice.comment }}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'main/pagination.html' with list=invoces %}
    {% else %}
      <div class="alert alert-info">
        <i>платежей нет</i>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}