{% load my_filters %}
<td id="date_{{day.date|to_timestamp}}" class="{% if day.today %}today{% elif day.date.month|divisibleby:2 %}odd{% endif %} day" onclick="cell_click(event, this);"
  unselectable="on" onselectstart="return false;" onmousedown="return false;">
  {% if day.today %}<u><b>{{ day.date|date:"d M Y"|lower }}</b></u>
  {% else %}{{ day.date|date:"d M Y"|lower }}{% endif %}
  <button type="button" class="btn btn-xs btn-danger pull-right" onclick="mark_form({{ day.date|to_timestamp }})"><i class="fa fa-check-square-o"></i></button>
  <br>
  {% for ds in day.drugs.values %}
  <span class="label label-pill label-danger">
    {{ ds.drug.short_name|lower }} {% if ds.is_marked %}<span style="color:white; text-decoration:line-through;">{{ ds.amount }}{{ ds.drug.measure }}</span>{% else %}{{ ds.amount }}{{ ds.drug.measure }}{% endif %}
  </span>
  {% endfor %}
</td>