{% load my_filters %}
{% for week in data %}
  <tr>
  {% for day in week.days %}
    {% include 'drugplan/calendar_cell.html' %}
  {% endfor %}
  {% if week.days|length > 1 %}
    <td id="total_{{week.date|to_timestamp}}" class="total">
      Неделя {{ week.weeknum }} <br>
      {% for s in week.total.values %}
      <span class="label label-pill label-warning">{{ s.drug.short_name|lower }} = {{ s.amount }} {{ s.drug.measure }}</span>
      {% endfor %}
    </td>
  </tr>
  {% endif %}
{% endfor %}