{% extends 'main/home.html' %}
{% load bootstrap3 %}

{% block title %}Создать СПМ{% endblock %}

{% block content %}
{{ block.super }}
<div class="col-md-12">
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary btn-lg pull-right">
        {% bootstrap_icon "star" %} Создать
      </button>
    {% endbuttons %}
  </form>
</div>
{% endblock %}