{% extends 'main/home.html' %}

{% load bootstrap3 %}
{% block title %}СПМ: {{ course.name }}{% endblock %}

{% block content %}
<a class="btn btn-default" href="{% url 'spm_show' course.id %}"><i class="fa fa-arrow-left"></i> вернуться к СПМ</a>
<form method="POST">
  {% csrf_token %}
  {% bootstrap_form form %}

  <div class="form-group pull-right">
    <button type="submit"class="btn btn-primary">Сохранить</button>
    <a class="btn btn-default" href="{% url 'spm_show' course.id %}">Отмена</a>
  </div>
</form>
{% endblock %}