{% extends 'main/home.html' %}
{% load my_filters %}

{% block title %}Мои СПМ{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="col-md-12">
  <ul class="nav nav-tabs">
    <li{% if mode = 'mine' %} class="active"{% endif %}><a href="{% url 'spm_list' %}">Мои <span class="badge">{{ mine_count }}</span></a></li>
    <li{% if mode = 'created' %} class="active"{% endif %}><a href="{% url 'spm_list' %}?created">Созданные <span class="badge">{{ created_count }}</span></a></li>
    <li{% if mode = 'public' %} class="active"{% endif %}><a href="{% url 'spm_list' %}?public">Публичные <span class="badge">{{ public_count }}</span></a></li>
  </ul>

  {% include 'drugplan/list_table.html' %}
  <a class="btn btn-success pull-right" href="{% url 'spm_create' %}"><i class="fa fa-plus"></i> Создать СПМ</a> 
</div>
{% endblock %}