{% if list %}
  <table class="table">
    <thead>
      <th>Название</th>
      <th>Просмотров</th>
      <th>Начало</th>
      <th>Конец</th>
      <th>Публичный доступ</th>
      <th>Создатель</th>
      <th>Спортсмен</th>
      {% if not no_delete %}
      <th>Удалить</th>
      {% endif %}
    </thead>
    <tbody>
      {% for obj in list %}
        <tr>
          <td>
            <a href="{% url 'spm_show' obj.id %}" class="possible_favorite">{{ obj.name }}</a><br>
            {% if obj.source%}<i>({{ obj.source.name }})</i>{% endif %}
          </td>
          <td>{{ obj.view_count }}</td>
          <td>{{ obj.start_date|date:"d.m.Y" }}</td>
          <td>{{ obj.last_date|date:"d.m.Y" }}</td>
          <td>
            {% if obj.is_public %}<i class="fa fa-check"></i>
            {% else %}<i class="fa fa-minus-circle"></i>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'profile_show' obj.author.username %}">{{ obj.author.fullname }}</a>
          </td>
          <td>
            {% if obj.patient %}
            <a href="{% url 'profile_show' obj.patient.username %}">{{ obj.patient.fullname }}</a>
            {% endif %}
          </td>
          {% if not no_delete %}
          <td>
            {% if obj.can_delete %}
            <form method="POST" action="{% url 'spm_delete' obj.id %}">
              {% csrf_token %}
              <a class="btn btn-danger" onclick="if(confirm('Это приведет к удалению схемы применения медикаментов и всех связанных с ним данных. Действительно продолжить?')){$(this).closest('form').submit()}">
                <i class="fa fa-trash-o"></i>
              </a>
            </form>
            {% endif %}
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'main/pagination.html' %}
{% else %}
<div class="alert alert-info">
  <i>пусто</i>
</div>
{% endif %}