{% extends 'main/home.html' %}
{% load my_filters %}
{% load staticfiles %}

{% block title %}СПМ: {{ course.name }}{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/spm.js' %}?5"></script>
<script type="text/javascript" src="{% static 'js/spm_dose_mark.js' %}"></script>
<link href="{% static 'css/spm.css' %}" rel="stylesheet" />

<script type="text/javascript">
var url = {
  'add': "{% url 'spm_drug_add' course.id %}",
  'add_form': "{% url 'spm_drug_add_form' %}",
  'delete': "{% url 'spm_drug_delete' course.id %}",
  'ajax': "{% url 'spm_ajax' course.id %}",
  'period': "{% url 'spm_period' course.id %}",
  'update': "{% url 'spm_update' course.id %}",
  'mark': "{% url 'spm_mark' course.id %}",
}
var can_edit = {% if can_edit %}1{% else %}0{% endif %};
var start_ts = {{ start_date|to_timestamp }};
var end_ts = {{ end_date|to_timestamp }};
</script>
{% endblock %}

{% block content %}
<div class="modal fade" id="modal_mark" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">День</h4>
      </div>
      <div class="loading" style="text-align:center"><i class="fa fa-refresh fa-spin fa-4x"></i></div>
      <div class="modal-body"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Редактировать</h4>
      </div>
      <ul class="nav nav-tabs">
        {% if can_edit %}
        <li class="active add"><a data-toggle="tab" href="#add">Добавить</a></li>
        <li class="del"><a data-toggle="tab" href="#del">Удалить</a></li>
        {% endif %}
        <li class="calc"><a data-toggle="tab" href="#calc">Расчитать</a></li>
      </ul>
      
      <div class="tab-content">
      
        {% if can_edit %}
        <div id="add" class="tab-pane fade in active">
          <div class="loading" style="text-align:center"><i class="fa fa-refresh fa-spin fa-4x"></i></div>
          <form autocomplete="off">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" class="close" data-dismiss="modal">Отменить</button>
              <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
          </form>
        </div>
      
        <div id="del" class="tab-pane fade">
          <div class="loading" style="text-align:center"><i class="fa fa-refresh fa-spin fa-4x"></i></div>
          <form>
            <div class="modal-body">
              {% csrf_token %}
              <table class="table">
                <thead>
                  <th><i class="fa fa-trash"></i></th>
                  <th>Название</th>
                  <th>Количество</th>
                  <th>В день</th>
                  <th>В неделю</th>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" class="close" data-dismiss="modal">Отменить</button>
              <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
          </form>
        </div>
        {% endif %}

        <div id="calc" class="tab-pane fade">
          <div class="loading" style="text-align:center"><i class="fa fa-refresh fa-spin fa-4x"></i></div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <th>Название</th>
                <th>Кол-во необходимо</th>
                <th>Кол-во в упаковке</th>
                <th>Упаковок</th>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      
      </div><!-- /.tab-content -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row" id="load_up_icon" style="text-align: center; vertical-align: middle; height: 100px;">
  <button class="btn btn-lg btn-success"><i class="fa fa-spinner fa-spin"></i> Загрузка...</button>
</div>
<table class="table table-bordered" id="drugplan_head">
  <thead>
    <tr class="active">
      <td colspan="8">
        {% if can_edit %}<a href="{% url 'spm_edit' course.id %}" class="btn btn-default pull-right"><i class="fa fa-edit"></i> редактировать СПМ</a>{% endif %}
        Схема приема медикаментов:<br>
        <i>{{ course.name }}</i>
      </td>
    </tr>
    <tr class="heads success">
      <td><span class="hidden-sm hidden-xs">Понедельник</span><span class="visible-sm visible-xs">Пн</span></td>
      <td><span class="hidden-sm hidden-xs">Вторник</span><span class="visible-sm visible-xs">Вт</span></td>
      <td><span class="hidden-sm hidden-xs">Среда</span><span class="visible-sm visible-xs">Ср</span></td>
      <td><span class="hidden-sm hidden-xs">Четверг</span><span class="visible-sm visible-xs">Чт</span></td>
      <td><span class="hidden-sm hidden-xs">Пятница</span><span class="visible-sm visible-xs">Пт</span></td>
      <td><span class="hidden-sm hidden-xs">Суббота</span><span class="visible-sm visible-xs">Сб</span></td>
      <td><span class="hidden-sm hidden-xs">Воскресенье</span><span class="visible-sm visible-xs">Вс</span></td>
      <td>Всего</td>
    </tr>
  <thead>
</table>
<table class="table table-bordered" id="drugplan">
  <tbody>
    {% include 'drugplan/calendar.html' %}
  </tbody>
</table>
<div class="row" id="load_down_icon" style="text-align: center; vertical-align: middle; height: 100px;">
  <button class="btn btn-lg btn-success"><i class="fa fa-spinner fa-spin"></i> Загрузка...</button>
</div>
{% endblock %}


{% block footer %}
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div style="margin:10px;">
      <span id="base_info">Используйте кнопки `Ctrl` для выделения отдельных дат и `Shift` для выделения диапазона дат.</span>
      <span id="selected_info" style="display:none">
        <span></span> <button class="btn btn-info" onclick="edit();"><i class="fa fa-edit"></i> открыть период</button>
      </span>
    </div>
  </div>
</nav>
{% endblock %}