{% load my_filters %}
{% if not data %}
{% else %}
<table class="table table-bordered table-striped">
<thead>
  <th class="hidden-xs" >#</th>
  <th>Наименование</th>
  <th>Приемы</th>
</thead>
{% for d in data %}
<tr>
  <td class="hidden-xs" >{{ forloop.counter }}</td>
  <td>
    <span class="visible-xs">{{ forloop.counter }}. <a href="{% url 'drug_show' d.drug.id %}" target="_blank">{{ d.drug.name }}</a></span>
    <span class="hidden-xs"><a href="{% url 'drug_show' d.drug.id %}" target="_blank">{{ d.drug.name }}</a></span>
  </td>
  {% for dose in d.doses|slice:":1" %}
    {% if can_mark %}
    <td>
      <button class="btn btn-sm dose-mark-{{ dose.id }} 
        {% if dose.is_marked == None %}btn-primary
        {% elif dose.is_marked == True %}btn-success
        {% elif dose.is_marked == False %}btn-danger{% endif %}" 
        {% if dose.marked_at %}title="Отмечено: {{ dose.marked_at|date:'d.m.Y H:i' }}"{% endif %}
        onclick="dose_mark({{ dose.id }}, {{ date|to_timestamp }})">
        {% if dose.is_marked == None %}<i class="fa fa-square-o"></i>
        {% elif dose.is_marked == True %}<i class="fa fa-check"></i>
        {% elif dose.is_marked == False %}<i class="fa fa-minus"></i>{% endif %}
        {{ dose.amount }} {{ d.drug.measure }}{% if dose.comment %} ({{ dose.comment }}){% endif %}
      </button>
    </td>
    {% else %}
    <td>{{ dose.amount }} {{ d.drug.measure }}{% if dose.comment %} ({{ dose.comment }}){% endif %}</td>
    {% endif %}
  {% endfor %}
</tr>
{% for dose in d.doses|slice:"1:" %}
<tr>
  <td class="hidden-xs" >&nbsp;</td>
  <td>&nbsp;</td>
  {% if can_mark %}
  <td>
    <button class="btn btn-sm dose-mark-{{ dose.id }} 
      {% if dose.is_marked == None %}btn-primary
      {% elif dose.is_marked == True %}btn-success
      {% elif dose.is_marked == False %}btn-danger{% endif %}" 
      {% if dose.marked_at %}title="Отмечено: {{ dose.marked_at|date:'d.m.Y H:i' }}"{% endif %}
      onclick="dose_mark({{ dose.id }}, {{ date|to_timestamp }})">
      {% if dose.is_marked == None %}<i class="fa fa-square-o"></i>
      {% elif dose.is_marked == True %}<i class="fa fa-check"></i>
      {% elif dose.is_marked == False %}<i class="fa fa-minus"></i>{% endif %}
      {{ dose.amount }} {{ d.drug.measure }}{% if dose.comment %} ({{ dose.comment }}){% endif %}
    </button>
  </td>
  {% else %}
  <td>{{ dose.amount }} {{ d.drug.measure }}{% if dose.comment %} ({{ dose.comment }}){% endif %}</td>
  {% endif %}
</tr>
{% endfor %}
{% endfor %}
</table>
{% endif %}