{% load bootstrap3 %}
{% load my_filters %}

{% bootstrap_form_errors form %}
{% csrf_token %}

{% if form.has_new_drug %}
  {% bootstrap_field form.drug form_group_class='form-group col-md-11' set_disabled=1 %}
  <div class="form-group col-md-1">
    <label>&nbsp;</label>
    <button class="btn btn-danger" type="button" onclick="add_new_drug(this);"><i class="fa fa-minus"></i></button>
  </div>
{% else %}
  {% bootstrap_field form.drug form_group_class='form-group col-md-11' %}
  <div class="form-group col-md-1">
    <label>&nbsp;</label>
    <button class="btn btn-default" type="button" onclick="add_new_drug(this);"><i class="fa fa-plus"></i></button>
  </div>
{% endif %}


<div class="new_drug" style="{% if not form.has_new_drug %}display:none;{% endif %}">
{% bootstrap_field form.new_drug_name form_group_class='form-group col-md-12' %}
{% bootstrap_field form.new_drug_short_name form_group_class='form-group col-md-12' %}
{% bootstrap_field form.new_drug_pack_size form_group_class='form-group col-md-6' %}
{% bootstrap_field form.new_drug_measure form_group_class='form-group col-md-6' %}
<div class="clearfix"></div>
</div>

<div class="amount_comment">
  {% bootstrap_field form.amount form_group_class='form-group col-md-5' %}
  {% bootstrap_field form.comment form_group_class='form-group col-md-6' %}
  <div class="form-group col-md-1">
    <label>&nbsp;</label>
    <button class="btn btn-default" type="button" onclick="add_dose(this);"><i class="fa fa-plus"></i></button>
  </div>
</div>

<div class="amount_comment" style="{% if not form.amount_2.errors %}display:none;{% endif %}">
  {% bootstrap_field form.amount_2 form_group_class='form-group col-md-5' show_label=0 %}
  {% bootstrap_field form.comment_2 form_group_class='form-group col-md-6' show_label=0 %}
  <div class="form-group col-md-1">
    <button class="btn btn-danger" type="button" onclick="del_dose(this);"><i class="fa fa-trash"></i></button>
  </div>
</div>

<div class="amount_comment" style="{% if not form.amount_3.errors %}display:none;{% endif %}">
  {% bootstrap_field form.amount_3 form_group_class='form-group col-md-5' show_label=0 %}
  {% bootstrap_field form.comment_3 form_group_class='form-group col-md-6' show_label=0 %}
  <div class="form-group col-md-1">
    <button class="btn btn-danger" type="button" onclick="del_dose(this);"><i class="fa fa-trash"></i></button>
  </div>
</div>

<div class="amount_comment" style="{% if not form.amount_4.errors %}display:none;{% endif %}">
  {% bootstrap_field form.amount_4 form_group_class='form-group col-md-5' show_label=0 %}
  {% bootstrap_field form.comment_4 form_group_class='form-group col-md-6' show_label=0 %}
  <div class="form-group col-md-1">
    <button class="btn btn-danger" type="button" onclick="del_dose(this);"><i class="fa fa-trash"></i></button>
  </div>
</div>

<div class="amount_comment" style="{% if not form.amount_5.errors %}display:none;{% endif %}">
  {% bootstrap_field form.amount_5 form_group_class='form-group col-md-5' show_label=0 %}
  {% bootstrap_field form.comment_5 form_group_class='form-group col-md-6' show_label=0 %}
  <div class="form-group col-md-1">
    <button class="btn btn-danger" type="button" onclick="del_dose(this);"><i class="fa fa-trash"></i></button>
  </div>
</div>

{% bootstrap_field form.scheme form_group_class='form-group col-md-12' %}
{% bootstrap_field form.every_n form_group_class='form-group col-md-6' %}
<div class="form-group{% if form.weekdays.errors %} has-error{% elif form.is_bound %} has-success{% endif %} col-md-6" id="id_weekdays">
  <label class="control-label">{{ form.weekdays.label }}</label>
  <table class="table table-bordered">
  <thead>
    <tr><th class="week_day_label green" id="label_0">Пн</th>
    <th class="week_day_label green" id="label_1">Вт</th>
    <th class="week_day_label" id="label_2">Ср</th>
    <th class="week_day_label green" id="label_3">Чт</th>
    <th class="week_day_label green" id="label_4">Пт</th>
    <th class="week_day_label" id="label_5">Сб</th>
    <th class="week_day_label" id="label_6">Вс</th>
  </tr></thead>
  <tbody>
    <tr>
      <td><input name="weekdays" type="checkbox" value="0" {% if '0' in form.weekdays.value %}checked="checked"{% endif %}></td>
      <td><input name="weekdays" type="checkbox" value="1" {% if '1' in form.weekdays.value %}checked="checked"{% endif %}></td>
      <td><input name="weekdays" type="checkbox" value="2" {% if '2' in form.weekdays.value %}checked="checked"{% endif %}></td>
      <td><input name="weekdays" type="checkbox" value="3" {% if '3' in form.weekdays.value %}checked="checked"{% endif %}></td>
      <td><input name="weekdays" type="checkbox" value="4" {% if '4' in form.weekdays.value %}checked="checked"{% endif %}></td>
      <td><input name="weekdays" type="checkbox" value="5" {% if '5' in form.weekdays.value %}checked="checked"{% endif %}></td>
      <td><input name="weekdays" type="checkbox" value="6" {% if '6' in form.weekdays.value %}checked="checked"{% endif %}></td>
    </tr>
  </tbody>
  </table>
  {% if form.weekdays.errors %}<span class="help-block">{{ form.weekdays.errors.0 }}</span>{% endif %}
</div>
<div class="clearfix"></div>