{% extends 'main/home.html' %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
  <div class="col-md-12 well well-lg" style="font-size:200%; text-align: center;">
    <h1>Страница не найдена</h1>
    <i>{{ exception }}</i>
  </div>
{% endblock %}