{% extends 'main/home.html' %}

{% block title %}Ошибка{% endblock %}

{% block content %}
  <div class="col-md-12 well well-lg" style="font-size:200%; text-align: center;">
    <h1>Извините, произошла ошибка на сайте</h1>
    <i>Пожалуйста сообщите нам в чат и мы скоро все поправим.</i>
  </div>
{% endblock %}